Triumphvariates final submition.json
[{"id":"473e79c9.de6b28","type":"tab","label":"Phoenix","disabled":false,"info":""},{"id":"7f0b93ab.a7f57c","type":"tab","label":"Intervals and Charting","disabled":false,"info":""},{"id":"3cdf4176.c3d1ce","type":"tab","label":"Live & Past","disabled":false,"info":""},{"id":"14be55da.ffabda","type":"tab","label":"Recommendation & Notification ","disabled":false,"info":""},{"id":"d40089bf.4716d8","type":"tab","label":"simply buffer","disabled":false,"info":""},{"id":"353b3a86.d21876","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4792c9d9.51abf8","type":"mui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"m-base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"m-page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"m-page-backgroundColor":{"value":"#fafafa","edited":false},"m-page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"m-group-textColor":{"value":"#1bbfff","edited":false},"m-group-borderColor":{"value":"#ffffff","edited":false},"m-group-backgroundColor":{"value":"#ffffff","edited":false},"m-widget-textColor":{"value":"#111111","edited":false},"m-widget-backgroundColor":{"value":"#0094ce","edited":false},"m-widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":10,"cy":6,"px":0,"py":0}}},{"id":"603daf87.d2128","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"},{"id":"a90691c7.e5194","type":"ui_spacer","name":"spacer","group":"","order":5,"width":1,"height":1},{"id":"87270d24.cde23","type":"ui_spacer","name":"spacer","group":"","order":2,"width":2,"height":1},{"id":"b49df11f.af48d","type":"ui_spacer","name":"spacer","group":"","order":3,"width":2,"height":1},{"id":"48e21ef7.69145","type":"ui_spacer","name":"spacer","group":"","order":4,"width":2,"height":1},{"id":"58ed2b49.cc87e4","type":"ui_spacer","name":"spacer","group":"","order":5,"width":2,"height":1},{"id":"6dccf2fc.19d1ac","type":"ui_spacer","name":"spacer","group":"","order":7,"width":2,"height":1},{"id":"4c5026f3.977b68","type":"ui_spacer","name":"spacer","group":"","order":8,"width":2,"height":1},{"id":"e9cf9f90.bce6e","type":"ui_spacer","name":"spacer","group":"","order":9,"width":2,"height":1},{"id":"28ad831b.3c238c","type":"ui_spacer","name":"spacer","group":"","order":10,"width":2,"height":1},{"id":"3645f3ef.18d9bc","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"},{"id":"ff7f45c3.2ef548","type":"ui_spacer","name":"spacer","group":"","order":4,"width":1,"height":1},{"id":"e085ec53.9df7c","type":"ui_spacer","name":"spacer","group":"","order":6,"width":1,"height":1},{"id":"1d160a06.bc4296","type":"ui_spacer","name":"spacer","group":"","order":8,"width":1,"height":1},{"id":"522d6d60.2bbe14","type":"ui_spacer","name":"spacer","group":"","order":10,"width":1,"height":1},{"id":"492f400c.ded27","type":"ui_group","z":"","name":"Summary","tab":"8ea2d054.5741","order":4,"disp":true,"width":4,"collapse":false},{"id":"f6768dda.f2e3a","type":"ui_group","z":"","name":"Forecast","tab":"8ea2d054.5741","order":3,"disp":true,"width":13,"collapse":false},{"id":"5126ffdd.adb43","type":"ui_group","z":"","name":"Stats","tab":"869b2eb6.a61b7","order":1,"disp":true,"width":"6","collapse":false},{"id":"8ea2d054.5741","type":"ui_tab","z":"","name":"5 Days Forecast ","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"6e49db3.bad7124","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"},{"id":"db6986a6.83b538","type":"ui_group","z":"","name":"Stats","tab":"8ea2d054.5741","order":2,"disp":true,"width":"5","collapse":false},{"id":"869b2eb6.a61b7","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"db91850c.ea75f8","type":"ui_group","z":"","name":"Console","tab":"ebab2f6d.57a99","order":2,"disp":true,"width":7,"collapse":false},{"id":"ebab2f6d.57a99","type":"ui_tab","z":"","name":"Recommendation","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"f30d2f86.7c2e5","type":"ui_group","z":"","name":"Forecast","tab":"869b2eb6.a61b7","order":2,"disp":true,"width":13,"collapse":false},{"id":"edb3ffea.3e32d","type":"ui_group","z":"","name":"Summary","tab":"869b2eb6.a61b7","order":3,"disp":true,"width":4,"collapse":false},{"id":"3b86cc4b.349fb4","type":"ui_group","z":"","name":"Power prediction","tab":"","order":2,"disp":true,"width":16,"collapse":false},{"id":"dc26cc14.4b027","type":"ui_group","z":"","name":"Stats","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"27bec381.15a1ac","type":"ui_tab","z":"","name":"Zooland Sys","icon":"home","order":6,"disabled":false,"hidden":false},{"id":"9e525acb.f5fed8","type":"ui_group","z":"","name":"Intervals","tab":"ebab2f6d.57a99","order":2,"disp":true,"width":9,"collapse":false},{"id":"c21630f8.33d4a","type":"ui_group","z":"","name":"Notification","tab":"ebab2f6d.57a99","order":3,"disp":true,"width":7,"collapse":false},{"id":"67651476.db3b9c","type":"ui_spacer","name":"spacer","group":"dc26cc14.4b027","order":1,"width":1,"height":1},{"id":"52c939f0.21d658","type":"ui_spacer","name":"spacer","group":"dc26cc14.4b027","order":2,"width":1,"height":1},{"id":"be7d9917.e4def8","type":"ui_spacer","name":"spacer","group":"dc26cc14.4b027","order":3,"width":1,"height":1},{"id":"5e6de766.53f5e8","type":"ui_spacer","name":"spacer","group":"dc26cc14.4b027","order":5,"width":1,"height":1},{"id":"c3753647.06fb18","type":"ui_group","z":"","name":"Timer","tab":"8ea2d054.5741","order":4,"disp":false,"width":"6","collapse":false},{"id":"2a38176f.16d9c8","type":"ui_group","z":"","name":"Power prediction","tab":"3dba0d15.d41f52","order":2,"disp":true,"width":16,"collapse":false},{"id":"a57c0698.bd2a28","type":"ui_group","z":"","name":"Stats","tab":"3dba0d15.d41f52","order":1,"disp":true,"width":"6","collapse":false},{"id":"842bd217.5add","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"},{"id":"33196825.6a3ed8","type":"ui_group","z":"","name":"Past Predictions","tab":"4b2bf88b.c609c8","order":2,"disp":false,"width":"21","collapse":false},{"id":"3dba0d15.d41f52","type":"ui_tab","z":"","name":"Today's live prediction","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"4b2bf88b.c609c8","type":"ui_tab","z":"","name":"Past Predictions","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"1fb56e03.8671f2","type":"ui_group","z":"","name":"Stats","tab":"4b2bf88b.c609c8","order":1,"disp":true,"width":4,"collapse":false},{"id":"91b43a0e.7bf4f8","type":"ui_spacer","name":"spacer","group":"db91850c.ea75f8","order":2,"width":1,"height":1},{"id":"12f61454.6aea2c","type":"ui_spacer","name":"spacer","group":"db91850c.ea75f8","order":4,"width":1,"height":1},{"id":"797637f4.ef39d8","type":"ui_spacer","name":"spacer","group":"db91850c.ea75f8","order":6,"width":1,"height":1},{"id":"162426fc.323cd9","type":"ui_spacer","name":"spacer","group":"db91850c.ea75f8","order":11,"width":2,"height":1},{"id":"6126621d.87630c","type":"ui_spacer","name":"spacer","group":"9e525acb.f5fed8","order":2,"width":1,"height":1},{"id":"2dd298b6.73fcf8","type":"ui_spacer","name":"spacer","group":"9e525acb.f5fed8","order":3,"width":1,"height":1},{"id":"1be41aaf.05a8c5","type":"ui_spacer","name":"spacer","group":"9e525acb.f5fed8","order":4,"width":1,"height":1},{"id":"7f43a64.7d52858","type":"ui_spacer","name":"spacer","group":"9e525acb.f5fed8","order":5,"width":1,"height":1},{"id":"d83abd88.7cebd","type":"ui_spacer","name":"spacer","group":"9e525acb.f5fed8","order":6,"width":1,"height":1},{"id":"5b910109.64416","type":"ui_spacer","name":"spacer","group":"9e525acb.f5fed8","order":7,"width":1,"height":1},{"id":"73ddf7e1.783748","type":"ui_spacer","name":"spacer","group":"9e525acb.f5fed8","order":9,"width":3,"height":1},{"id":"ad160b0b.08bda8","type":"ui_spacer","name":"spacer","group":"c21630f8.33d4a","order":1,"width":1,"height":1},{"id":"9b06d88b.ff8f78","type":"ui_spacer","name":"spacer","group":"c21630f8.33d4a","order":3,"width":1,"height":1},{"id":"63af1aac.1bf4e4","type":"ui_spacer","name":"spacer","group":"c21630f8.33d4a","order":5,"width":1,"height":1},{"id":"3f594857.3c7bf8","type":"ui_spacer","name":"spacer","group":"c21630f8.33d4a","order":7,"width":1,"height":1},{"id":"a931c9b8.32ea68","type":"ui_text","z":0,"group":"","order":0,"width":"0","height":"0","name":"","label":"","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-left","x":755.1000595092773,"y":172.60000705718994,"wires":[]},{"id":"17345b41.43e585","type":"inject","z":0,"name":"","topic":"","payload":"disarmed","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":383.00000762939453,"y":107.00000190734863,"wires":[["9025385c.b1c618"]]},{"id":"9025385c.b1c618","type":"function","z":0,"name":"Color Mapping","func":"switch (msg.payload) {\n\ncase \"disarmed\" : \n    msg.color = \"lime\";\n    break;\n    \ncase \"pending\" : \n    msg.color = \"yellow\";\n    break;\n    \ndefault : \n    msg.color = \"red\";\n    break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":586.1000556945801,"y":172.60000228881836,"wires":[["a931c9b8.32ea68"]]},{"id":"e5a812c5.8cbcd","type":"inject","z":0,"name":"","topic":"","payload":"pending","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":390.00000762939453,"y":154.00000190734863,"wires":[["9025385c.b1c618"]]},{"id":"5c0b8c53.b12cd4","type":"inject","z":0,"name":"","topic":"","payload":"armed_home","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":373.00000762939453,"y":201.00000286102295,"wires":[["9025385c.b1c618"]]},{"id":"675909be.8e3ec8","type":"inject","z":0,"name":"","topic":"","payload":"armed_away","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":371.00000762939453,"y":247.00000381469727,"wires":[["9025385c.b1c618"]]},{"id":"c41188d8.beada8","type":"inject","z":0,"name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":760,"wires":[[]]},{"id":"45a10180.347b7","type":"function","z":0,"name":"mapping 1","func":"var series =[\"Power\"];\n\nvar labels = [\"Time\"];\n\nvar data = [];\n\nvar i, len, string;\n\nfor (i = 1, len = msg.payload.length, string = \"\"; i < len; i++) \n{\n    data.push({\"x\":msg.payload[i]._id, \"y\":Number(msg.payload[i].power)});\n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":940,"wires":[["370e1e9a.0ea352"]]},{"id":"370e1e9a.0ea352","type":"ui_chart","z":0,"name":"Power vs Time","group":"","order":1,"width":12,"height":4,"label":"","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":940,"wires":[[]]},{"id":"b461cf4.c72e73","type":"function","z":0,"name":"mapping 2","func":"low  = global.get(\"low\")\nmed  = global.get(\"med\")\nhigh = global.get(\"high\")\n\n//var data = [];\n\n\nvar t , i, len, string;\nvar s = [0,0,0,0];\n\nfor (i = 0, len = msg.payload.length, string = \"\"; i < len; i++) \n{\n    //data.push({\"x\":msg.payload[i]._id, \"y\":Number(msg.payload[i].speed)});\n    t = assignState(msg.payload[i].power);\n    if(t === 0 ) s[0]++;\n    if(t === 1 ) s[1]++;\n    if(t === 2 ) s[2]++;\n    if(t === 3 ) s[3]++;\n    msg.payload[i].state = t;\n}\n\ns = [s];\n\nmsg.payload = [{\"series\" : [\"Count\"],\"data\" : s, \"labels\" : [\"Low\",\"Medium\",\"High\",\"Very High\"]}];\n//msg.payload = data\nreturn msg;\n\n\nfunction assignState(t)\n{\n    if(t < 200) return 0;\n    if(t < 500) return 1;\n    if(t < 800) return 2;\n    if(t > 800) return 3;\n    return (-1);\n}\n\n","outputs":1,"noerr":0,"x":590,"y":980,"wires":[["fb3ee7aa.ab45b8","6052617d.2e3d4"]]},{"id":"252bae33.a23942","type":"function","z":0,"name":"saving globally","func":"global.set(\"low\",msg.payload.low)\nglobal.set(\"med\",msg.payload.med)\nglobal.set(\"high\",msg.payload.high)\n\n//msg.topic = [ {\"Low\":0} ,{\"Medium\":1} ,{\"High\":2} ,{\"Very High\":3} ]\n//msg.payload = [msg.payload[0].low]\n/*\nif(msg.payload.low[0])\n{\n    msg.payload.low = msg.payload[0].low;\n    msg.payload.med = msg.payload[0].med;\n    msg.payload.high = msg.payload[0].high;\n\n}*/\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":700,"wires":[["4c91be7d.bd4b2","84a1c22b.3a145","f6b4ab0d.04e7e8"]]},{"id":"fb3ee7aa.ab45b8","type":"ui_chart","z":0,"name":"","group":"","order":1,"width":4,"height":4,"label":"Pie chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#6ee2c0","#36a4d3","#5441e1","#180070","#610000","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":980,"wires":[[]]},{"id":"6052617d.2e3d4","type":"ui_chart","z":0,"name":"","group":"","order":2,"width":4,"height":4,"label":"Bar chart","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#6ee2c0","#36a4d3","#5441e1","#180070","#610000","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":1020,"wires":[[]]},{"id":"f9e15cc5.214e1","type":"function","z":0,"name":"States ","func":"low  = global.get(\"low\")\nmed  = global.get(\"med\")\nhigh = global.get(\"high\")\n\nglobal.set(\"date\",-1)\nglobal.set(\"tier\",-1);\nglobal.set(\"odata\",msg.payload)\nvar t , i = 0, len, string;\nvar s = [0,0,0,0];\nlen = msg.payload.length;\nfor (i = 0 ; i < len; i++) \n{\n    //data.push({\"x\":msg.payload[i]._id, \"y\":Number(msg.payload[i].speed)});\n    t = assignState(msg.payload[i].power);\n    if(t === 0 ) s[0]++;\n    if(t === 1 ) s[1]++;\n    if(t === 2 ) s[2]++;\n    if(t === 3 ) s[3]++;\n    msg.payload[i].state = t;\n}\n\nmsg.statefull = msg.payload;\nreturn msg;\n\nfunction assignState(t)\n{\n    if(t < 200) return 0;\n    if(t < 500) return 1;\n    if(t < 800) return 2;\n    if(t > 800) return 3;\n    return (-1);\n}\n\n","outputs":1,"noerr":0,"x":570,"y":840,"wires":[["f2782f9b.a53"]]},{"id":"69b9d3f.4b3d22c","type":"ui_form","z":0,"name":"","label":"","group":"","order":1,"width":4,"height":4,"options":[{"label":"Low ","value":"low","type":"number","required":true,"rows":null},{"label":"Medium","value":"med","type":"number","required":true,"rows":null},{"label":"High","value":"high","type":"number","required":true,"rows":null}],"formValue":{"low":"","med":"","high":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":570,"y":640,"wires":[["57012b85.087954","268ed87d.825e78","252bae33.a23942"]]},{"id":"178327d2.dbaff8","type":"function","z":0,"name":"mapping 4","func":"d = global.get(\"date\");\ntier = global.get(\"tier\");\nvar series =[\"Power\"];\nvar labels = [\"Time\"];\nvar data = [];\n\nintervals = global.get(\"intervals\");\n\nvar i, len = intervals.length;\nfor (i = 1 ; i < len; i++) \n{\n    if(d === -1 || sameDates(d,intervals[i].start))\n    {\n        if(tier == -1 || intervals[i].state == tier)\n            data.push({\"x\":intervals[i].start, \"y\":Number(intervals[i].state)});\n\n    }\n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\n\nreturn msg;\n\nfunction sameDates(d1,d2)\n{\n    d2 = new Date(d2);\n    if(d1 == d2.getDate())\n        return true;\n    else\n        return false;\n}","outputs":1,"noerr":0,"x":1250,"y":1060,"wires":[["674a7aed.3e4694","6857c4c8.01fbfc"]]},{"id":"674a7aed.3e4694","type":"ui_chart","z":0,"name":"","group":"","order":2,"width":12,"height":4,"label":"State Chart","chartType":"line","legend":"true","xformat":"auto","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#63038c","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1430,"y":1060,"wires":[[]]},{"id":"f6b4ab0d.04e7e8","type":"ui_text","z":0,"group":"","order":3,"width":1,"height":1,"name":"","label":"","format":"{{msg.payload.high}}","layout":"row-spread","x":1150,"y":740,"wires":[]},{"id":"84a1c22b.3a145","type":"ui_text","z":0,"group":"","order":4,"width":1,"height":1,"name":"","label":"","format":"{{msg.payload.med}}","layout":"row-spread","x":1150,"y":700,"wires":[]},{"id":"4c91be7d.bd4b2","type":"ui_text","z":0,"group":"","order":2,"width":1,"height":1,"name":"","label":"","format":"{{msg.payload.low}}","layout":"row-spread","x":1150,"y":660,"wires":[]},{"id":"bb0251b3.c3a45","type":"cloudant out","z":0,"name":"","cloudant":"","database":"wind-range","service":"node-red-attempt-cloudant-1591811325230-5226","payonly":true,"operation":"insert","x":1030,"y":600,"wires":[]},{"id":"57012b85.087954","type":"delay","z":0,"name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":600,"wires":[["bb0251b3.c3a45"]]},{"id":"23ee4fa0.b6992","type":"function","z":0,"name":"mapping","func":"msg.payload = {\"low\":msg.payload[0].low , \"med\" : msg.payload[0].med , \"high\":msg.payload[0].high}\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":700,"wires":[["252bae33.a23942"]]},{"id":"5a46f05d.f9158","type":"cloudant in","z":0,"name":"Retrive docouments","cloudant":"","database":"mmm_test_1","service":"_ext_","search":"_all_","design":"","index":"","x":480,"y":1980,"wires":[["7e79411c.68b99"]]},{"id":"35f23099.7f75","type":"http in","z":0,"name":"Insert data","url":"/putdata","method":"get","swaggerDoc":"","x":187.99998474121094,"y":1875.8499908447266,"wires":[["9055098d.611ef8","54201374.c439bc"]]},{"id":"63dfa819.72de68","type":"http in","z":0,"name":"Retrieve data","url":"/getdata","method":"get","swaggerDoc":"","x":193.99998474121094,"y":1979.8499755859375,"wires":[["5a46f05d.f9158"]]},{"id":"9055098d.611ef8","type":"http response","z":0,"name":"Data inserted","x":746.0000305175781,"y":1877.4333190917969,"wires":[]},{"id":"7e79411c.68b99","type":"http response","z":0,"name":"List of documents","x":754.0000305175781,"y":1978.4333190917969,"wires":[]},{"id":"54201374.c439bc","type":"cloudant out","z":0,"name":"Insert test documents","cloudant":"","database":"mmm_test_1","service":"_ext_","payonly":true,"operation":"insert","x":481.00006103515625,"y":1923.7999877929688,"wires":[]},{"id":"beb1252a.1213c8","type":"comment","z":0,"name":"Using CloudantDB in Node-RED","info":"This is a simple flow that tests storing and retrieving documents from a \nCloudant database. It is borrowed from this tutorial by Dave Krier:\nhttps://www.youtube.com/watch?v=FXm2Bk-tCIc\n\nIt uses \"node-red-node-cf-cloudant\" Cloudant nodes which are documented\nhere:\nhttp://flows.nodered.org/node/node-red-node-cf-cloudant\n\nYou can sign up for a free Cloudant database here:\nhttps://cloudant.com/\n\nAfter signing up you should create a database then click on the\n\"Permissions\" tab to create a user. Click the \"Generate API Key\" button\nand record the key and password values.\n\nConfigure the Cloudant nodes by entering the path to the Cloudant database \nin the Host field. The key and password should be entered in the \nUsername and Password fields. Enter the database name in the Database field.\n\nDeploy your Node-red flow and open another browser tab to execute\ncreate, read and bulk delete operations:\n\n(1) To insert documents use commands of this type:\nhttp://localhost:1880/putdata?name=graham&age=29\n\n(2) To retrieve documents:\nhttp://localhost:1880/getdata\n\n(3) To delete ALL documents:\nhttp://localhost:1880/deleteall\n\nTODO - find a more efficient way to delete all the documents.\n","x":255.99998474121094,"y":1817.499984741211,"wires":[]},{"id":"374227bc.6f86d8","type":"http in","z":0,"name":"Delete all documents","url":"/deleteall","method":"get","upload":false,"swaggerDoc":"","x":219.54998779296875,"y":2058.5499877929688,"wires":[["7e8eddef.7ca834"]]},{"id":"7e8eddef.7ca834","type":"cloudant in","z":0,"name":"Retrieve documents","cloudant":"","database":"mmm_test_1","service":"_ext_","search":"_all_","design":"","index":"","x":474.8833312988281,"y":2057.994384765625,"wires":[["d786913c.bd189","768de6ac.ebb4a8"]]},{"id":"d786913c.bd189","type":"http response","z":0,"name":"List of documents to delete","x":779.4610900878906,"y":2057.5722045898438,"wires":[]},{"id":"f73a46bc.6d8368","type":"cloudant out","z":0,"name":"Remove all documents ","cloudant":"","database":"mmm_test_1","service":"_ext_","payonly":false,"operation":"delete","x":781.0000305175781,"y":2184.5333251953125,"wires":[]},{"id":"768de6ac.ebb4a8","type":"split","z":0,"name":"split out individual documents","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":474.99993896484375,"y":2126.883331298828,"wires":[["34983582.0b65da"]]},{"id":"828a5606.f8e348","type":"debug","z":0,"name":"id and rev to delete","active":true,"console":"false","complete":"payload","x":780.0000305175781,"y":2123.2333374023438,"wires":[]},{"id":"34983582.0b65da","type":"function","z":0,"name":"Extract id and rev","func":"\nvar document = {_id: msg.payload._id, _rev: msg.payload._rev};\n\nmsg.payload = document;\n\nreturn msg;","outputs":1,"noerr":0,"x":453,"y":2188.449981689453,"wires":[["f73a46bc.6d8368","828a5606.f8e348"]]},{"id":"2c429735.751cc8","type":"split","z":0,"name":"split out individual documents","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":980,"y":540,"wires":[["e37481d3.8e236"]]},{"id":"268ed87d.825e78","type":"cloudant in","z":0,"name":"Retrieve documents","cloudant":"","database":"wind-range","service":"node-red-attempt-cloudant-1591811325230-5226","search":"_all_","design":"","index":"","x":900,"y":540,"wires":[["2c429735.751cc8"]]},{"id":"e37481d3.8e236","type":"function","z":0,"name":"Extract id and rev","func":"\nvar document = {_id: msg.payload._id, _rev: msg.payload._rev};\n\nmsg.payload = document;\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":540,"wires":[["833b8c8e.00343"]]},{"id":"833b8c8e.00343","type":"cloudant out","z":0,"name":"Remove all documents ","cloudant":"","database":"wind-range","service":"node-red-attempt-cloudant-1591811325230-5226","payonly":false,"operation":"delete","x":1260,"y":540,"wires":[]},{"id":"39a2a6b4.a1952a","type":"function","z":0,"name":"Dropdown dates","func":"low  = global.get(\"low\")\nmed  = global.get(\"med\")\nhigh = global.get(\"high\")\n\nconst unique = (value, index, self) => {\n  return self.indexOf(value) === index\n}\n\nvar t , i = 0, len ;\nvar date = [{\"5 days\":-1}];\nlen = msg.payload.length;\nvar start,end;\nwhile(i < len-2)\n{\n    start = msg.payload[i]._id;\n    while(i < len-2 && sameDate(start , msg.payload[i+1]._id))\n    {\n        i++;\n    }\n    end = msg.payload[i+1]._id;\n    end = new Date(end);\n    var str = end.getDate() +\"/\"+ (end.getMonth()+1) +\"/\"+end.getYear();\n    date.push({[str]:parseInt(end.getDate())});\n    i++;\n}\ndate = date.filter(unique)\nmsg.options = date;\nmsg.payload = \"5 days\";\n\nglobal.set(\"dddates\",date);\n\nreturn msg;\n\n\n\nfunction sameDate(d1,d2)\n{\n    d1 = new Date(d1);\n    d2 = new Date(d2);\n    var date1 = d1.getDate();\n    var date2 = d2.getDate();\n    if(date1 === date2)\n        return true;\n    else\n        return false;\n}","outputs":1,"noerr":0,"x":600,"y":1040,"wires":[["f8791085.c856e"]]},{"id":"f8791085.c856e","type":"ui_dropdown","z":0,"name":"","label":"Date","tooltip":"","place":"","group":"","order":2,"width":5,"height":1,"passthru":false,"multiple":false,"options":[],"payload":"","topic":"","x":770,"y":1060,"wires":[["f30719e.c81e7e8"]]},{"id":"f30719e.c81e7e8","type":"function","z":0,"name":"saving globally","func":"global.set(\"date\",parseInt(msg.payload))\nmsg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":1060,"wires":[["178327d2.dbaff8","f422b93.1617a48","2a8eee35.a09552"]]},{"id":"1b5e7bd9.136444","type":"ui_dropdown","z":0,"name":"","label":"Power Generation","tooltip":"","place":"Select option","group":"","order":1,"width":5,"height":1,"passthru":false,"multiple":false,"options":[{"label":"All","value":"-1","type":"str"},{"label":"Low","value":0,"type":"num"},{"label":"Medium","value":1,"type":"num"},{"label":"High","value":2,"type":"num"},{"label":"Very High ","value":3,"type":"num"}],"payload":"","topic":"","x":810,"y":1200,"wires":[["3428cbc1.c6d334"]]},{"id":"199e141c.c68abc","type":"function","z":0,"d":true,"name":"","func":"var series =[\"Wind Speed\"];\n\nvar labels = [\"Wind Speed\",\"Time\"];\n\nvar data = [];\n\n\nvar i, len, string;\n\nfor (i = 1, len = msg.payload.length, string = \"\"; i < len; i++) \n{\n    data.push({\"x\":msg.payload[i]._id, \"y\":Number(msg.payload[i].speed)});\n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":1480,"wires":[["262df04a.b50fe"]]},{"id":"262df04a.b50fe","type":"ui_chart","z":0,"d":true,"name":"Wind Speed vs Time","group":"","order":4,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":280,"y":1500,"wires":[[]]},{"id":"f2782f9b.a53","type":"function","z":0,"name":"Intervals","func":"var start , end , state,len ,l1 = 1;\nvar l=0,m=0,h=0,vh=0,tp = 0;\ni = 0;\nlen = msg.payload.length;\nvar intervals = [] , power = [];\nwhile(i < len - 1 ) \n{\n    l1 = 1;\n    power = []\n    start = msg.payload[i]._id;\n    end = msg.payload[i]._id;\n    state = msg.payload[i].state\n    stateCount(state);\n    power.push(msg.payload[i].power)\n    while(i < len - 1 && msg.payload[i].state === msg.payload[i + 1].state)\n    {\n        end = msg.payload[i+1]._id;\n        power.push(msg.payload[i+1].power)\n        i++;\n        l1++;\n        //return power;\n    }\n    intervals.push({\"start\":start, \"end\":end , \"state\" :state , \"len\" : l1 ,\"power\" : power});\n\n    i++;\n\n}\ncount = [l*3,m*3,h*3,vh*3];\nglobal.set(\"count\",count);\nglobal.set(\"intervals\",intervals)\n\n//msg.payload = intervals;\nmsg.payload = count;\nreturn msg;\n\nfunction stateCount(t)\n{\n    switch(t) \n    {\n        case 0 : l++;break;\n        case 1 : m++;break;\n        case 2 : h++;break;\n        case 3 : vh++;break;\n    }\n}","outputs":1,"noerr":0,"x":780,"y":840,"wires":[["4b7dbd97.e8df94"]]},{"id":"3428cbc1.c6d334","type":"function","z":0,"name":"saving globally","func":"global.set(\"tier\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":1200,"wires":[["f422b93.1617a48","178327d2.dbaff8","2a8eee35.a09552"]]},{"id":"f422b93.1617a48","type":"function","z":0,"name":"mapping 5","func":"\nvar intervals = global.get(\"intervals\");\nvar date = global.get(\"date\");\nvar choice = global.get(\"tier\");\n\nvar chosen = [],start,end,diff,l1,avg,state;\n\nfor(var i = 0;i < intervals.length ; i++)\n{\n    if(choice == -1 || intervals[i].state == choice)\n    {\n        if(date == -1 || sameDates(date,intervals[i].start))\n        {\n            state = stateassign(intervals[i].state);\n            start = new Date(intervals[i].start);\n            end = new Date(intervals[i].end);\n            diff = intervals[i].len * 3;\n            start = dateformat(start);\n            chosen.push([start , diff ,state ,intervals[i].power]);\n        }\n    }\n}\n\n\nmsg.payload = chosen;\n\nreturn msg;\n\nfunction stateassign(t)\n{\n    switch(t)\n    {\n        case 0 : return \"Low\";\n        case 1 : return \"Medium\";\n        case 2 : return \"High\";\n        case 3 : return \"Very High\";\n    }\n    return \"\";\n}\n\nfunction diff_hours(dt2, dt1) \n {\n\n  var diff =(dt2.getTime() - dt1.getTime()) / 1000;\n  diff /= (60 * 60);\n  return Math.abs(Math.round(diff));\n  \n }\n \n function dateformat(d)\n {\n     var yy = d.getFullYear();\n     var m = d.getMonth() + 1;\n     var da = d.getDate();\n     //var hr = d.getHours();\n     //var min = d.getMinutes();\n     \n    //var str = da+\"/\"+m+\"/\"+yy+\" \"+hr+\":\"+min;\n     \n    var date = d;\n    var hours = date.getHours() > 12 ? date.getHours() - 12 : date.getHours();\n    var am_pm = date.getHours() >= 12 ? \"PM\" : \"AM\";\n    hours = hours < 10 ? \"0\" + hours : hours;\n    var time =da+\"/\"+m+\"/\"+yy+\" \"+hours + am_pm;\n    return time;\n }\n \nfunction sameDates(d1,d2)\n{\n    d2 = new Date(d2);\n    if(d1 == d2.getDate())\n        return true;\n    else\n        return false;\n}","outputs":1,"noerr":0,"x":1250,"y":1200,"wires":[["f38de8ee.081718","8a325363.272ab"]]},{"id":"8a325363.272ab","type":"ui_template","z":0,"d":true,"group":"","name":"","order":11,"width":5,"height":5,"format":"<table>\n    <tr>\n        <th>Starting time</th>\n        <th>Duration</th>\n        <th>State</th>\n    </tr>\n    <tr ng-repeat=\"row in msg.payload\">\n        <td>{{row[0]}}</td>\n        <td>{{row[1]}} hrs</td>\n        <td>{{row[2]}}</td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1420,"y":1160,"wires":[[]]},{"id":"f38de8ee.081718","type":"function","z":0,"name":"Aggregating","func":"var hrs = 0;\nconst arrSum = arr => arr.reduce((a,b) => a + b, 0)\n//const arrMin = arr => Math.min(...arr);\nvar ar = [];\nfor(var i = 0; i < msg.payload.length ; i++)\n{\n     hrs = msg.payload[i][1] + hrs;\n     ar.push(...msg.payload[i][3]);\n}\n\nvar sum = arrSum(ar);\nsum = Math.round(sum * 100)/100;\nvar min = Math.min(...ar);\nmin = Math.round(min * 100)/100;\nvar max = Math.max(...ar);\nmax = Math.round(max * 100)/100;\n\ncul = [sum,hrs,min,max];\nmsg.payload = cul;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1250,"y":1260,"wires":[["362c3413.24100c","6f7dff9.a79fd","278bbc2f.791394","cc8cdd6a.9a272"]]},{"id":"cc8cdd6a.9a272","type":"ui_text","z":0,"group":"","order":3,"width":4,"height":1,"name":"","label":"Total Power","format":"<span > {{msg.payload[0]}} KWh</span>","layout":"row-spread","x":1430,"y":1240,"wires":[]},{"id":"362c3413.24100c","type":"ui_text","z":0,"group":"","order":5,"width":4,"height":1,"name":"","label":"Total Time","format":"{{msg.payload[1]}}hrs","layout":"row-spread","x":1430,"y":1280,"wires":[]},{"id":"6f7dff9.a79fd","type":"ui_text","z":0,"group":"","order":9,"width":4,"height":1,"name":"","label":"Minimum Power","format":"{{msg.payload[2]}} KWh","layout":"row-spread","x":1440,"y":1320,"wires":[]},{"id":"278bbc2f.791394","type":"ui_text","z":0,"group":"","order":7,"width":4,"height":1,"name":"","label":"Maximum Power","format":"{{msg.payload[3]}} KWh","layout":"row-spread","x":1450,"y":1360,"wires":[]},{"id":"537798e4.c45f68","type":"function","z":0,"name":"Mapping","func":"let m = msg.payload\nlet out = []\nfor(x=0;x<m.length;x++){\n    out.push(m[x].wind)\n}\nglobal.set(\"data\",msg.out)\nglobal.set(\"finaldata\",[])\nreturn msg;\n\n/*\nout.push(\n        {\n            \"weather\":m[x].weather,\n        })\n*/","outputs":1,"noerr":0,"x":600,"y":280,"wires":[["f2b07003.a52c3"]]},{"id":"b0d92188.99a53","type":"function","z":0,"name":"Pre Prediction","func":"ws = global.get(\"ws\")\t\nwd = global.get(\"wd\")\nwg = 0\n//msg.payload = [ws,wd,wg,\"These were the inputs\"]\n\nvar token=msg.payload.access_token\nvar instance_id=\"a46414eb-1c1d-413f-b53a-ba46c6275d6f\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"WindSpeed\"], \"values\": [[ws]]}\nreturn msg;\n//msg.payload={\"fields\": [\"WindSpeed\",\"Wind_Direction\",\"Gust\"], \"values\": [[ws,wd,wg]]}\n","outputs":1,"noerr":0,"x":1200,"y":360,"wires":[["eb19f8b8.f2a488"]]},{"id":"7ae5dc8.f97c524","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":360,"wires":[["b0d92188.99a53"]]},{"id":"eb19f8b8.f2a488","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/a46414eb-1c1d-413f-b53a-ba46c6275d6f/deployments/070748fe-b700-4783-b834-f7478ca53b93/online","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":420,"wires":[["c37b84c6.7cad58","f2b07003.a52c3"]]},{"id":"df5fe267.f103","type":"function","z":0,"name":"PreToken","func":"global.set(\"ws\",msg.payload.wind.speed)\nglobal.set(\"wd\",msg.payload.wind.deg)\nglobal.set(\"dt\",msg.payload.dt)\n\nvar apikey=\"6jTNRsOV30eh1ANNQApM80rLLLwBqPxqa_2IpblPWLl_\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":360,"wires":[["7ae5dc8.f97c524"]]},{"id":"f2b07003.a52c3","type":"array-iterate","z":0,"name":"","source_object":"msg","source_property":"","x":790,"y":280,"wires":[["df5fe267.f103"],[]]},{"id":"52ebb08e.e5565","type":"cloudant out","z":0,"name":"","cloudant":"","database":"wind-energy","service":"node-red-attempt-cloudant-1591811325230-5226","payonly":true,"operation":"insert","x":1290,"y":480,"wires":[]},{"id":"c37b84c6.7cad58","type":"function","z":0,"name":"Saving in Cloudant","func":"/*var finaldata = global.get(\"finaldata\")\nlet t = []\nt.push(finaldata)\nt.push(msg.payload.values[0][0])\nglobal.set(\"finaldata\",t)\nmsg.finaldata = t\n*/\n\nvar ws = global.get(\"ws\")\nvar wd = global.get(\"wd\")\nvar unixTimestamp = global.get(\"dt\");\nvar date = new Date(unixTimestamp*1000);\n\n//str = msg.headers.date\n//datearray = str.split(\" \")\n//datearray.push(datearray[4].split(\":\"))\n//var date = new Date(datearray[3],datearray[2],datearray[1],datearray[6][0],datearray[6][1],datearray[6][2])\n//var date = new Date(str)\n\n/*\nmsg.payload = {\n    _id   : date,\n    power : msg.payload.values[0][0],\n    speed : msg.data.list[0].wind.speed,\n    speed : msg.data.list[0].wind.speed,\n    deg   : msg.data.list[0].wind.deg,\n}*/\n\nmsg.payload = {\n    _id   : date,\n    power : msg.payload.values[0][0],\n    speed : ws,\n//    deg   : wd,\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":480,"wires":[["52ebb08e.e5565"]]},{"id":"2e259580.3dadfa","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":240,"wires":[]},{"id":"58f56f6b.fd1b7","type":"function","z":0,"name":"PreToken","func":"global.set(\"ws\",msg.payload.wind.speed)\nglobal.set(\"wd\",msg.payload.wind.deg)\nglobal.set(\"dt\",msg.payload.dt)\n\nvar apikey=\"PSads5SCIlj5ybSze4lhjOzsFXYfn6Ch-aJSpLAsPPhE\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1460,"wires":[["959c84d1.b168c8","a5ca17a6.8fe378"]]},{"id":"a5ca17a6.8fe378","type":"debug","z":0,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":1420,"wires":[]},{"id":"959c84d1.b168c8","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":1460,"wires":[["17612324.36061d"]]},{"id":"d8ac11d2.1c894","type":"debug","z":0,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":1500,"wires":[]},{"id":"5e6bc227.58774c","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/a46414eb-1c1d-413f-b53a-ba46c6275d6f/deployments/8cd29215-ea05-46e8-aa5f-a242d904c05b/online","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":1560,"wires":[[]]},{"id":"17612324.36061d","type":"function","z":0,"name":"Pre Prediction","func":"ws = global.get(\"ws\")\t\nwd = global.get(\"wd\")\nwg = 0\n//msg.payload = [ws,wd,wg,\"These were the inputs\"]\n\nvar token=msg.payload.access_token\nvar instance_id=\"a46414eb-1c1d-413f-b53a-ba46c6275d6f\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"WindSpeed\",\"Wind_Direction\",\"Gust\"], \"values\": [[ws,wd,wg]]}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1580,"wires":[["5e6bc227.58774c","d8ac11d2.1c894"]]},{"id":"5aa429a.3b63ed8","type":"cloudant in","z":0,"name":"Retrieve documents","cloudant":"","database":"wind-energy","service":"node-red-attempt-cloudant-1591811325230-5226","search":"_all_","design":"","index":"","x":440,"y":120,"wires":[["24eb2de2.f2e142"]]},{"id":"d04ae385.32cbd","type":"cloudant out","z":0,"name":"Remove all documents ","cloudant":"","database":"wind-energy","service":"node-red-attempt-cloudant-1591811325230-5226","payonly":false,"operation":"delete","x":780,"y":120,"wires":[]},{"id":"24eb2de2.f2e142","type":"split","z":0,"name":"split out individual documents","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":520,"y":120,"wires":[["5b82b35e.ea8c0c"]]},{"id":"5b82b35e.ea8c0c","type":"function","z":0,"name":"Extract id and rev","func":"\nvar document = {_id: msg.payload._id, _rev: msg.payload._rev};\n\nmsg.payload = document;\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":120,"wires":[["d04ae385.32cbd"]]},{"id":"a4c951b7.9d18","type":"openweathermap","z":0,"name":"","wtype":"forecast","lon":"34.91","lat":"39.06","city":"","country":"","language":"en","x":390,"y":280,"wires":[["2e259580.3dadfa","537798e4.c45f68"]]},{"id":"d6a19e5.359ee6","type":"openweathermap in","z":0,"d":true,"name":"","wtype":"forecast","lon":"34.91","lat":"39.06","city":"","country":"","language":"en","x":220,"y":360,"wires":[[]]},{"id":"5985cbe0.f428f4","type":"inject","z":0,"name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/1 0 * * *","once":false,"onceDelay":0.1,"x":210,"y":280,"wires":[["a4c951b7.9d18"]]},{"id":"3c319400.bbb2ec","type":"comment","z":0,"name":"unused","info":"","x":310,"y":1400,"wires":[]},{"id":"4b7dbd97.e8df94","type":"function","z":0,"name":"Stats","func":"\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":840,"wires":[["26524a32.021306"]]},{"id":"26524a32.021306","type":"ui_template","z":0,"group":"","name":"Tier Duration stats","order":1,"width":5,"height":5,"format":"<table>\n    <tr>\n        <th>Tier</th>\n        <th>Duration</th>\n    </tr>\n    <tr>\n        <td style=\"text-align:center\">Low</td>\n        <td style=\"text-align:center\">{{msg.payload[0]}} Hrs</td>\n    </tr>\n        <tr>\n        <td style=\"text-align:center\">Medium</td>\n        <td style=\"text-align:center\">{{msg.payload[1]}} Hrs</td>\n    </tr>\n        <tr>\n        <td style=\"text-align:center\">High</td>\n        <td style=\"text-align:center\">{{msg.payload[2]}} Hrs</td>\n    </tr>\n        <tr>\n        <td style=\"text-align:center\">Very High</td>\n        <td style=\"text-align:center\">{{msg.payload[3]}} Hrs</td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1130,"y":840,"wires":[[]]},{"id":"74505c8.1953ba4","type":"function","z":0,"name":"Aggregating","func":"var hrs = 0;\n\nconst arrSum = arr => arr.reduce((a,b) => a + b, 0)\n\nvar len = msg.payload.length , i = 0;\nvar power = [];\nwhile(i < len)\n{\n    power.push(msg.payload[i].power);\n    hrs++;\n}\n\nvar sum = arrSum(power);\nsum = Math.round(sum * 100)/100;\nvar min = Math.min(power);\nmin = Math.round(min * 100)/100;\nvar max = Math.max(power);\nmax = Math.round(max * 100)/100;\n\ncul = [sum,hrs,min,max];\nmsg.payload = cul;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":590,"y":800,"wires":[["6880b71d.a9a668"]]},{"id":"6880b71d.a9a668","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":800,"wires":[]},{"id":"dc64f33e.0676","type":"inject","z":0,"name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":140,"wires":[["5aa429a.3b63ed8"]]},{"id":"a7d51ec3.babf2","type":"inject","z":0,"name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":100,"wires":[["5aa429a.3b63ed8"]]},{"id":"b5511a14.6de148","type":"ui_chart","z":0,"name":"Power vs Time","group":"","order":3,"width":12,"height":4,"label":"","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1440,"y":1000,"wires":[[]]},{"id":"6857c4c8.01fbfc","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1420,"y":960,"wires":[]},{"id":"2a8eee35.a09552","type":"function","z":0,"name":"mapping 3","func":"","outputs":1,"noerr":0,"x":1250,"y":1020,"wires":[["6857c4c8.01fbfc"]]},{"id":"9d37f75f.62b5b8","type":"function","z":0,"name":"date","func":"var t , i = 0, len , ddata = [] , data = [] , d;\nlen = msg.payload.length;\nfor (i = 0 ; i < len - 1; i++) \n{\n    ddata = [];\n    d = msg.payload[i]._id\n    while(i < len -1 && sameDates(msg.payload[i]._id,msg.payload[i+1]._id))\n    {\n        ddata.push({\"x\":msg.payload[i]._id , \"y\":msg.payload[i].power});\n        i++;\n    }\n    data.push({\"_id\":d,\"powerdata\":[...ddata]});\n    \n}\nmsg.payload = data;\nreturn msg;\n\n\nfunction sameDates(d1,d2)\n{\n    d1 = new Date(d1);\n    d2 = new Date(d2);\n    if(d1.getDate() == d2.getDate())\n        return true;\n    else\n        return false;\n}\n","outputs":1,"noerr":0,"x":570,"y":880,"wires":[["c85e3f99.44a03"]]},{"id":"c85e3f99.44a03","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":880,"wires":[]},{"id":"a8bb269.d1734d8","type":"openweathermap","z":0,"name":"","wtype":"current","lon":"34.91","lat":"39.06","city":"","country":"","language":"en","x":330,"y":180,"wires":[["4c0bc4b7.44464c","ad570915.0c25e8"]]},{"id":"7637343e.5f35fc","type":"inject","z":0,"name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"*/10 0-23 * * *","once":false,"onceDelay":"0.0","x":110,"y":180,"wires":[["a8bb269.d1734d8"]]},{"id":"6174d23c.2f5f7c","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":200,"wires":[]},{"id":"4c0bc4b7.44464c","type":"function","z":0,"name":"PreToken","func":"global.set(\"ws1\",msg.payload.windspeed)\n\nvar apikey=\"uN7laep2usMXGnAxovs6OkXEst-qh_XBC_9IzHog7iYt\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":180,"wires":[["d293ca94.644f78"]]},{"id":"d48333f4.23e47","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/e7312823-543f-4e76-b657-42927fee3e90/deployments/e74bdd3d-7e1a-47a0-94c4-e8dd13bbb376/online","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":240,"wires":[["5d9cdbb8.5e8854","b0362ba3.c5bed8"]]},{"id":"d293ca94.644f78","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":180,"wires":[["d91f97be.45bc28","7a977f4b.7a415"]]},{"id":"d91f97be.45bc28","type":"function","z":0,"name":"Pre Prediction","func":"ws = global.get(\"ws\")\t\n\n//msg.payload = [ws,wd,wg,\"These were the inputs\"]\n\nvar token=msg.payload.access_token\nvar instance_id=\"e7312823-543f-4e76-b657-42927fee3e90\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"WindSpeed\"], \"values\": [[ws]]}\nreturn msg;\n//msg.payload={\"fields\": [\"WindSpeed\",\"Wind_Direction\",\"Gust\"], \"values\": [[ws,wd,wg]]}\n","outputs":1,"noerr":0,"x":940,"y":180,"wires":[["d48333f4.23e47"]]},{"id":"77af40f8.ce81","type":"function","z":0,"name":"mapping","func":"msg.payload = msg.payload.power\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":240,"wires":[["3d2c1d27.fc0e22","6174d23c.2f5f7c","625b9a52.4f69e4"]]},{"id":"3d2c1d27.fc0e22","type":"ui_chart","z":0,"name":"Dynamic Power vs Time","group":"","order":1,"width":16,"height":6,"label":"Power vs Time Chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"yet to recieve ot data is not availble in this context","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1310,"y":340,"wires":[[]]},{"id":"625b9a52.4f69e4","type":"function","z":0,"name":"Stats","func":"var min,max,total;\n\nmax   = global.get(\"max\");\nmin   = global.get(\"min\")\ntotal = global.get(\"total\")\n\n    \nif(msg.payload > max)\n    max = msg.payload;\nmax = Math.round(max * 100)/100;\n\nif(msg.payload < min)\n    min = msg.payload;\nmin = Math.round(min * 100)/100;\n\ntotal = total + msg.payload;\ntotal = Math.round(total * 100)/100;\n\n\n\nglobal.set(\"total\",total)\nglobal.set(\"min\",min)\nglobal.set(\"max\",max)\n\n\nmsg.payload = [total,min,max]\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":440,"wires":[["dbbe1109.b7b5a","1ad83f7b.91d1f1","6d8069a9.5dfbf8","af44c033.46826"]]},{"id":"dbbe1109.b7b5a","type":"debug","z":0,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1390,"y":400,"wires":[]},{"id":"6d8069a9.5dfbf8","type":"ui_text","z":0,"group":"","order":1,"width":5,"height":1,"name":"","label":"Minimum Power","format":"{{msg.payload[1]}} KWh","layout":"row-spread","x":1400,"y":480,"wires":[]},{"id":"af44c033.46826","type":"ui_text","z":0,"group":"","order":3,"width":5,"height":1,"name":"","label":"Maximum Power","format":"{{msg.payload[2]}} KWh","layout":"row-spread","x":1410,"y":520,"wires":[]},{"id":"1ad83f7b.91d1f1","type":"ui_text","z":0,"group":"","order":5,"width":5,"height":1,"name":"","label":"Total Power","format":"<span > {{msg.payload[0]}} KWh</span>","layout":"row-spread","x":1390,"y":440,"wires":[]},{"id":"7a977f4b.7a415","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":120,"wires":[]},{"id":"5d9cdbb8.5e8854","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":300,"wires":[]},{"id":"ad570915.0c25e8","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":120,"wires":[]},{"id":"45270323.fd600c","type":"inject","z":0,"name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":1030,"y":500,"wires":[["8fed4155.52afb"]]},{"id":"8fed4155.52afb","type":"function","z":0,"name":"","func":"global.set(\"max\",0);\nglobal.set(\"min\",1000000)\nglobal.set(\"total\",0)\n\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":500,"wires":[[]]},{"id":"41dd7dfa.16c624","type":"inject","z":0,"name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":1010,"y":340,"wires":[["3d2c1d27.fc0e22","8fed4155.52afb"]]},{"id":"83268fc5.7f1e6","type":"cloudant out","z":0,"name":"","cloudant":"","database":"power-history","service":"node-red-attempt-cloudant-1591811325230-5226","payonly":true,"operation":"insert","x":840,"y":300,"wires":[]},{"id":"ba05f396.9785a","type":"cloudant in","z":0,"name":"","cloudant":"","database":"power-history","service":"node-red-attempt-cloudant-1591811325230-5226","search":"_all_","design":"","index":"","x":280,"y":180,"wires":[["84eeb96.49dc648","c7db79f3.3709b8"]]},{"id":"c8d3c046.f02e7","type":"inject","z":0,"name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["ba05f396.9785a"]]},{"id":"84eeb96.49dc648","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":220,"wires":[]},{"id":"1d9f2470.2c482c","type":"ui_chart","z":0,"name":"Dynamic Power vs Time","group":"","order":1,"width":21,"height":8,"label":"Power(KWh) vs Time Chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"yet to recieve ot data is not availble in this context","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000000000000000000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":140,"wires":[[]]},{"id":"c7db79f3.3709b8","type":"function","z":0,"name":"mapping 1","func":"var series =[\"Power\"];\n\nvar labels = [\"Time\"];\n\nvar data = [];\n\nvar i, len;\n\nfor (i = 1, len = msg.payload.length; i < len; i++) \n{\n    data.push({\"x\":msg.payload[i]._id, \"y\":Number(msg.payload[i].power)});\n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":160,"wires":[["1d9f2470.2c482c","761ef4bf.c930ec"]]},{"id":"761ef4bf.c930ec","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":200,"wires":[]},{"id":"b0362ba3.c5bed8","type":"function","z":0,"name":"Saving in Cloudant","func":"\nvar ws1 = global.get('ws1')\nmsg.payload = {\n    _id   : msg.time,\n    power : msg.payload.values[0][0],\n    speed : ws1,\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":240,"wires":[["77af40f8.ce81","83268fc5.7f1e6","8301f1f5.8c5de"]]},{"id":"8301f1f5.8c5de","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":280,"wires":[]},{"id":"25499820.9e1278","type":"inject","z":0,"name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["582a4239.a3baac"]]},{"id":"582a4239.a3baac","type":"cloudant in","z":0,"name":"","cloudant":"","database":"power-history","service":"node-red-attempt-cloudant-1591811325230-5226","search":"_all_","design":"","index":"","x":300,"y":140,"wires":[["3e4a1087.159df","b31f05ab.4ba948"]]},{"id":"3e4a1087.159df","type":"debug","z":0,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":300,"wires":[]},{"id":"b31f05ab.4ba948","type":"function","z":0,"name":"mapping 1","func":"var series =[\"Power\"];\n\nvar labels = [\"Time\"];\n\nvar data = [];\n\nvar i, len;\n\nfor (i = 1, len = msg.payload.length; i < len; i++) \n{\n    data.push({\"x\":msg.payload[i]._id, \"y\":Number(msg.payload[i].power)});\n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":415.10005950927734,"y":92.60000705718994,"wires":[["4c4e0982.ea6648","c3056878.e53268"]]},{"id":"4c4e0982.ea6648","type":"ui_chart","z":0,"name":"Dynamic Power vs Time","group":"","order":1,"width":21,"height":8,"label":"Power(KWh) vs Time Chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"yet to recieve ot data is not availble in this context","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000000000000000000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":535.1000595092773,"y":192.60000705718994,"wires":[[]]},{"id":"c3056878.e53268","type":"debug","z":0,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":100,"wires":[]},{"id":"15563194.f8ea0e","type":"openweathermap","z":0,"name":"","wtype":"current","lon":"34.91","lat":"39.06","city":"","country":"","language":"en","x":270,"y":400,"wires":[["60c8ede.7f5e914"]]},{"id":"5fd0abdf.160164","type":"inject","z":0,"name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"*/10 0-23 * * *","once":false,"onceDelay":"0.0","x":110,"y":460,"wires":[["15563194.f8ea0e"]]},{"id":"371ea4fb.f9191c","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":460,"wires":[]},{"id":"60c8ede.7f5e914","type":"function","z":0,"name":"PreToken","func":"global.set(\"ws1\",msg.payload.windspeed)\n\nvar apikey=\"uN7laep2usMXGnAxovs6OkXEst-qh_XBC_9IzHog7iYt\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":420,"wires":[["ad08efbd.d6f33"]]},{"id":"75c5a68a.396298","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/e7312823-543f-4e76-b657-42927fee3e90/deployments/e74bdd3d-7e1a-47a0-94c4-e8dd13bbb376/online","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":420,"wires":[["5e7e2b9d.79b144"]]},{"id":"ad08efbd.d6f33","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":420,"wires":[["bb894cc6.cd4a2"]]},{"id":"bb894cc6.cd4a2","type":"function","z":0,"name":"Pre Prediction","func":"ws = global.get(\"ws\")\t\n\n//msg.payload = [ws,wd,wg,\"These were the inputs\"]\n\nvar token=msg.payload.access_token\nvar instance_id=\"e7312823-543f-4e76-b657-42927fee3e90\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"WindSpeed\"], \"values\": [[ws]]}\nreturn msg;\n//msg.payload={\"fields\": [\"WindSpeed\",\"Wind_Direction\",\"Gust\"], \"values\": [[ws,wd,wg]]}\n","outputs":1,"noerr":0,"x":660,"y":420,"wires":[["75c5a68a.396298"]]},{"id":"a04b136d.f52be","type":"function","z":0,"name":"mapping","func":"msg.payload = msg.payload.power\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":520,"wires":[["3b2c7a42.a123c6","371ea4fb.f9191c","f855dcc6.6d9ac"]]},{"id":"3b2c7a42.a123c6","type":"ui_chart","z":0,"name":"Dynamic Power vs Time","group":"2a38176f.16d9c8","order":1,"width":16,"height":6,"label":"Power vs Time Chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"yet to recieve ot data is not availble in this context","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1010,"y":620,"wires":[[]]},{"id":"f855dcc6.6d9ac","type":"function","z":0,"name":"Stats","func":"var min,max,total;\n\nmax   = global.get(\"max\");\nmin   = global.get(\"min\")\ntotal = global.get(\"total\")\n\n    \nif(msg.payload > max)\n    max = msg.payload;\nmax = Math.round(max * 100)/100;\n\nif(msg.payload < min)\n    min = msg.payload;\nmin = Math.round(min * 100)/100;\n\ntotal = total + msg.payload;\ntotal = Math.round(total * 100)/100;\n\n\n\nglobal.set(\"total\",total)\nglobal.set(\"min\",min)\nglobal.set(\"max\",max)\n\n\nmsg.payload = [total,min,max]\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":520,"wires":[["1e156dbb.bb4002","be9092f1.bfeed","f2aabd3.c5a864","c90565b0.ac5118"]]},{"id":"1e156dbb.bb4002","type":"debug","z":0,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1410,"y":480,"wires":[]},{"id":"f2aabd3.c5a864","type":"ui_text","z":0,"group":"a57c0698.bd2a28","order":1,"width":5,"height":1,"name":"","label":"Minimum Power","format":"{{msg.payload[1]}} KWh","layout":"row-spread","x":1420,"y":560,"wires":[]},{"id":"c90565b0.ac5118","type":"ui_text","z":0,"group":"a57c0698.bd2a28","order":2,"width":5,"height":1,"name":"","label":"Maximum Power","format":"{{msg.payload[2]}} KWh","layout":"row-spread","x":1430,"y":600,"wires":[]},{"id":"be9092f1.bfeed","type":"ui_text","z":0,"group":"a57c0698.bd2a28","order":3,"width":5,"height":1,"name":"","label":"Total Power","format":"<span > {{msg.payload[0]}} KWh</span>","layout":"row-spread","x":1410,"y":520,"wires":[]},{"id":"fa83e31a.31db9","type":"inject","z":0,"name":"","topic":"","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":790,"y":660,"wires":[["14ec48a2.e94aa7"]]},{"id":"14ec48a2.e94aa7","type":"function","z":0,"name":"","func":"global.set(\"max\",0);\nglobal.set(\"min\",1000000)\nglobal.set(\"total\",0)\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":660,"wires":[[]]},{"id":"61f4431f.d54adc","type":"inject","z":0,"name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":790,"y":620,"wires":[["3b2c7a42.a123c6","14ec48a2.e94aa7"]]},{"id":"f1e6370a.0a2608","type":"cloudant out","z":0,"name":"","cloudant":"842bd217.5add","database":"power-history","service":"node-red-attempt-cloudant-1591811325230-5226","payonly":true,"operation":"insert","x":1020,"y":420,"wires":[]},{"id":"5e7e2b9d.79b144","type":"function","z":0,"name":"Saving in Cloudant","func":"\nvar ws1 = global.get('ws1')\nmsg.payload = {\n    _id   : msg.time,\n    power : msg.payload.values[0][0],\n    speed : ws1,\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":420,"wires":[["a04b136d.f52be","f1e6370a.0a2608","acc90c06.f5c58"]]},{"id":"acc90c06.f5c58","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":380,"wires":[]},{"id":"60f85525.3d1f3c","type":"inject","z":0,"name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":280,"wires":[["1fb771a7.ece58e"]]},{"id":"1fb771a7.ece58e","type":"cloudant in","z":0,"name":"","cloudant":"842bd217.5add","database":"power-history","service":"node-red-attempt-cloudant-1591811325230-5226","search":"_all_","design":"","index":"","x":420,"y":300,"wires":[["2f6a78a1.1b5c88"]]},{"id":"2f6a78a1.1b5c88","type":"function","z":0,"name":"mapping 1","func":"var series =[\"Power\"];\n\nvar labels = [\"Time\"];\n\nvar data = [];\n\nvar i, len;\n\nfor (i = 1, len = msg.payload.length; i < len; i++) \n{\n    data.push({\"x\":msg.payload[i]._id, \"y\":Number(msg.payload[i].power)});\n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":300,"wires":[["ca49ebf5.5fab38"]]},{"id":"ca49ebf5.5fab38","type":"ui_chart","z":0,"name":"Dynamic Power vs Time","group":"33196825.6a3ed8","order":1,"width":21,"height":8,"label":"Power(KWh) vs Time Chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"yet to recieve ot data is not availble in this context","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000000000000000000","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":910,"y":300,"wires":[[]]},{"id":"6acad1c3.dd0ff","type":"cloudant in","z":"3cdf4176.c3d1ce","name":"Retrive docouments","cloudant":"","database":"mmm_test_1","service":"_ext_","search":"_all_","design":"","index":"","x":694.8999404907227,"y":2447.39999294281,"wires":[["7d9bb377.41a46c"]]},{"id":"cb673b8.53e88c8","type":"http in","z":"3cdf4176.c3d1ce","name":"Insert data","url":"/putdata","method":"get","swaggerDoc":"","x":402.8999252319336,"y":2343.2499837875366,"wires":[["679e9f95.7d0c4","95061d1e.7173a"]]},{"id":"a15aef8e.aba29","type":"http in","z":"3cdf4176.c3d1ce","name":"Retrieve data","url":"/getdata","method":"get","swaggerDoc":"","x":408.8999252319336,"y":2447.2499685287476,"wires":[["6acad1c3.dd0ff"]]},{"id":"679e9f95.7d0c4","type":"http response","z":"3cdf4176.c3d1ce","name":"Data inserted","x":960.8999710083008,"y":2344.833312034607,"wires":[]},{"id":"7d9bb377.41a46c","type":"http response","z":"3cdf4176.c3d1ce","name":"List of documents","x":968.8999710083008,"y":2445.833312034607,"wires":[]},{"id":"95061d1e.7173a","type":"cloudant out","z":"3cdf4176.c3d1ce","name":"Insert test documents","cloudant":"","database":"mmm_test_1","service":"_ext_","payonly":true,"operation":"insert","x":695.9000015258789,"y":2391.199980735779,"wires":[]},{"id":"2169c594.c6d55a","type":"comment","z":"3cdf4176.c3d1ce","name":"Using CloudantDB in Node-RED","info":"This is a simple flow that tests storing and retrieving documents from a \nCloudant database. It is borrowed from this tutorial by Dave Krier:\nhttps://www.youtube.com/watch?v=FXm2Bk-tCIc\n\nIt uses \"node-red-node-cf-cloudant\" Cloudant nodes which are documented\nhere:\nhttp://flows.nodered.org/node/node-red-node-cf-cloudant\n\nYou can sign up for a free Cloudant database here:\nhttps://cloudant.com/\n\nAfter signing up you should create a database then click on the\n\"Permissions\" tab to create a user. Click the \"Generate API Key\" button\nand record the key and password values.\n\nConfigure the Cloudant nodes by entering the path to the Cloudant database \nin the Host field. The key and password should be entered in the \nUsername and Password fields. Enter the database name in the Database field.\n\nDeploy your Node-red flow and open another browser tab to execute\ncreate, read and bulk delete operations:\n\n(1) To insert documents use commands of this type:\nhttp://localhost:1880/putdata?name=graham&age=29\n\n(2) To retrieve documents:\nhttp://localhost:1880/getdata\n\n(3) To delete ALL documents:\nhttp://localhost:1880/deleteall\n\nTODO - find a more efficient way to delete all the documents.\n","x":470.8999252319336,"y":2284.899977684021,"wires":[]},{"id":"426d75ec.c3813c","type":"http in","z":"3cdf4176.c3d1ce","name":"Delete all documents","url":"/deleteall","method":"get","upload":false,"swaggerDoc":"","x":434.4499282836914,"y":2525.949980735779,"wires":[["ad63cd4.9aa433"]]},{"id":"ad63cd4.9aa433","type":"cloudant in","z":"3cdf4176.c3d1ce","name":"Retrieve documents","cloudant":"","database":"mmm_test_1","service":"_ext_","search":"_all_","design":"","index":"","x":689.7832717895508,"y":2525.394377708435,"wires":[["11d478b3.cc5727","259d1f4b.80c43"]]},{"id":"11d478b3.cc5727","type":"http response","z":"3cdf4176.c3d1ce","name":"List of documents to delete","x":994.3610305786133,"y":2524.972197532654,"wires":[]},{"id":"911a1714.9fa3c8","type":"cloudant out","z":"3cdf4176.c3d1ce","name":"Remove all documents ","cloudant":"","database":"mmm_test_1","service":"_ext_","payonly":false,"operation":"delete","x":995.8999710083008,"y":2651.9333181381226,"wires":[]},{"id":"259d1f4b.80c43","type":"split","z":"3cdf4176.c3d1ce","name":"split out individual documents","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":689.8998794555664,"y":2594.283324241638,"wires":[["1dba5bae.4dbd74"]]},{"id":"ee929ab4.3cfea8","type":"debug","z":"3cdf4176.c3d1ce","name":"id and rev to delete","active":true,"console":"false","complete":"payload","x":994.8999710083008,"y":2590.633330345154,"wires":[]},{"id":"1dba5bae.4dbd74","type":"function","z":"3cdf4176.c3d1ce","name":"Extract id and rev","func":"\nvar document = {_id: msg.payload._id, _rev: msg.payload._rev};\n\nmsg.payload = document;\n\nreturn msg;","outputs":1,"noerr":0,"x":667.8999404907227,"y":2655.849974632263,"wires":[["911a1714.9fa3c8","ee929ab4.3cfea8"]]},{"id":"59e7344.d0a2acc","type":"cloudant in","z":"3cdf4176.c3d1ce","name":"","cloudant":"","database":"power-history","service":"node-red-attempt-cloudant-1591811325230-5226","search":"_all_","design":"","index":"","x":380,"y":420,"wires":[["cd7fff57.8f323","c74985be.df8a38"]]},{"id":"2d80ef5b.42123","type":"inject","z":"3cdf4176.c3d1ce","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":420,"wires":[["59e7344.d0a2acc"]]},{"id":"873b2e97.1afd7","type":"ui_chart","z":"3cdf4176.c3d1ce","name":"Dynamic Power vs Time","group":"33196825.6a3ed8","order":2,"width":21,"height":8,"label":"Power(KWh) vs Time Chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"yet to recieve ot data is not availble in this context","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000000000000000000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":460,"wires":[[]]},{"id":"cd7fff57.8f323","type":"function","z":"3cdf4176.c3d1ce","name":"mapping 1","func":"var series =[\"Power\"];\n\nvar labels = [\"Time\"];\n\nvar data = [];\n\nvar i, len;\n\nfor (i = 1, len = msg.payload.length; i < len; i++) \n{\n    data.push({\"x\":msg.payload[i]._id, \"y\":Number(msg.payload[i].power)});\n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":420,"wires":[["873b2e97.1afd7"]]},{"id":"b566eed7.1412b","type":"inject","z":"7f0b93ab.a7f57c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":460,"wires":[["fac60d4f.92077","381f0959.2482a6"]]},{"id":"f2afabcd.830cb8","type":"function","z":"7f0b93ab.a7f57c","name":"Dynamic power chart","func":"var series =[\"Power\"];\n\nvar labels = [\"Time\"];\n\nvar data = [];\n\nvar i, len, string;\n\nfor (i = 1, len = msg.payload.length, string = \"\"; i < len; i++) \n{\n    data.push({\"x\":msg.payload[i]._id, \"y\":Number(msg.payload[i].power)});\n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":620,"wires":[["9c4f01b7.707fe"]]},{"id":"9c4f01b7.707fe","type":"ui_chart","z":"7f0b93ab.a7f57c","name":"Static Power vs Time","group":"f6768dda.f2e3a","order":1,"width":13,"height":4,"label":"Power vs Time Chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1260,"y":620,"wires":[[]]},{"id":"e6aacf10.adf9a","type":"function","z":"7f0b93ab.a7f57c","name":"Static Summary Charts ","func":"low  = global.get(\"low\")\nmed  = global.get(\"med\")\nhigh = global.get(\"high\")\n\n//var data = [];\n\n\nvar t , i, len, string;\nvar s = [0,0,0,0];\n\nfor (i = 0, len = msg.payload.length; i < len; i++) \n{\n    //data.push({\"x\":msg.payload[i]._id, \"y\":Number(msg.payload[i].speed)});\n    t = assignState(msg.payload[i].power);\n    if(t === 0 ) s[0]++;\n    if(t === 1 ) s[1]++;\n    if(t === 2 ) s[2]++;\n    if(t === 3 ) s[3]++;\n    msg.payload[i].state = t;\n}\n\ns = [s];\n\nmsg.payload = [{\"series\" : [\"Count\"],\"data\" : s, \"labels\" : [\"Low\",\"Medium\",\"High\",\"Very High\"]}];\n//msg.payload = data\nreturn msg;\n\n\nfunction assignState(t)\n{\n    if(t < low) return 0;\n    if(t < med) return 1;\n    if(t < high) return 2;\n    if(t > high) return 3;\n    return (-1);\n}\n\n","outputs":1,"noerr":0,"x":790,"y":680,"wires":[["2ca82515.9811da","c7e4ca5f.98e868"]]},{"id":"4060e475.c9ce4c","type":"function","z":"7f0b93ab.a7f57c","name":"saving globally","func":"global.set(\"low\",msg.payload.low)\nglobal.set(\"med\",msg.payload.med)\nglobal.set(\"high\",msg.payload.high)\n\n//msg.topic = [ {\"Low\":0} ,{\"Medium\":1} ,{\"High\":2} ,{\"Very High\":3} ]\n//msg.payload = [msg.payload[0].low]\n/*\nif(msg.payload.low[0])\n{\n    msg.payload.low = msg.payload[0].low;\n    msg.payload.med = msg.payload[0].med;\n    msg.payload.high = msg.payload[0].high;\n\n}*/\nreturn msg;","outputs":1,"noerr":0,"x":954.8999404907227,"y":407.39999294281006,"wires":[["c232a2d7.bf1f7","73d8f8e1.8a9c08","da2aa7dd.6a4a58"]]},{"id":"2ca82515.9811da","type":"ui_chart","z":"7f0b93ab.a7f57c","name":"","group":"492f400c.ded27","order":1,"width":4,"height":4,"label":"Pie chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#6ee2c0","#36a4d3","#5441e1","#180070","#610000","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1000,"y":680,"wires":[[]]},{"id":"c7e4ca5f.98e868","type":"ui_chart","z":"7f0b93ab.a7f57c","name":"","group":"492f400c.ded27","order":2,"width":4,"height":4,"label":"Bar chart","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#6ee2c0","#36a4d3","#5441e1","#180070","#610000","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1000,"y":720,"wires":[[]]},{"id":"4e6034a0.e0e10c","type":"function","z":"7f0b93ab.a7f57c","name":"States ","func":"low  = global.get(\"low\")\nmed  = global.get(\"med\")\nhigh = global.get(\"high\")\n\nglobal.set(\"date\",-1)\nglobal.set(\"tier\",-1);\n\nvar t , i = 0, len, string;\nvar s = [0,0,0,0];\nlen = msg.payload.length;\nfor (i = 0 ; i < len; i++) \n{\n    t = assignState(msg.payload[i].power);\n    if(t === 0 ) s[0]++;\n    if(t === 1 ) s[1]++;\n    if(t === 2 ) s[2]++;\n    if(t === 3 ) s[3]++;\n    msg.payload[i].state = t;\n}\n\nmsg.statefull = msg.payload;\nglobal.set(\"odata\",msg.payload)\n\nreturn msg;\n\nfunction assignState(t)\n{\n    if(t < low) return 0;\n    if(t < med) return 1;\n    if(t < high) return 2;\n    if(t > high) return 3;\n    return (-1);\n}\n\n","outputs":1,"noerr":0,"x":724.8999404907227,"y":547.3999929428101,"wires":[["69233f98.46da","32697bde.d10964","d66e22d6.600f"]]},{"id":"18683124.c0addf","type":"ui_form","z":"7f0b93ab.a7f57c","name":"","label":"","group":"db91850c.ea75f8","order":7,"width":5,"height":4,"options":[{"label":"Low ","value":"low","type":"number","required":true,"rows":null},{"label":"Medium","value":"med","type":"number","required":true,"rows":null},{"label":"High","value":"high","type":"number","required":true,"rows":null}],"formValue":{"low":"","med":"","high":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":650,"y":320,"wires":[["ed13e0a8.04b52","afa6136a.1fade","4060e475.c9ce4c","b00a4418.e80898"]]},{"id":"ed05e376.2e96","type":"function","z":"7f0b93ab.a7f57c","name":"mapping 4","func":"d = global.get(\"date\");\ntier = global.get(\"tier\");\nvar series =[\"Power\"];\nvar labels = [\"Time\"];\nvar data = [];\nvar buf = 0;\nintervals = global.get(\"intervals\");\n\nvar i, len = intervals.length;\nfor (i = 0 ; i < len; i++) \n{\n    if(d === -1 || sameDates(d,intervals[i].start))\n    {\n        if(tier === -1 || intervals[i].state == tier)\n            data.push({\"x\":intervals[i].start, \"y\":Number(intervals[i].state)});\n            buf = i;\n    }\n}\nif(data.length === 0)\n{\n    msg.payload = [data,tier,d]\n    return msg;\n}\n\nif(data.length === 1)\n{\n    data.push({\"x\":intervals[buf].end, \"y\":Number(intervals[buf].state)})    \n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\n\nreturn msg;\n\nfunction sameDates(d1,d2)\n{\n    d2 = new Date(d2);\n    if(d1 == d2.getDate())\n        return true;\n    else\n        return false;\n}","outputs":1,"noerr":0,"x":690,"y":1360,"wires":[["d98d6459.e80b98","22cebc01.b889a4"]]},{"id":"d98d6459.e80b98","type":"ui_chart","z":"7f0b93ab.a7f57c","name":"Dynamic State chart","group":"f30d2f86.7c2e5","order":2,"width":13,"height":4,"label":"State vs Time Chart","chartType":"line","legend":"true","xformat":"auto","interpolate":"step","nodata":"Data is yet to reach","dot":false,"ymin":"0","ymax":"4","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#63038c","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":980,"y":1380,"wires":[[]]},{"id":"da2aa7dd.6a4a58","type":"ui_text","z":"7f0b93ab.a7f57c","group":"db91850c.ea75f8","order":10,"width":2,"height":1,"name":"","label":"","format":"{{msg.payload.high}} KWh","layout":"row-spread","x":1290,"y":440,"wires":[]},{"id":"73d8f8e1.8a9c08","type":"ui_text","z":"7f0b93ab.a7f57c","group":"db91850c.ea75f8","order":9,"width":2,"height":1,"name":"","label":"","format":"{{msg.payload.med}} KWh","layout":"row-spread","x":1290,"y":400,"wires":[]},{"id":"c232a2d7.bf1f7","type":"ui_text","z":"7f0b93ab.a7f57c","group":"db91850c.ea75f8","order":8,"width":2,"height":1,"name":"","label":"","format":"{{msg.payload.low}} KWh","layout":"row-spread","x":1290,"y":360,"wires":[]},{"id":"7cd9f99a.eb1cd8","type":"cloudant out","z":"7f0b93ab.a7f57c","name":"","cloudant":"","database":"wind-range","service":"node-red-attempt-cloudant-1591811325230-5226","payonly":true,"operation":"insert","x":1210,"y":300,"wires":[]},{"id":"ed13e0a8.04b52","type":"delay","z":"7f0b93ab.a7f57c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":280,"wires":[["7cd9f99a.eb1cd8"]]},{"id":"e1158ae1.dea078","type":"function","z":"7f0b93ab.a7f57c","name":"mapping","func":"msg.payload = {\"low\":msg.payload[0].low , \"med\" : msg.payload[0].med , \"high\":msg.payload[0].high}\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":400,"wires":[["4060e475.c9ce4c"]]},{"id":"fa543dec.aa4ee","type":"split","z":"7f0b93ab.a7f57c","name":"split out individual documents","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":1134.8999404907227,"y":247.39999294281006,"wires":[["8d27ebb2.1eb7d8"]]},{"id":"afa6136a.1fade","type":"cloudant in","z":"7f0b93ab.a7f57c","name":"Retrieve documents","cloudant":"6e49db3.bad7124","database":"wind-range","service":"node-red-attempt-cloudant-1591811325230-5226","search":"_all_","design":"","index":"","x":920,"y":240,"wires":[["fa543dec.aa4ee"]]},{"id":"8d27ebb2.1eb7d8","type":"function","z":"7f0b93ab.a7f57c","name":"Extract id and rev","func":"\nvar document = {_id: msg.payload._id, _rev: msg.payload._rev};\n\nmsg.payload = document;\n\nreturn msg;","outputs":1,"noerr":0,"x":1144.8999404907227,"y":247.39999294281006,"wires":[["31193c28.0091f4"]]},{"id":"31193c28.0091f4","type":"cloudant out","z":"7f0b93ab.a7f57c","name":"Remove all documents ","cloudant":"6e49db3.bad7124","database":"wind-range","service":"node-red-attempt-cloudant-1591811325230-5226","payonly":false,"operation":"delete","x":1414.8999404907227,"y":247.39999294281006,"wires":[]},{"id":"32ff351e.5079fa","type":"function","z":"7f0b93ab.a7f57c","name":"Dropdown dates","func":"low  = global.get(\"low\")\nmed  = global.get(\"med\")\nhigh = global.get(\"high\")\n\nconst unique = (value, index, self) => {\n  return self.indexOf(value) === index\n}\n\nvar t , i = 0, len ;\nvar date = [{\"5 days\":-1}];\nlen = msg.payload.length;\nvar start,end;\nwhile(i < len-1)\n{\n    start = msg.payload[i]._id;\n    while(i < len-2 && sameDate(start , msg.payload[i+1]._id))\n    {\n        i++;\n    }\n    end = msg.payload[i]._id;\n    end = new Date(end);\n    var str = end.getDate() +\"/\"+ (end.getMonth()+1) +\"/\"+end.getYear();\n    date.push({[str]:parseInt(end.getDate())});\n    i++;\n}\ndate = date.filter(unique)\nmsg.options = date;\nmsg.payload = -1;\n//var temp = msg;\nglobal.set(\"doptions\",date);\n\nreturn msg;\n\n\n\nfunction sameDate(d1,d2)\n{\n    d1 = new Date(d1);\n    d2 = new Date(d2);\n    var date1 = d1.getDate();\n    var date2 = d2.getDate();\n    if(date1 === date2)\n        return true;\n    else\n        return false;\n}","outputs":1,"noerr":0,"x":740,"y":940,"wires":[[]]},{"id":"13ecf621.0210ca","type":"ui_dropdown","z":"7f0b93ab.a7f57c","name":"","label":"Date","tooltip":"","place":"","group":"5126ffdd.adb43","order":2,"width":6,"height":1,"passthru":false,"multiple":false,"options":[],"payload":"","topic":"","x":870,"y":1020,"wires":[["b55f2328.e4821"]]},{"id":"b55f2328.e4821","type":"function","z":"7f0b93ab.a7f57c","name":"saving globally","func":"global.set(\"date\",parseInt(msg.payload))\nmsg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":1020,"wires":[[]]},{"id":"17abb363.18be7d","type":"ui_dropdown","z":"7f0b93ab.a7f57c","name":"","label":"Stats","tooltip":"","place":"Select option","group":"5126ffdd.adb43","order":1,"width":6,"height":1,"passthru":false,"multiple":false,"options":[{"label":"All","value":"-1","type":"str"},{"label":"Low","value":0,"type":"num"},{"label":"Medium","value":1,"type":"num"},{"label":"High","value":2,"type":"num"},{"label":"Very High ","value":3,"type":"num"}],"payload":"","topic":"","x":870,"y":1060,"wires":[["fdb6f506.7ed658"]]},{"id":"69233f98.46da","type":"function","z":"7f0b93ab.a7f57c","name":"State Intervals,save and mapping","func":"var start , end , state,len ,l1 = 1;\nvar l=0,m=0,h=0,vh=0,tp = 0;\ni = 0;\nlen = msg.payload.length;\nvar intervals = [] , power = [];\nwhile(i < len - 1 ) \n{\n    l1 = 1;\n    power = []\n    start = msg.payload[i]._id;\n    end = msg.payload[i]._id;\n    state = msg.payload[i].state\n    power.push(msg.payload[i].power)\n    while((i < len - 1) && (msg.payload[i].state === msg.payload[i + 1].state) && sameDates(start,end)) \n    {\n        end = msg.payload[i+1]._id;\n        power.push(msg.payload[i+1].power)\n        i++;\n        l1++;\n        if(l1 >= 8)\n            break;\n        //return power;\n    }\n    intervals.push({\"start\":start, \"end\":end , \"state\" :state , \"len\" : l1 ,\"power\" : power});\n    stateCount(state,l1);\n\n    i++;\n\n}\n\ncount = [l*3,m*3,h*3,vh*3];\nglobal.set(\"count\",count);\n\nglobal.set(\"intervals\",intervals)\n\n//msg.payload = intervals;\nmsg.payload = count;\nreturn msg;\n\n\nfunction sameDates(d1,d2)\n{\n\n    d1 = new Date(d1);\n    d2 = new Date(d2);\n\n    if(d1.getDate() === d2.getDate())\n        return true;\n    else\n        return false;\n}\n\nfunction stateCount(t,l1)\n{\n    switch(t) \n    {\n        case 0 : l = l + l1;break;\n        case 1 : m = m + l1;break;\n        case 2 : h = h + l1;break;\n        case 3 : vh = vh + l1;break;\n    }\n}","outputs":1,"noerr":0,"x":1000,"y":520,"wires":[["612c1847.e86be8"]]},{"id":"fdb6f506.7ed658","type":"function","z":"7f0b93ab.a7f57c","name":"saving globally","func":"global.set(\"tier\",parseInt(msg.payload));\nmsg.payload = parseInt(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":1060,"wires":[[]]},{"id":"480ebdcc.7e7584","type":"ui_text","z":"7f0b93ab.a7f57c","group":"5126ffdd.adb43","order":4,"width":3,"height":1,"name":"","label":"Total Power","format":"<span > {{msg.payload[0]}} KWh</span>","layout":"row-spread","x":1230,"y":1260,"wires":[]},{"id":"5173d2c9.0a8d5c","type":"ui_text","z":"7f0b93ab.a7f57c","group":"5126ffdd.adb43","order":5,"width":3,"height":1,"name":"","label":"Total Time","format":"{{msg.payload[1]}} Hrs","layout":"row-spread","x":1230,"y":1300,"wires":[]},{"id":"9294b118.4110c","type":"ui_text","z":"7f0b93ab.a7f57c","group":"5126ffdd.adb43","order":7,"width":3,"height":1,"name":"","label":"Minimum Power","format":"{{msg.payload[2]}} KWh","layout":"row-spread","x":1240,"y":1340,"wires":[]},{"id":"d01c4428.267008","type":"ui_text","z":"7f0b93ab.a7f57c","group":"5126ffdd.adb43","order":6,"width":3,"height":1,"name":"","label":"Maximum Power","format":"{{msg.payload[3]}} KWh","layout":"row-spread","x":1250,"y":1380,"wires":[]},{"id":"612c1847.e86be8","type":"ui_template","z":"7f0b93ab.a7f57c","group":"db6986a6.83b538","name":"State Duration stats","order":1,"width":5,"height":3,"format":"<table>\n    <tr>\n        <th>State</th>\n        <th>Duration</th>\n    </tr>\n    <tr>\n        <td style=\"text-align:center\">Low</td>\n        <td style=\"text-align:center\">{{msg.payload[0]}} Hrs</td>\n    </tr>\n        <tr>\n        <td style=\"text-align:center\">Medium</td>\n        <td style=\"text-align:center\">{{msg.payload[1]}} Hrs</td>\n    </tr>\n        <tr>\n        <td style=\"text-align:center\">High</td>\n        <td style=\"text-align:center\">{{msg.payload[2]}} Hrs</td>\n    </tr>\n        <tr>\n        <td style=\"text-align:center\">Very High</td>\n        <td style=\"text-align:center\">{{msg.payload[3]}} Hrs</td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1250,"y":520,"wires":[[]]},{"id":"4fddb5fe.8b847c","type":"function","z":"7f0b93ab.a7f57c","name":"Aggregating","func":"var hrs = 0;\n\nconst arrSum = arr => arr.reduce((a,b) => a + b, 0)\n\nvar len = msg.payload.length , i = 0;\nvar power = [];\nwhile(i < len)\n{\n    power.push(msg.payload[i].power);\n    hrs++;\n    i++;\n}\n\nvar sum = arrSum(power);\nsum = Math.round(sum * 100)/100;\nvar min = Math.min(...power);\nmin = Math.round(min * 100)/100;\nvar max = Math.max(...power);\nmax = Math.round(max * 100)/100;\n\ncul = [sum,hrs*3,min,max];\nmsg.payload = cul;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":750,"y":840,"wires":[["ffdebd26.744c6","4693751e.9b4a9c","e21415e5.654878","2a77ebcc.4a7ad4"]]},{"id":"a3f9c51a.6d05c8","type":"ui_chart","z":"7f0b93ab.a7f57c","name":"Dynamic Power vs Time","group":"f30d2f86.7c2e5","order":1,"width":13,"height":4,"label":"Power vs Time Chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"nothing","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":990,"y":1200,"wires":[[]]},{"id":"1e8c87e6.3275e8","type":"function","z":"7f0b93ab.a7f57c","name":"mapping 3","func":"d = global.get(\"date\");\ntier = global.get(\"tier\");\nvar series =[\"Power\"];\nvar labels = [\"Time\"];\nvar data = [];\n\nodata = global.get(\"odata\");\n\nvar i, len = odata.length;\nfor (i = 0 ; i < len; i++) \n{\n    if(d === -1 || sameDates(d,odata[i]._id))\n    {\n        if(tier == -1 || odata[i].state == tier)\n            data.push({\"x\":odata[i]._id, \"y\":Number(odata[i].power)});\n\n    }\n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\n\nreturn msg;\n\nfunction sameDates(d1,d2)\n{\n    d2 = new Date(d2);\n    if(d1 == d2.getDate())\n        return true;\n    else\n        return false;\n}\n\n","outputs":1,"noerr":0,"x":690,"y":1240,"wires":[["a3f9c51a.6d05c8","c0b553a1.13ad","63bcb385.2cce9c"]]},{"id":"d66e22d6.600f","type":"function","z":"7f0b93ab.a7f57c","d":true,"name":"date intervals and save","func":"var t , i = 0, len , ddata = [] , data = [] , d;\nlen = msg.payload.length;\nfor (i = 0 ; i < len - 1; i++) \n{\n    ddata = [];\n    d = msg.payload[i]._id\n    while(i < len -1 && sameDates(msg.payload[i]._id,msg.payload[i+1]._id))\n    {\n        ddata.push({\"x\":msg.payload[i]._id , \"y\":msg.payload[i].power});\n        i++;\n    }\n    data.push({\"_id\":d,\"powerdata\":[...ddata]});\n    \n}\nglobal.set(\"dateintervals\",data);\nmsg.payload = data;\nreturn msg;\n\n\nfunction sameDates(d1,d2)\n{\n    d1 = new Date(d1);\n    d2 = new Date(d2);\n    if(d1.getDate() == d2.getDate())\n        return true;\n    else\n        return false;\n}\n","outputs":1,"noerr":0,"x":990,"y":480,"wires":[[]]},{"id":"7bd8a766.f8f378","type":"inject","z":"7f0b93ab.a7f57c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":240,"wires":[["afa6136a.1fade"]]},{"id":"9842426c.50dff","type":"function","z":"473e79c9.de6b28","name":"Mapping","func":"//Initialising for today's forecast\nglobal.set(\"total\",0)\nglobal.set(\"min\",1000000)\nglobal.set(\"max\",0)\nglobal.set(\"count\",0)\n\nlet m = msg.payload\nlet out = []\nfor(x=0;x<m.length;x++){\n    out.push(m[x].wind)\n}\nglobal.set(\"data\",msg.out)\nglobal.set(\"finaldata\",[])\nreturn msg;\n\n/*\nout.push(\n        {\n            \"weather\":m[x].weather,\n        })\n*/","outputs":1,"noerr":0,"x":520,"y":420,"wires":[["7b3db641.692388"]]},{"id":"e9485215.bc459","type":"function","z":"473e79c9.de6b28","name":"Pre Prediction","func":"ws = global.get(\"ws\")\t\nwd = global.get(\"wd\")\nwg = 0\n//msg.payload = [ws,wd,wg,\"These were the inputs\"]\n\nvar token=msg.payload.access_token\nvar instance_id=\"e7312823-543f-4e76-b657-42927fee3e90\"\n//var instance_id=\"a46414eb-1c1d-413f-b53a-ba46c6275d6f\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"WindSpeed\"], \"values\": [[ws]]}\nreturn msg;\n//msg.payload={\"fields\": [\"WindSpeed\"], \"values\": [[ws]]}\n","outputs":1,"noerr":0,"x":1020,"y":420,"wires":[["1baf562c.685cda"]]},{"id":"e725052c.7736c8","type":"http request","z":"473e79c9.de6b28","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":420,"wires":[["e9485215.bc459"]]},{"id":"1baf562c.685cda","type":"http request","z":"473e79c9.de6b28","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/e7312823-543f-4e76-b657-42927fee3e90/deployments/e74bdd3d-7e1a-47a0-94c4-e8dd13bbb376/online","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":500,"wires":[["cf183d92.a7dc6","7b3db641.692388"]]},{"id":"40e0fd79.94bf74","type":"function","z":"473e79c9.de6b28","name":"PreToken","func":"global.set(\"ws\",msg.payload.wind.speed)\nglobal.set(\"wd\",msg.payload.wind.deg)\nglobal.set(\"dt\",msg.payload.dt)\n\n//var apikey=\"6jTNRsOV30eh1ANNQApM80rLLLwBqPxqa_2IpblPWLl_\";\nvar apikey=\"uN7laep2usMXGnAxovs6OkXEst-qh_XBC_9IzHog7iYt\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":420,"wires":[["e725052c.7736c8"]]},{"id":"7b3db641.692388","type":"array-iterate","z":"473e79c9.de6b28","name":"","source_object":"msg","source_property":"","x":690,"y":420,"wires":[["40e0fd79.94bf74"],[]]},{"id":"7d1ef28e.0a298c","type":"cloudant out","z":"473e79c9.de6b28","name":"","cloudant":"","database":"wind-energy","service":"node-red-attempt-cloudant-1591811325230-5226","payonly":true,"operation":"insert","x":1330,"y":500,"wires":[]},{"id":"cf183d92.a7dc6","type":"function","z":"473e79c9.de6b28","name":"Saving in Cloudant","func":"/*var finaldata = global.get(\"finaldata\")\nlet t = []\nt.push(finaldata)\nt.push(msg.payload.values[0][0])\nglobal.set(\"finaldata\",t)\nmsg.finaldata = t\n*/\n\nvar ws = global.get(\"ws\")\nvar wd = global.get(\"wd\")\nvar unixTimestamp = global.get(\"dt\");\nvar date = new Date(unixTimestamp*1000);\n\n//str = msg.headers.date\n//datearray = str.split(\" \")\n//datearray.push(datearray[4].split(\":\"))\n//var date = new Date(datearray[3],datearray[2],datearray[1],datearray[6][0],datearray[6][1],datearray[6][2])\n//var date = new Date(str)\n\n/*\nmsg.payload = {\n    _id   : date,\n    power : msg.payload.values[0][0],\n    speed : msg.data.list[0].wind.speed,\n    speed : msg.data.list[0].wind.speed,\n    deg   : msg.data.list[0].wind.deg,\n}*/\n\nmsg.payload = {\n    _id   : date,\n    power : msg.payload.values[0][0],\n    speed : ws,\n//    deg   : wd,\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":500,"wires":[["7d1ef28e.0a298c"]]},{"id":"991a8456.9f0a68","type":"debug","z":"473e79c9.de6b28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":380,"wires":[]},{"id":"1ebb1292.5445cd","type":"cloudant in","z":"473e79c9.de6b28","name":"Retrieve documents","cloudant":"6e49db3.bad7124","database":"wind-energy","service":"node-red-attempt-cloudant-1591811325230-5226","search":"_all_","design":"","index":"","x":365.10005950927734,"y":252.60000705718994,"wires":[["683f82a9.5f1f1c"]]},{"id":"22e7214b.6b018e","type":"cloudant out","z":"473e79c9.de6b28","name":"Remove all documents ","cloudant":"6e49db3.bad7124","database":"wind-energy","service":"node-red-attempt-cloudant-1591811325230-5226","payonly":false,"operation":"delete","x":760,"y":260,"wires":[]},{"id":"683f82a9.5f1f1c","type":"split","z":"473e79c9.de6b28","name":"split out individual documents","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":460,"y":240,"wires":[["2d1e48d0.607e68"]]},{"id":"2d1e48d0.607e68","type":"function","z":"473e79c9.de6b28","name":"Extract id and rev","func":"\nvar document = {_id: msg.payload._id, _rev: msg.payload._rev};\n\nmsg.payload = document;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":240,"wires":[["22e7214b.6b018e"]]},{"id":"af8effd5.ae9f5","type":"openweathermap","z":"473e79c9.de6b28","name":"","wtype":"forecast","lon":"34.91","lat":"39.06","city":"","country":"","language":"en","x":330,"y":420,"wires":[["991a8456.9f0a68","9842426c.50dff"]]},{"id":"d310eea3.2d20c","type":"inject","z":"473e79c9.de6b28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"55 23 * * *","once":false,"onceDelay":0.1,"x":150,"y":420,"wires":[["af8effd5.ae9f5"]]},{"id":"582abe4a.10f7c","type":"inject","z":"473e79c9.de6b28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"45 23 * * *","once":false,"onceDelay":0.1,"x":150,"y":220,"wires":[["1ebb1292.5445cd"]]},{"id":"3d6e536d.6b1dbc","type":"comment","z":"473e79c9.de6b28","name":"Clearing database ","info":"Everyday at specified time , database must be cleared beffore the new values come in here\n","x":350,"y":200,"wires":[]},{"id":"2dd9e092.0ca45","type":"comment","z":"473e79c9.de6b28","name":"New Prediction","info":"New 5 days forecast is recieved here and then it is predicted using the model deployed in IBM Machine Learning Service","x":140,"y":380,"wires":[]},{"id":"e21415e5.654878","type":"ui_text","z":"7f0b93ab.a7f57c","group":"db6986a6.83b538","order":5,"width":5,"height":1,"name":"","label":"Minimum Power","format":"{{msg.payload[2]}} KWh","layout":"row-spread","x":940,"y":860,"wires":[]},{"id":"2a77ebcc.4a7ad4","type":"ui_text","z":"7f0b93ab.a7f57c","group":"db6986a6.83b538","order":4,"width":5,"height":1,"name":"","label":"Maximum Power","format":"{{msg.payload[3]}} KWh","layout":"row-spread","x":950,"y":900,"wires":[]},{"id":"4693751e.9b4a9c","type":"ui_text","z":"7f0b93ab.a7f57c","group":"db6986a6.83b538","order":3,"width":5,"height":1,"name":"","label":"Total Time","format":"{{msg.payload[1]}} Hrs","layout":"row-spread","x":930,"y":820,"wires":[]},{"id":"ffdebd26.744c6","type":"ui_text","z":"7f0b93ab.a7f57c","group":"db6986a6.83b538","order":2,"width":5,"height":1,"name":"","label":"Total Power","format":"<span > {{msg.payload[0]}} KWh</span>","layout":"row-spread","x":930,"y":780,"wires":[]},{"id":"22b61138.d4550e","type":"ui_chart","z":"7f0b93ab.a7f57c","name":"Static State Chart","group":"f6768dda.f2e3a","order":2,"width":13,"height":4,"label":"State vs Time Chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"4","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1250,"y":560,"wires":[[]]},{"id":"32697bde.d10964","type":"function","z":"7f0b93ab.a7f57c","name":"Static State chart mapping","func":"\nvar series =[\"States\"];\nvar labels = [\"Time\"];\nvar data = [];\n\nvar i, len = msg.payload.length;\nfor (i = 1 ; i < len; i++) \n{\n    data.push({\"x\":msg.payload[i]._id, \"y\":Number(msg.payload[i].state)});\n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":560,"wires":[["22b61138.d4550e"]]},{"id":"c0b553a1.13ad","type":"function","z":"7f0b93ab.a7f57c","name":"Dynamic Summary chart","func":"low  = global.get(\"low\")\nmed  = global.get(\"med\")\nhigh = global.get(\"high\")\n\nvar data = msg.payload[0].data[0];\n\nvar t , i, len, string;\nvar s = [0,0,0,0];\n\nfor (i = 0, len = msg.payload[0].data[0].length; i < len; i++) \n{\n    //data.push({\"x\":data[i]._id, \"y\":Number(data[i].speed)});\n    t = assignState(msg.payload[0].data[0][i][\"y\"]);\n    if(t === 0 ) s[0]++;\n    if(t === 1 ) s[1]++;\n    if(t === 2 ) s[2]++;\n    if(t === 3 ) s[3]++;\n    data[i].state = t;\n}\n\ns = [s];\n\ndata = [{\"series\" : [\"Count\"],\"data\" : s, \"labels\" : [\"Low\",\"Medium\",\"High\",\"Very High\"]}];\n//data = data\nmsg.payload = data;\nreturn msg;\n\n\nfunction assignState(t)\n{\n    if(t < low) return 0;\n    if(t < med) return 1;\n    if(t < high) return 2;\n    if(t > high) return 3;\n    return (-1);\n}\n\n","outputs":1,"noerr":0,"x":990,"y":1160,"wires":[["74863db5.6f7e54","23350a6a.e4edb6"]]},{"id":"74863db5.6f7e54","type":"ui_chart","z":"7f0b93ab.a7f57c","name":"","group":"edb3ffea.3e32d","order":1,"width":4,"height":4,"label":"Pie chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#6ee2c0","#36a4d3","#5441e1","#180070","#610000","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1220,"y":1140,"wires":[[]]},{"id":"23350a6a.e4edb6","type":"ui_chart","z":"7f0b93ab.a7f57c","name":"","group":"edb3ffea.3e32d","order":2,"width":4,"height":4,"label":"Bar chart","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#6ee2c0","#36a4d3","#5441e1","#180070","#610000","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1220,"y":1180,"wires":[[]]},{"id":"fac60d4f.92077","type":"cloudantplus in","z":"7f0b93ab.a7f57c","name":"","cloudant":"","database":"wind-range","service":"node-red-attempt-cloudant-1591811325230-5226","search":"_all_","design":"","index":"","x":530,"y":400,"wires":[["e1158ae1.dea078"]]},{"id":"db6ae86.d45b418","type":"inject","z":"473e79c9.de6b28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":180,"wires":[["1ebb1292.5445cd"]]},{"id":"381f0959.2482a6","type":"cloudant in","z":"7f0b93ab.a7f57c","name":"","cloudant":"3645f3ef.18d9bc","database":"wind-energy","service":"node-red-attempt-cloudant-1591811325230-5226","search":"_all_","design":"","index":"","x":530,"y":480,"wires":[["4fddb5fe.8b847c","e6aacf10.adf9a","32ff351e.5079fa","f2afabcd.830cb8","4e6034a0.e0e10c"]]},{"id":"776da13d.181da","type":"e-mail","z":"7f0b93ab.a7f57c","d":true,"server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"saipratyushaganti@gmail.com","dname":"","x":2030,"y":1400,"wires":[]},{"id":"798551c0.41f05","type":"e-mail","z":"7f0b93ab.a7f57c","d":true,"server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"durgesh.majeti.007@gmail.com","dname":"","x":2030,"y":1440,"wires":[]},{"id":"7fd498e2.f90978","type":"inject","z":"7f0b93ab.a7f57c","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"*/1 0-22 * * *","once":false,"onceDelay":0.1,"x":330,"y":420,"wires":[["fac60d4f.92077","381f0959.2482a6"]]},{"id":"c43da162.527d7","type":"openweathermap","z":"3cdf4176.c3d1ce","name":"","wtype":"current","lon":"34.91","lat":"39.06","city":"","country":"","language":"en","x":270,"y":160,"wires":[["c493c305.7ddeb"]]},{"id":"911cd213.512b4","type":"inject","z":"3cdf4176.c3d1ce","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"*/10 0-23 * * *","once":false,"onceDelay":"0.0","x":110,"y":160,"wires":[["c43da162.527d7"]]},{"id":"c493c305.7ddeb","type":"function","z":"3cdf4176.c3d1ce","name":"PreToken","func":"global.set(\"ws1\",msg.payload.windspeed)\n\nvar apikey=\"uN7laep2usMXGnAxovs6OkXEst-qh_XBC_9IzHog7iYt\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":160,"wires":[["7defe683.10b488"]]},{"id":"f83b69d7.151508","type":"http request","z":"3cdf4176.c3d1ce","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/e7312823-543f-4e76-b657-42927fee3e90/deployments/e74bdd3d-7e1a-47a0-94c4-e8dd13bbb376/online","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":160,"wires":[["97d7f2c5.51cd6"]]},{"id":"7defe683.10b488","type":"http request","z":"3cdf4176.c3d1ce","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":160,"wires":[["2fe8a355.48f53c"]]},{"id":"2fe8a355.48f53c","type":"function","z":"3cdf4176.c3d1ce","name":"Pre Prediction","func":"ws = global.get(\"ws1\")\t\n\n//msg.payload = [ws,wd,wg,\"These were the inputs\"]\n\nvar token=msg.payload.access_token\nvar instance_id=\"e7312823-543f-4e76-b657-42927fee3e90\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"WindSpeed\"], \"values\": [[ws]]}\nreturn msg;\n//msg.payload={\"fields\": [\"WindSpeed\",\"Wind_Direction\",\"Gust\"], \"values\": [[ws,wd,wg]]}\n","outputs":1,"noerr":0,"x":600,"y":160,"wires":[["f83b69d7.151508"]]},{"id":"b863b3d5.115a6","type":"function","z":"3cdf4176.c3d1ce","name":"mapping","func":"msg.payload = msg.payload.power\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":160,"wires":[["8088462e.85b238","491788e4.afab08"]]},{"id":"8088462e.85b238","type":"ui_chart","z":"3cdf4176.c3d1ce","name":"Dynamic Power vs Time","group":"2a38176f.16d9c8","order":1,"width":16,"height":6,"label":"Power vs Time Chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"yet to recieve ot data is not availble in this context","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1130,"y":200,"wires":[[]]},{"id":"491788e4.afab08","type":"function","z":"3cdf4176.c3d1ce","name":"Stats","func":"var min,max,total;\n\nmax   = global.get(\"max\");\nmin   = global.get(\"min\")\ntotal = global.get(\"total\")\n\n    \nif(msg.payload > max)\n{\n    max = msg.payload;\n    max = Math.round(max * 100)/100;\n}\n\nif(msg.payload < min)\n{\n    min = msg.payload;\n    min = Math.round(min * 100)/100;\n}\n\ntotal = total + msg.payload;\ntotal = Math.round(total * 100)/100;\n\n\n\nglobal.set(\"total\",total)\nglobal.set(\"min\",min)\nglobal.set(\"max\",max)\n\n\nmsg.payload = [total,min,max]\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":160,"wires":[["ef9ce3c6.73d3c","b3cc1d79.4a967","bf614094.53a79"]]},{"id":"b3cc1d79.4a967","type":"ui_text","z":"3cdf4176.c3d1ce","group":"a57c0698.bd2a28","order":1,"width":5,"height":1,"name":"","label":"Minimum Power","format":"{{msg.payload[1]}} KWh","layout":"row-spread","x":1420,"y":160,"wires":[]},{"id":"bf614094.53a79","type":"ui_text","z":"3cdf4176.c3d1ce","group":"a57c0698.bd2a28","order":2,"width":5,"height":1,"name":"","label":"Maximum Power","format":"{{msg.payload[2]}} KWh","layout":"row-spread","x":1430,"y":200,"wires":[]},{"id":"ef9ce3c6.73d3c","type":"ui_text","z":"3cdf4176.c3d1ce","group":"a57c0698.bd2a28","order":3,"width":5,"height":1,"name":"","label":"Total Power","format":"<span > {{msg.payload[0]}} KWh</span>","layout":"row-spread","x":1410,"y":120,"wires":[]},{"id":"11936e83.cc37b1","type":"inject","z":"3cdf4176.c3d1ce","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"30 18 * * *","once":false,"onceDelay":0.1,"x":910,"y":280,"wires":[["32e1939a.a9e21c"]]},{"id":"32e1939a.a9e21c","type":"function","z":"3cdf4176.c3d1ce","name":"","func":"global.set(\"max\",0);\nglobal.set(\"min\",1000000)\nglobal.set(\"total\",0)\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":260,"wires":[[]]},{"id":"b1d7b125.98e36","type":"inject","z":"3cdf4176.c3d1ce","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"30 18 * * *","once":false,"onceDelay":0.1,"x":910,"y":240,"wires":[["8088462e.85b238","32e1939a.a9e21c"]]},{"id":"4474eb8f.409c14","type":"cloudant out","z":"3cdf4176.c3d1ce","name":"","cloudant":"842bd217.5add","database":"power-history","service":"node-red-attempt-cloudant-1591811325230-5226","payonly":true,"operation":"insert","x":920,"y":100,"wires":[]},{"id":"97d7f2c5.51cd6","type":"function","z":"3cdf4176.c3d1ce","name":"Saving in Cloudant","func":"\nvar ws1 = global.get('ws1')\nmsg.payload = {\n    _id   : msg.time,\n    power : msg.payload.values[0][0],\n    speed : ws1,\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":160,"wires":[["b863b3d5.115a6","4474eb8f.409c14"]]},{"id":"b5bf2423.3df8d8","type":"function","z":"7f0b93ab.a7f57c","name":"Feeding date values","func":"msg.payload = -1;\nmsg.options = global.get(\"doptions\")\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1020,"wires":[["13ecf621.0210ca"]]},{"id":"3133b999.47fb86","type":"inject","z":"473e79c9.de6b28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"45 23 * * *","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["1ebb1292.5445cd"]]},{"id":"ebe27839.59ea18","type":"inject","z":"473e79c9.de6b28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"45 23 * * *","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["1ebb1292.5445cd"]]},{"id":"b5c4aede.743fa","type":"inject","z":"473e79c9.de6b28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"45 23 * * *","once":false,"onceDelay":0.1,"x":150,"y":280,"wires":[["1ebb1292.5445cd"]]},{"id":"785fd0ac.8dcf6","type":"inject","z":"7f0b93ab.a7f57c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":1560,"wires":[["e3cd0a50.593168"]]},{"id":"e3cd0a50.593168","type":"function","z":"7f0b93ab.a7f57c","name":"Debugging Intervals","func":"var intervals = global.get(\"intervals\");\nmsg.payload  = intervals;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1560,"wires":[["eafc0c.729353f8"]]},{"id":"eafc0c.729353f8","type":"debug","z":"7f0b93ab.a7f57c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":1560,"wires":[]},{"id":"5bf6d89c.a99098","type":"inject","z":"7f0b93ab.a7f57c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":1020,"wires":[["b5bf2423.3df8d8"]]},{"id":"116983e8.13d24c","type":"inject","z":"473e79c9.de6b28","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"00 01 * * *","once":false,"onceDelay":0.1,"x":110,"y":700,"wires":[["d33982be.509b2"]]},{"id":"d33982be.509b2","type":"cloudantplus in","z":"473e79c9.de6b28","name":"","cloudant":"","database":"wind-energy","service":"node-red-attempt-cloudant-1591811325230-5226","search":"_all_","design":"","index":"","x":310,"y":700,"wires":[["78ce45b3.3bd71c"]]},{"id":"acbadee7.64979","type":"ui_template","z":"473e79c9.de6b28","group":"db91850c.ea75f8","name":"heading","order":5,"width":6,"height":1,"format":"<span style=\"color:#3BB9FF;font-size:20px\">State Setting</span>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":260,"y":820,"wires":[[]]},{"id":"3e8ee588.ce3cfa","type":"ui_template","z":"473e79c9.de6b28","group":"c21630f8.33d4a","name":"heading","order":8,"width":6,"height":1,"format":"<div><span style=\"color:#C0C0C0\">*for Daily updates and Flash reports</span></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":260,"y":900,"wires":[[]]},{"id":"c2aabca1.7af2f","type":"ui_template","z":"473e79c9.de6b28","group":"5126ffdd.adb43","name":"heading","order":8,"width":0,"height":0,"format":"<div><span style=\"color:#C0C0C0\">*by choice of power generation and date interactive and dynamic charts are displayed</span></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":260,"y":860,"wires":[[]]},{"id":"54051950.ee7798","type":"ui_template","z":"473e79c9.de6b28","group":"","name":"Clock Toolbar","order":2,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"global","x":500,"y":820,"wires":[[]]},{"id":"6b6891fc.2396","type":"ui_template","z":"473e79c9.de6b28","group":"db6986a6.83b538","name":"Timer","order":6,"width":5,"height":2,"format":"<div ></br><p id=\"timeRemaining\">loading</p></div>\n\n<script>\nvar endTime = new Date(3000, 10, 31,23,55).getTime() / 1000;\nfunction setClock() {\n    var elapsed = new Date().getTime() / 1000;\n    var totalSec =  endTime - elapsed;\n    var d = parseInt( totalSec / 86400 );\n    var h = parseInt( totalSec / 3600 ) % 24;\n    var m = parseInt( totalSec / 60 ) % 60;\n    var s = parseInt(totalSec % 60, 10);\n    var result = \"<span style=\\\"color:#686868\\\">*Update in \"+h + \"hr \" + m + \"min \" + s+\"sec</span>\";\n    document.getElementById('timeRemaining').innerHTML = result;\n    setTimeout(setClock, 1000);\n}\nsetClock();\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":470,"y":860,"wires":[[]]},{"id":"d179c5dc.572be8","type":"ui_template","z":"473e79c9.de6b28","group":"5126ffdd.adb43","name":"DTimer","order":9,"width":6,"height":2,"format":"<div ></br><p id=\"timeRemaining\">loading</p></div>\n\n<script>\nvar endTime = new Date(3000, 10, 31,23,55).getTime() / 1000;\nfunction setClock() {\n    var elapsed = new Date().getTime() / 1000;\n    var totalSec =  endTime - elapsed;\n    var d = parseInt( totalSec / 86400 );\n    var h = parseInt( totalSec / 3600 ) % 24;\n    var m = parseInt( totalSec / 60 ) % 60;\n    var s = parseInt(totalSec % 60, 10);\n    var result = \"<span style=\\\"color:#686868\\\">*Update in  \"+h + \"hr \" + m + \"min \" + s+\"sec </span>\";\n    document.getElementById('timeRemaining').innerHTML = result;\n    setTimeout(setClock, 1000);\n}\nsetClock();\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":860,"wires":[[]]},{"id":"cc005aec.56a788","type":"ui_template","z":"473e79c9.de6b28","group":"a57c0698.bd2a28","name":"LTimer","order":4,"width":"6","height":"2","format":"<div ></br><p id=\"timeRemaining\">loading</p></div>\n\n<script>\nvar endTime = new Date(3000, 10, 31,00,9,00).getTime() / 1000;\nfunction setClock() {\n    var elapsed = new Date().getTime() / 1000;\n    var totalSec =  endTime - elapsed;\n    var d = parseInt( totalSec / 86400 );\n    var h = parseInt( totalSec / 3600 ) % 24;\n    var m = parseInt( totalSec / 60 ) % 60 + 1;\n    var s = parseInt(totalSec % 60, 10) + 1;\n    var result = \"<span style=\\\"color:#686868\\\">Update in \"+ m%10 + \"min \" +s+\"sec</span>\";\n    document.getElementById('timeRemaining').innerHTML = result;\n    setTimeout(setClock, 1000);\n}\nsetClock();\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":730,"y":860,"wires":[[]]},{"id":"7f634c5.f61dab4","type":"ui_template","z":"473e79c9.de6b28","group":"f6768dda.f2e3a","name":"","order":3,"width":13,"height":1,"format":"<div>\n<table>\n    <tr>\n        <td style=\"width:180px;color:rgb(110, 226, 192)\"><b>0 - Low</b></td>\n        <td style=\"width:180px;color:rgb(54, 164, 211)\"><b>1 - Medium</b></td>\n        <td style=\"width:180px;color:rgb(84, 65, 225)\"><b>2 - High</b></td>\n        <td style=\"width:180px;color:rgb(24, 0, 112)\"><b>3 - Very High</b></td>\n    </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":260,"y":1020,"wires":[[]]},{"id":"9d575c30.a1eab","type":"ui_template","z":"473e79c9.de6b28","group":"f30d2f86.7c2e5","name":"","order":3,"width":0,"height":0,"format":"<div>\n<table>\n    <tr>\n        <td style=\"width:180px;color:rgb(110, 226, 192)\"><b>0 - Low</b></td>\n        <td style=\"width:180px;color:rgb(54, 164, 211)\"><b>1 - Medium</b></td>\n        <td style=\"width:180px;color:rgb(84, 65, 225)\"><b>2 - High</b></td>\n        <td style=\"width:180px;color:rgb(24, 0, 112)\"><b>3 - Very High</b></td>\n    </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":260,"y":980,"wires":[[]]},{"id":"53b681c2.7c537","type":"function","z":"14be55da.ffabda","name":"notification daily template","func":"var emailto = global.get(\"emailto\")\nvar intervals = global.get(\"intervals\");\n\nvar notify = []; \nvar recommend = [];\n//Extracting based on date  \nfor(var i = 0;i < intervals.length ; i++)\n{\n\n    state = stateassign(intervals[i].state);\n    start = new Date(intervals[i].start);\n    end = new Date(intervals[i].end);\n    if(sameDates(start))\n    {\n        diff = intervals[i].len * 3;\n        start = dateformat(start);\n        notify.push([start , diff, intervals[i].state ,state ,intervals[i].power]);\n    }\n\n}\n\n//Extracting based on date  \nfor(i = 0 ; i < intervals.length ; i++)\n{\n    state = stateassign(intervals[i].state);\n    start = new Date(intervals[i].start);\n    end = new Date(intervals[i].end);\n    if(intervals[i].state === 3)\n    {\n        diff = intervals[i].len * 3;\n        start = dateformat(start);\n        recommend.push([start , diff, intervals[i].state ,state ,intervals[i].power]);\n    }\n\n}\n\n\nvar msgstr = \"\";\nmsgstr += \"<html><body><p>Today's Forecast</p>\"\nmsgstr += \"<table border=\\\"1\\\">\"\nmsgstr += \" <tr>\"\nmsgstr += \"     <th style=\\\"color : darkblue\\\">Time</th>\"\nmsgstr += \"     <th style=\\\"color : darkblue\\\">Duration</th>\"\nmsgstr += \"     <th style=\\\"color : darkblue\\\">State</th>\"\nmsgstr += \" </tr>\"\n\nfor(var j = 0;j < notify.length ; j++)\n{\nmsgstr += \" <tr>\"\n    msgstr += \"     <td>\"+notify[j][0]+\"</td>\"\n    msgstr += \"     <td>\"+notify[j][1]+\"</td>\"\n    msgstr += \"     <td>\"+notify[j][3]+\"</td>\"\nmsgstr += \" </tr>\"\n}\n\nmsgstr += \"</table>\"\nmsgstr += \"<p>Recommendation based on preference</p>\"\nmsgstr += \"<table border=\\\"1\\\">\"\nmsgstr += \" <tr>\"\nmsgstr += \"     <th style=\\\"color : darkblue\\\">Time</th>\"\nmsgstr += \"     <th style=\\\"color : darkblue\\\">Duration</th>\"\nmsgstr += \"     <th style=\\\"color : darkblue\\\">State</th>\"\nmsgstr += \" </tr>\"\n\nfor(j = 0;j < recommend.length ; j++)\n{\nmsgstr += \" <tr>\"\n    msgstr += \"     <td style=\\\"color : green\\\">\"+recommend[j][0]+\"</td>\"\n    msgstr += \"     <td style=\\\"color : green\\\">\"+recommend[j][1]+\"</td>\"\n    msgstr += \"     <td style=\\\"color : green\\\">\"+recommend[j][3]+\"</td>\"\nmsgstr += \" </tr>\"\n}\n\nmsgstr += \"</table>\"\nmsgstr += \"</br></br>\"\nmsgstr += \"</br></br></br><p>For more check https://node-red-attempt.mybluemix.net/ui/</p>\"\nmsgstr  +=\"</body></html>\"\n\nmsg.payload = msgstr;\nmsg.to = emailto;\nmsg.topic = \"Wind energy forecast\"\nreturn msg;\n\nfunction stateassign(t)\n{\n    switch(t)\n    {\n        case 0 : return \"Low\";\n        case 1 : return \"Medium\";\n        case 2 : return \"High\";\n        case 3 : return \"Very High\";\n    }\n    return \"\";\n}\n\n\nfunction sameDates(d)\n{\n\n    var currentDate = new Date();\n    d = new Date(d);\n    d = d.getDate();\n    var cd = currentDate.getDate();\n\n    if(cd == d)\n        return true;\n    else\n        return false;\n}\n\n function dateformat(d)\n {\n    var yy = d.getFullYear();\n    var m = d.getMonth() + 1;\n    var da = d.getDate();\n    \n    var date = d;\n    var hours = date.getHours() > 12 ? date.getHours() - 12 : date.getHours();\n    var am_pm = date.getHours() >= 12 ? \"PM\" : \"AM\";\n    hours = hours < 10 ? \"0\" + hours : hours;\n    var time =da+\"/\"+m+\"/\"+yy+\" \"+hours + am_pm;\n    return time;\n }","outputs":1,"noerr":0,"x":450,"y":380,"wires":[["7a47482.51619b8"]]},{"id":"7a47482.51619b8","type":"e-mail","z":"14be55da.ffabda","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":670,"y":400,"wires":[]},{"id":"4390842f.c1263c","type":"function","z":"14be55da.ffabda","name":"Saving globally","func":"global.set(\"emailto\",msg.payload)\n\nmsg.payload = global.get(\"emailto\")\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["ebd768a0.fa2cc8"]]},{"id":"f834b378.088f","type":"ui_text_input","z":"14be55da.ffabda","name":"","label":"Email","tooltip":"","group":"c21630f8.33d4a","order":4,"width":6,"height":1,"passthru":false,"mode":"email","delay":"0","topic":"","x":170,"y":320,"wires":[["4390842f.c1263c"]]},{"id":"ebd768a0.fa2cc8","type":"ui_text","z":"14be55da.ffabda","group":"c21630f8.33d4a","order":2,"width":6,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":320,"wires":[]},{"id":"cd7183f.5cbd38","type":"ui_button","z":"14be55da.ffabda","name":"","group":"c21630f8.33d4a","order":6,"width":6,"height":1,"passthru":false,"label":"Send","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":440,"wires":[["4664af43.82f4"]]},{"id":"4664af43.82f4","type":"function","z":"14be55da.ffabda","name":"notification Flash report","func":"var emailto = global.get(\"emailto\")\nvar intervals = global.get(\"intervals\");\n\nvar notify = []; \nvar recommend = [];\n//Extracting based on date  \nfor(var i = 0;i < intervals.length ; i++)\n{\n\n    state = stateassign(intervals[i].state);\n    start = new Date(intervals[i].start);\n    end = new Date(intervals[i].end);\n\n    if(sameDates(start))\n    {\n        diff = intervals[i].len * 3;\n        start = dateformat(start);\n        notify.push([start , diff, intervals[i].state ,state ,intervals[i].power]);\n    }\n\n}\n\n//Extracting based on date  \nfor(i = 0 ; i < intervals.length ; i++)\n{\n    state = stateassign(intervals[i].state);\n    start = new Date(intervals[i].start);\n    end = new Date(intervals[i].end);\n    if(intervals[i].state === 3)\n    {\n        diff = intervals[i].len * 3;\n        start = dateformat(start);\n        recommend.push([start , diff, intervals[i].state ,state ,intervals[i].power]);\n    }\n\n}\n\n\nvar msgstr = \"\";\nmsgstr += \"<html><body><p>5 day's Forecast Data</p>\"\nmsgstr += \"<table border=\\\"1\\\">\"\nmsgstr += \" <tr>\"\nmsgstr += \"     <th style=\\\"color : darkblue\\\">Time</th>\"\nmsgstr += \"     <th style=\\\"color : darkblue\\\">Duration</th>\"\nmsgstr += \"     <th style=\\\"color : darkblue\\\">State</th>\"\nmsgstr += \" </tr>\"\n\nfor(var j = 0;j < notify.length ; j++)\n{\nmsgstr += \" <tr>\"\n    msgstr += \"     <td>\"+notify[j][0]+\"</td>\"\n    msgstr += \"     <td>\"+notify[j][1]+\"</td>\"\n    msgstr += \"     <td>\"+notify[j][3]+\"</td>\"\nmsgstr += \" </tr>\"\n}\n\nmsgstr += \"</table>\"\nmsgstr += \"<p>Recommendation based on preference</p>\"\nmsgstr += \"<table border=\\\"1\\\">\"\nmsgstr += \" <tr>\"\nmsgstr += \"     <th style=\\\"color : darkblue\\\">Time</th>\"\nmsgstr += \"     <th style=\\\"color : darkblue\\\">Duration</th>\"\nmsgstr += \"     <th style=\\\"color : darkblue\\\">State</th>\"\nmsgstr += \" </tr>\"\n\nfor(j = 0;j < recommend.length ; j++)\n{\nmsgstr += \" <tr>\"\n    msgstr += \"     <td style=\\\"color : green\\\">\"+recommend[j][0]+\"</td>\"\n    msgstr += \"     <td style=\\\"color : green\\\">\"+recommend[j][1]+\"</td>\"\n    msgstr += \"     <td style=\\\"color : green\\\">\"+recommend[j][3]+\"</td>\"\nmsgstr += \" </tr>\"\n}\n\nmsgstr += \"</table>\"\nmsgstr += \"</br></br>\"\nmsgstr += \"</br></br></br><p>For more check https://node-red-attempt.mybluemix.net/ui/</p>\"\nmsgstr  +=\"</body></html>\"\n\nmsg.payload = msgstr;\nmsg.to = emailto;\nmsg.topic = \"Wind energy forecast\"\nreturn msg;\n\nfunction stateassign(t)\n{\n    switch(t)\n    {\n        case 0 : return \"Low\";\n        case 1 : return \"Medium\";\n        case 2 : return \"High\";\n        case 3 : return \"Very High\";\n    }\n    return \"\";\n}\n\n\nfunction sameDates(d)\n{\n\n    var currentDate = new Date();\n    d = new Date(d);\n    d = d.getDate();\n    var cd = currentDate.getDate();\n    return (cd,d)\n    //d = parseInt(d.substring(0,2));\n\n    if(cd == d)\n        return true;\n    else\n        return false;\n}\n\n function dateformat(d)\n {\n    var yy = d.getFullYear();\n    var m = d.getMonth() + 1;\n    var da = d.getDate();\n    \n    var date = d;\n    var hours = date.getHours() > 12 ? date.getHours() - 12 : date.getHours();\n    var am_pm = date.getHours() >= 12 ? \"PM\" : \"AM\";\n    hours = hours < 10 ? \"0\" + hours : hours;\n    var time =da+\"/\"+m+\"/\"+yy+\" \"+hours + am_pm;\n    return time;\n }","outputs":1,"noerr":0,"x":450,"y":440,"wires":[["7a47482.51619b8"]]},{"id":"3886c93.7474d36","type":"inject","z":"14be55da.ffabda","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"05 00 * * *","once":false,"onceDelay":0.1,"x":150,"y":380,"wires":[["53b681c2.7c537"]]},{"id":"9c4187e1.30b588","type":"ui_template","z":"473e79c9.de6b28","group":"9e525acb.f5fed8","name":"Green High light recommendation","order":8,"width":6,"height":1,"format":"<span style=\"color : green\"><b>*Higly recommended interval</b></span>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":560,"y":900,"wires":[[]]},{"id":"78ce45b3.3bd71c","type":"function","z":"473e79c9.de6b28","name":"","func":"data = msg.payload;\ndate = new Date(data[0]._id)\n\ndt = date.getDate()\nm  = date.getMonth()\ny  = date.getFullYear()\n\ndt = dt + '/' +m +\"/\"+y\n\nmsg.payload = \n{\n    _id      : dt,\n    forecast : data\n}\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":700,"wires":[["cf187a39.607998"]]},{"id":"cf60d073.3ec77","type":"inject","z":"3cdf4176.c3d1ce","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"05 21 * * *","once":false,"onceDelay":0.1,"x":590,"y":480,"wires":[["873b2e97.1afd7"]]},{"id":"63bcb385.2cce9c","type":"function","z":"7f0b93ab.a7f57c","name":"Aggregating for stats","func":"data = msg.payload[0].data[0]\n\n\nvar hrs = data.length*3;\nconst arrSum = arr => arr.reduce((a,b) => a + b, 0)\n\n//const arrMin = arr => Math.min(...arr);\nvar ar = [];\nfor(var i = 0; i < data.length ; i++)\n{\n    ar.push(data[i].y);\n}\n\nvar sum = arrSum(ar);\nsum = Math.round(sum * 100)/100;\nvar min = Math.min(...ar);\nmin = Math.round(min * 100)/100;\nvar max = Math.max(...ar);\nmax = Math.round(max * 100)/100;\n\ncul = [sum,hrs,min,max];\nmsg.payload = cul;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":980,"y":1340,"wires":[["480ebdcc.7e7584","5173d2c9.0a8d5c","9294b118.4110c","d01c4428.267008"]]},{"id":"c74985be.df8a38","type":"function","z":"3cdf4176.c3d1ce","name":"Aggregating for stats","func":"data = msg.payload\n\n\nvar hrs = data.length;\nconst arrSum = arr => arr.reduce((a,b) => a + b, 0)\n\n//const arrMin = arr => Math.min(...arr);\nvar ar = [];\nfor(var i = 0; i < data.length ; i++)\n{\n    ar.push(data[i].power);\n}\n\nvar sum = arrSum(ar);\nsum = Math.round(sum * 100)/100;\nvar min = Math.min(...ar);\nmin = Math.round(min * 100)/100;\nvar max = Math.max(...ar);\nmax = Math.round(max * 100)/100;\n\nhrs = hrs/3\n\nmod = hrs%1\nhrs = hrs - mod\n\nhrs = Math.round(hrs * 100)/100;\n//hrs = Math.round(hrs * 100)/100;\n\ncul = [sum,hrs,min,max];\nmsg.payload = cul;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":540,"y":580,"wires":[["9c96b39c.13993","6d8867e6.0683f8","45ec4b6a.9fe2b4","ef1b3b8f.0eeb08"]]},{"id":"9c96b39c.13993","type":"ui_text","z":"3cdf4176.c3d1ce","group":"1fb56e03.8671f2","order":1,"width":4,"height":1,"name":"","label":"Total Power","format":"<span > {{msg.payload[0]}} KWh</span>","layout":"row-spread","x":770,"y":520,"wires":[]},{"id":"6d8867e6.0683f8","type":"ui_text","z":"3cdf4176.c3d1ce","group":"1fb56e03.8671f2","order":2,"width":4,"height":1,"name":"","label":"Total Time","format":"{{msg.payload[1]}} Hrs","layout":"row-spread","x":770,"y":560,"wires":[]},{"id":"45ec4b6a.9fe2b4","type":"ui_text","z":"3cdf4176.c3d1ce","group":"1fb56e03.8671f2","order":3,"width":4,"height":1,"name":"","label":"Minimum Power","format":"{{msg.payload[2]}} KWh","layout":"row-spread","x":780,"y":600,"wires":[]},{"id":"ef1b3b8f.0eeb08","type":"ui_text","z":"3cdf4176.c3d1ce","group":"1fb56e03.8671f2","order":4,"width":4,"height":1,"name":"","label":"Maximum Power","format":"{{msg.payload[3]}} KWh","layout":"row-spread","x":790,"y":640,"wires":[]},{"id":"b00a4418.e80898","type":"function","z":"7f0b93ab.a7f57c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["381f0959.2482a6"]]},{"id":"9341413f.3abb5","type":"function","z":"14be55da.ffabda","name":"mapping 5","func":"\nvar intervals = global.get(\"intervals\");\nvar date = global.get(\"date1\");\nvar choice = global.get(\"tier1\");\n\nvar chosen = [],start,end,diff,l1,avg,state;\n\nfor(var i = 0;i < intervals.length ; i++)\n{\n    if(choice == -1 || intervals[i].state == choice)\n    {\n        if(date == -1 || sameDates(date,intervals[i].start))\n        {\n            state = stateassign(intervals[i].state);\n            start = new Date(intervals[i].start);\n            end = new Date(intervals[i].end);\n            diff = intervals[i].len * 3;\n            start = dateformat(start);\n            t = (intervals[i].power).reduce(function(a,b){return a+b},0)/intervals[i].power.length;\n            t = Math.round(t * 100)/100;\n            chosen.push([start , diff, intervals[i].state ,state ,t]);\n        }\n    }\n}\n\n\nmsg.payload = chosen;\nglobal.set(\"mailchosen\",chosen)\nreturn msg;\n\nfunction stateassign(t)\n{\n    switch(t)\n    {\n        case 0 : return \"Low\";\n        case 1 : return \"Medium\";\n        case 2 : return \"High\";\n        case 3 : return \"Very High\";\n    }\n    return \"\";\n}\n\nfunction diff_hours(dt2, dt1) \n {\n\n  var diff =(dt2.getTime() - dt1.getTime()) / 1000;\n  diff /= (60 * 60);\n  return Math.abs(Math.round(diff));\n  \n }\n \n function dateformat(d)\n {\n     var yy = d.getFullYear();\n     var m = d.getMonth() + 1;\n     var da = d.getDate();\n     //var hr = d.getHours();\n     //var min = d.getMinutes();\n     \n    //var str = da+\"/\"+m+\"/\"+yy+\" \"+hr+\":\"+min;\n     \n    var date = d;\n    var hours = date.getHours() > 12 ? date.getHours() - 12 : date.getHours();\n    var am_pm = date.getHours() >= 12 ? \"PM\" : \"AM\";\n    hours = hours < 10 ? \"0\" + hours : hours;\n    var time =da+\"/\"+m+\"/\"+yy+\" \"+hours + am_pm;\n    return time;\n }\n \nfunction sameDates(d1,d2)\n{\n    d2 = new Date(d2);\n    if(d1 == d2.getDate())\n        return true;\n    else\n        return false;\n}","outputs":1,"noerr":0,"x":750,"y":140,"wires":[["1bcba63.467305a","a3d9f4dd.589328"]]},{"id":"a3d9f4dd.589328","type":"ui_template","z":"14be55da.ffabda","group":"9e525acb.f5fed8","name":"Intervals display","order":1,"width":8,"height":6,"format":"<table>\n    <tr>\n        <th>Starting time</th>\n        <th>Duration</th>\n        <th>State</th>\n        <th>Average</th>\n    </tr>\n    <tr ng-repeat=\"row in msg.payload\">\n        <td ng-if=\"row[2] !== 3\">{{row[0]}}</td>\n        <td ng-if=\"row[2] !== 3\">{{row[1]}} hrs</td>\n        <td ng-if=\"row[2] !== 3\">{{row[3]}}</td>\n        <td ng-if=\"row[2] !== 3\">{{row[4]}}</td>\n        <td ng-if=\"row[2] === 3\" style=\"color : green\"><b>{{row[0]}}</b></td>\n        <td ng-if=\"row[2] === 3\" style=\"color : green\"><b>{{row[1]}} hrs</b></td>\n        <td ng-if=\"row[2] === 3\" style=\"color : green\"><b>{{row[3]}}</b></td>\n        <td ng-if=\"row[2] === 3\" style=\"color : green\"><b>{{row[4]}}</b></td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":940,"y":140,"wires":[[]]},{"id":"1bcba63.467305a","type":"function","z":"14be55da.ffabda","d":true,"name":"Aggregating","func":"var hrs = 0;\nconst arrSum = arr => arr.reduce((a,b) => a + b, 0)\n//const arrMin = arr => Math.min(...arr);\nvar ar = [];\nfor(var i = 0; i < msg.payload.length ; i++)\n{\n     hrs = msg.payload[i][1] + hrs;\n     ar.push(...msg.payload[i][4]);\n}\n\nvar sum = arrSum(ar);\nsum = Math.round(sum * 100)/100;\nvar min = Math.min(...ar);\nmin = Math.round(min * 100)/100;\nvar max = Math.max(...ar);\nmax = Math.round(max * 100)/100;\n\ncul = [sum,hrs,min,max];\nmsg.payload = cul;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":910,"y":200,"wires":[[]]},{"id":"f3808aa3.d7a9c8","type":"ui_dropdown","z":"14be55da.ffabda","name":"","label":"Date","tooltip":"","place":"","group":"db91850c.ea75f8","order":3,"width":6,"height":1,"passthru":false,"multiple":false,"options":[],"payload":"","topic":"","x":350,"y":120,"wires":[["8bc9260b.42af28"]]},{"id":"a4faa2ad.e8dbf","type":"ui_dropdown","z":"14be55da.ffabda","name":"","label":"States","tooltip":"","place":"Select option","group":"db91850c.ea75f8","order":1,"width":6,"height":1,"passthru":false,"multiple":false,"options":[{"label":"All","value":"-1","type":"str"},{"label":"Low","value":0,"type":"num"},{"label":"Medium","value":1,"type":"num"},{"label":"High","value":2,"type":"num"},{"label":"Very High ","value":3,"type":"num"}],"payload":"","topic":"","x":350,"y":160,"wires":[["85b650a0.274d5"]]},{"id":"cf07cf31.2c918","type":"function","z":"14be55da.ffabda","name":"Getting Dates","func":"msg.payload = -1;\nmsg.options = global.get(\"doptions\")\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":120,"wires":[["f3808aa3.d7a9c8"]]},{"id":"8bc9260b.42af28","type":"function","z":"14be55da.ffabda","name":"saving globally date 1","func":"global.set(\"date1\",parseInt(msg.payload))\nmsg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":120,"wires":[["9341413f.3abb5"]]},{"id":"85b650a0.274d5","type":"function","z":"14be55da.ffabda","name":"saving globally 1","func":"global.set(\"tier1\",parseInt(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":160,"wires":[["9341413f.3abb5"]]},{"id":"49ce6490.185b9c","type":"inject","z":"14be55da.ffabda","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":60,"wires":[["cf07cf31.2c918"]]},{"id":"f94b61b9.9ae76","type":"comment","z":"3cdf4176.c3d1ce","name":"Past Predictions","info":"","x":180,"y":360,"wires":[]},{"id":"a9fb9de8.843d2","type":"comment","z":"3cdf4176.c3d1ce","name":"Live Predictions","info":"","x":220,"y":80,"wires":[]},{"id":"3b09aa4a.dec2b6","type":"ui_button","z":"7f0b93ab.a7f57c","name":"","group":"5126ffdd.adb43","order":3,"width":0,"height":0,"passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":510,"y":1300,"wires":[["1e8c87e6.3275e8","ed05e376.2e96"]]},{"id":"22cebc01.b889a4","type":"debug","z":"7f0b93ab.a7f57c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":1420,"wires":[]},{"id":"2446184.1141ee8","type":"comment","z":"14be55da.ffabda","name":"Filters","info":"","x":290,"y":60,"wires":[]},{"id":"669d96f7.2835e8","type":"comment","z":"14be55da.ffabda","name":"Facilitates Notification","info":"","x":160,"y":280,"wires":[]},{"id":"cf187a39.607998","type":"cloudant out","z":"473e79c9.de6b28","name":"","cloudant":"603daf87.d2128","database":"past-forecast","service":"node-red-attempt-cloudant-1591811325230-5226","payonly":true,"operation":"insert","x":670,"y":700,"wires":[]},{"id":"ce924911.686668","type":"comment","z":"473e79c9.de6b28","name":"Storing to database","info":"","x":130,"y":640,"wires":[]}]