Triumphvariates node-red application flow.json
[{"id":"800b62e6.b3034","type":"tab","label":"Phoenix","disabled":false,"info":""},{"id":"53129dea.7328f4","type":"tab","label":"charting","disabled":false,"info":""},{"id":"cd53e6ef.0f69c8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":10,"gy":6,"cx":10,"cy":10,"px":5,"py":10}}},{"id":"ae8dd01f.fb1fa","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"},{"id":"fbdf2986.9f03c8","type":"ui_spacer","name":"spacer","group":"","order":4,"width":1,"height":1},{"id":"88b54680.0f66a8","type":"ui_spacer","name":"spacer","group":"","order":6,"width":1,"height":1},{"id":"a14119a4.b55e78","type":"ui_spacer","name":"spacer","group":"","order":8,"width":1,"height":1},{"id":"18286864.a01e68","type":"ui_spacer","name":"spacer","group":"","order":10,"width":1,"height":1},{"id":"f840d853.c44498","type":"mui_base","z":0,"theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"m-base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"m-page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"m-page-backgroundColor":{"value":"#fafafa","edited":false},"m-page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"m-group-textColor":{"value":"#1bbfff","edited":false},"m-group-borderColor":{"value":"#ffffff","edited":false},"m-group-backgroundColor":{"value":"#ffffff","edited":false},"m-widget-textColor":{"value":"#111111","edited":false},"m-widget-backgroundColor":{"value":"#0094ce","edited":false},"m-widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fd5c766f.557418","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"},{"id":"9b66c5c6.281c08","type":"ui_spacer","name":"spacer","group":"","order":7,"width":6,"height":1},{"id":"34df92db.367e3e","type":"ui_spacer","name":"spacer","group":"","order":7,"width":1,"height":1},{"id":"4be8d0c3.ea757","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"},{"id":"723cecb1.9125d4","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"},{"id":"4d1151c1.1820c","type":"ui_spacer","name":"spacer","group":"","order":5,"width":1,"height":1},{"id":"33b1cb1a.f6fe84","type":"ui_spacer","name":"spacer","group":"","order":2,"width":2,"height":1},{"id":"2ae30bd6.a397a4","type":"ui_spacer","name":"spacer","group":"","order":3,"width":2,"height":1},{"id":"afa8936e.45157","type":"ui_spacer","name":"spacer","group":"","order":4,"width":2,"height":1},{"id":"43c3a78d.cd37c8","type":"ui_spacer","name":"spacer","group":"","order":5,"width":2,"height":1},{"id":"1da8a5e4.6a259a","type":"ui_spacer","name":"spacer","group":"","order":7,"width":2,"height":1},{"id":"6d9f7468.7b12fc","type":"ui_spacer","name":"spacer","group":"","order":8,"width":2,"height":1},{"id":"6563982b.437fb8","type":"ui_spacer","name":"spacer","group":"","order":9,"width":2,"height":1},{"id":"981fb922.2e8258","type":"ui_spacer","name":"spacer","group":"","order":10,"width":2,"height":1},{"id":"9cf0acc3.7cf5f","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"},{"id":"7106ccec.62afe4","type":"ui_spacer","name":"spacer","group":"","order":4,"width":1,"height":1},{"id":"b06994bb.8e9b48","type":"ui_spacer","name":"spacer","group":"","order":6,"width":1,"height":1},{"id":"14bda1ac.90751e","type":"ui_spacer","name":"spacer","group":"","order":8,"width":1,"height":1},{"id":"7b4957bf.bf1828","type":"ui_spacer","name":"spacer","group":"","order":10,"width":1,"height":1},{"id":"3997fead.8ce6b2","type":"ui_group","z":"","name":"Summary","tab":"ce920cc.bb3fcf","order":4,"disp":true,"width":4,"collapse":false},{"id":"4eca48d.5f6d4b8","type":"ui_group","z":"","name":"Stats","tab":"ce920cc.bb3fcf","order":3,"disp":true,"width":5,"collapse":false},{"id":"6de1a4a1.c7decc","type":"ui_group","z":"","name":"Console","tab":"f44888b6.fdb2d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"ce920cc.bb3fcf","type":"ui_tab","z":"","name":"5 Days Forecast ","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"8bfa9fd6.585bd","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"},{"id":"f44888b6.fdb2d8","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"11399384.66627c","type":"ui_group","z":"","name":"Console","tab":"ebb30a1d.991418","order":2,"disp":true,"width":"6","collapse":false},{"id":"ebb30a1d.991418","type":"ui_tab","z":"","name":"Recommendation","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"cb215063.8c47b","type":"ui_group","z":"","name":"Forecast","tab":"f44888b6.fdb2d8","order":2,"disp":true,"width":11,"collapse":false},{"id":"8863651.2072698","type":"ui_group","z":"","name":"Summary","tab":"f44888b6.fdb2d8","order":3,"disp":true,"width":4,"collapse":false},{"id":"67e0b149.278ca","type":"ui_tab","z":"","name":"Today's live prediction","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"1db3c0e6.8d2cdf","type":"ui_group","z":"","name":"Power prediction","tab":"67e0b149.278ca","order":2,"disp":true,"width":16,"collapse":false},{"id":"36e6129a.33d61e","type":"ui_group","z":"","name":"Stats","tab":"67e0b149.278ca","order":1,"disp":true,"width":"6","collapse":false},{"id":"dea5fca5.5fc45","type":"ui_group","z":"","name":"Recomended Intervals","tab":"ebb30a1d.991418","order":2,"disp":true,"width":"6","collapse":false},{"id":"273ee087.68273","type":"ui_group","z":"","name":"Notification","tab":"ebb30a1d.991418","order":3,"disp":true,"width":"6","collapse":false},{"id":"68574324.2ff03c","type":"ui_spacer","name":"spacer","group":"36e6129a.33d61e","order":2,"width":1,"height":1},{"id":"67543e51.14207","type":"ui_spacer","name":"spacer","group":"36e6129a.33d61e","order":4,"width":1,"height":1},{"id":"215ede5d.99ea82","type":"ui_spacer","name":"spacer","group":"36e6129a.33d61e","order":6,"width":1,"height":1},{"id":"6bbec65b.fc4be8","type":"ui_spacer","name":"spacer","group":"36e6129a.33d61e","order":9,"width":1,"height":1},{"id":"cb581f03.a4ecb","type":"ui_spacer","name":"spacer","group":"11399384.66627c","order":9,"width":1,"height":1},{"id":"772a6bb0.229af4","type":"ui_spacer","name":"spacer","group":"273ee087.68273","order":3,"width":1,"height":1},{"id":"dfbf0cc5.12543","type":"ui_group","z":"","name":"Forecast","tab":"ce920cc.bb3fcf","order":3,"disp":true,"width":13,"collapse":false},{"id":"e6e8f5f6.74d008","type":"ui_tab","z":"","name":"Past Predictions","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"7cd4df07.f53cd","type":"ui_group","z":"","name":"Past Predictions","tab":"e6e8f5f6.74d008","order":1,"disp":false,"width":"21","collapse":false},{"id":"d7b7b0e7.87cbd","type":"ui_group","z":"","name":"Charts","tab":"","order":2,"disp":false,"width":"6"},{"id":"5f4d819a.54f53","type":"ui_group","z":"","name":"Inputs","tab":"","order":1,"disp":false,"width":"6"},{"id":"d57c60bb.36aef","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":false,"width":"6"},{"id":"43a1ead7.e302f4","type":"ui_group","z":"","name":"Summary","tab":"","order":4,"disp":true,"width":4,"collapse":false},{"id":"a7783243.a889","type":"ui_group","z":"","name":"Forecast","tab":"","order":3,"disp":true,"width":12,"collapse":false},{"id":"f2f34a2c.62cea8","type":"ui_group","z":"","name":"Stats","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"4c79fe34.98df4","type":"ui_group","z":"","name":"Summary","tab":"","order":4,"disp":true,"width":4,"collapse":false},{"id":"ee5fcaa1.bbe408","type":"ui_group","z":"","name":"Forecast","tab":"","order":3,"disp":true,"width":12,"collapse":false},{"id":"2ecd7f1a.a767c","type":"ui_group","z":"","name":"Console","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"4c0e9cbf.b91c84","type":"ui_group","z":"","name":"Stats","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"958dcab0.89e848","type":"ui_group","z":"","name":"Console","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"a5c39e63.62721","type":"ui_group","z":"","name":"Forecast","tab":"","order":2,"disp":true,"width":11,"collapse":false},{"id":"138ff76f.f8ee19","type":"ui_group","z":"","name":"Summary","tab":"","order":3,"disp":true,"width":4,"collapse":false},{"id":"4ff6197a.9b73e8","type":"ui_group","z":"","name":"Power prediction","tab":"","order":2,"disp":true,"width":14,"collapse":false},{"id":"915cd47c.bc1328","type":"ui_group","z":"","name":"Stats","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"b50328d7.9e1218","type":"ui_spacer","name":"spacer","group":"915cd47c.bc1328","order":2,"width":1,"height":1},{"id":"9a4e137c.89ad9","type":"ui_spacer","name":"spacer","group":"915cd47c.bc1328","order":4,"width":1,"height":1},{"id":"d8a6d3ef.ff58b","type":"ui_spacer","name":"spacer","group":"915cd47c.bc1328","order":6,"width":1,"height":1},{"id":"a9fc4dd6.7f5bb","type":"ui_spacer","name":"spacer","group":"915cd47c.bc1328","order":8,"width":1,"height":1},{"id":"c89f5373.c34c4","type":"ui_group","z":"","name":"Temperatuur Node","tab":"","order":1,"disp":true,"width":"12"},{"id":"62729406.c101ac","type":"ui_group","z":"","name":"Time","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"6e63c989.ae5358","type":"ui_group","z":"","name":"hidden_group","tab":"2b2641e.43cc9be","order":1,"disp":false,"width":"6","collapse":false},{"id":"2b2641e.43cc9be","type":"ui_tab","z":"","name":"Zooland Sys","icon":"home","order":6,"disabled":false,"hidden":false},{"id":"5dbb4c63.77f3e4","type":"ui_group","z":"","name":"Intervals","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"ef14fd60.4ce01","type":"ui_group","z":"","d":true,"name":"Group","tab":"","order":null,"disp":true,"width":"6","collapse":false},{"id":"a931c9b8.32ea68","type":"ui_text","z":0,"group":"","order":0,"width":"0","height":"0","name":"","label":"","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-left","x":755.1000595092773,"y":172.60000705718994,"wires":[]},{"id":"17345b41.43e585","type":"inject","z":0,"name":"","topic":"","payload":"disarmed","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":383.00000762939453,"y":107.00000190734863,"wires":[["9025385c.b1c618"]]},{"id":"9025385c.b1c618","type":"function","z":0,"name":"Color Mapping","func":"switch (msg.payload) {\n\ncase \"disarmed\" : \n    msg.color = \"lime\";\n    break;\n    \ncase \"pending\" : \n    msg.color = \"yellow\";\n    break;\n    \ndefault : \n    msg.color = \"red\";\n    break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":586.1000556945801,"y":172.60000228881836,"wires":[["a931c9b8.32ea68"]]},{"id":"e5a812c5.8cbcd","type":"inject","z":0,"name":"","topic":"","payload":"pending","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":390.00000762939453,"y":154.00000190734863,"wires":[["9025385c.b1c618"]]},{"id":"5c0b8c53.b12cd4","type":"inject","z":0,"name":"","topic":"","payload":"armed_home","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":373.00000762939453,"y":201.00000286102295,"wires":[["9025385c.b1c618"]]},{"id":"675909be.8e3ec8","type":"inject","z":0,"name":"","topic":"","payload":"armed_away","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":371.00000762939453,"y":247.00000381469727,"wires":[["9025385c.b1c618"]]},{"id":"c41188d8.beada8","type":"inject","z":0,"name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":760,"wires":[[]]},{"id":"45a10180.347b7","type":"function","z":0,"name":"mapping 1","func":"var series =[\"Power\"];\n\nvar labels = [\"Time\"];\n\nvar data = [];\n\nvar i, len, string;\n\nfor (i = 1, len = msg.payload.length, string = \"\"; i < len; i++) \n{\n    data.push({\"x\":msg.payload[i]._id, \"y\":Number(msg.payload[i].power)});\n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":940,"wires":[["370e1e9a.0ea352"]]},{"id":"370e1e9a.0ea352","type":"ui_chart","z":0,"name":"Power vs Time","group":"","order":1,"width":12,"height":4,"label":"","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":940,"wires":[[]]},{"id":"b461cf4.c72e73","type":"function","z":0,"name":"mapping 2","func":"low  = global.get(\"low\")\nmed  = global.get(\"med\")\nhigh = global.get(\"high\")\n\n//var data = [];\n\n\nvar t , i, len, string;\nvar s = [0,0,0,0];\n\nfor (i = 0, len = msg.payload.length, string = \"\"; i < len; i++) \n{\n    //data.push({\"x\":msg.payload[i]._id, \"y\":Number(msg.payload[i].speed)});\n    t = assignState(msg.payload[i].power);\n    if(t === 0 ) s[0]++;\n    if(t === 1 ) s[1]++;\n    if(t === 2 ) s[2]++;\n    if(t === 3 ) s[3]++;\n    msg.payload[i].state = t;\n}\n\ns = [s];\n\nmsg.payload = [{\"series\" : [\"Count\"],\"data\" : s, \"labels\" : [\"Low\",\"Medium\",\"High\",\"Very High\"]}];\n//msg.payload = data\nreturn msg;\n\n\nfunction assignState(t)\n{\n    if(t < 200) return 0;\n    if(t < 500) return 1;\n    if(t < 800) return 2;\n    if(t > 800) return 3;\n    return (-1);\n}\n\n","outputs":1,"noerr":0,"x":590,"y":980,"wires":[["fb3ee7aa.ab45b8","6052617d.2e3d4"]]},{"id":"252bae33.a23942","type":"function","z":0,"name":"saving globally","func":"global.set(\"low\",msg.payload.low)\nglobal.set(\"med\",msg.payload.med)\nglobal.set(\"high\",msg.payload.high)\n\n//msg.topic = [ {\"Low\":0} ,{\"Medium\":1} ,{\"High\":2} ,{\"Very High\":3} ]\n//msg.payload = [msg.payload[0].low]\n/*\nif(msg.payload.low[0])\n{\n    msg.payload.low = msg.payload[0].low;\n    msg.payload.med = msg.payload[0].med;\n    msg.payload.high = msg.payload[0].high;\n\n}*/\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":700,"wires":[["4c91be7d.bd4b2","84a1c22b.3a145","f6b4ab0d.04e7e8"]]},{"id":"fb3ee7aa.ab45b8","type":"ui_chart","z":0,"name":"","group":"","order":1,"width":4,"height":4,"label":"Pie chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#6ee2c0","#36a4d3","#5441e1","#180070","#610000","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":980,"wires":[[]]},{"id":"6052617d.2e3d4","type":"ui_chart","z":0,"name":"","group":"","order":2,"width":4,"height":4,"label":"Bar chart","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#6ee2c0","#36a4d3","#5441e1","#180070","#610000","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":1020,"wires":[[]]},{"id":"f9e15cc5.214e1","type":"function","z":0,"name":"States ","func":"low  = global.get(\"low\")\nmed  = global.get(\"med\")\nhigh = global.get(\"high\")\n\nglobal.set(\"date\",-1)\nglobal.set(\"tier\",-1);\nglobal.set(\"odata\",msg.payload)\nvar t , i = 0, len, string;\nvar s = [0,0,0,0];\nlen = msg.payload.length;\nfor (i = 0 ; i < len; i++) \n{\n    //data.push({\"x\":msg.payload[i]._id, \"y\":Number(msg.payload[i].speed)});\n    t = assignState(msg.payload[i].power);\n    if(t === 0 ) s[0]++;\n    if(t === 1 ) s[1]++;\n    if(t === 2 ) s[2]++;\n    if(t === 3 ) s[3]++;\n    msg.payload[i].state = t;\n}\n\nmsg.statefull = msg.payload;\nreturn msg;\n\nfunction assignState(t)\n{\n    if(t < 200) return 0;\n    if(t < 500) return 1;\n    if(t < 800) return 2;\n    if(t > 800) return 3;\n    return (-1);\n}\n\n","outputs":1,"noerr":0,"x":570,"y":840,"wires":[["f2782f9b.a53"]]},{"id":"69b9d3f.4b3d22c","type":"ui_form","z":0,"name":"","label":"","group":"","order":1,"width":4,"height":4,"options":[{"label":"Low ","value":"low","type":"number","required":true,"rows":null},{"label":"Medium","value":"med","type":"number","required":true,"rows":null},{"label":"High","value":"high","type":"number","required":true,"rows":null}],"formValue":{"low":"","med":"","high":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":570,"y":640,"wires":[["57012b85.087954","268ed87d.825e78","252bae33.a23942"]]},{"id":"178327d2.dbaff8","type":"function","z":0,"name":"mapping 4","func":"d = global.get(\"date\");\ntier = global.get(\"tier\");\nvar series =[\"Power\"];\nvar labels = [\"Time\"];\nvar data = [];\n\nintervals = global.get(\"intervals\");\n\nvar i, len = intervals.length;\nfor (i = 1 ; i < len; i++) \n{\n    if(d === -1 || sameDates(d,intervals[i].start))\n    {\n        if(tier == -1 || intervals[i].state == tier)\n            data.push({\"x\":intervals[i].start, \"y\":Number(intervals[i].state)});\n\n    }\n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\n\nreturn msg;\n\nfunction sameDates(d1,d2)\n{\n    d2 = new Date(d2);\n    if(d1 == d2.getDate())\n        return true;\n    else\n        return false;\n}","outputs":1,"noerr":0,"x":1250,"y":1060,"wires":[["674a7aed.3e4694","6857c4c8.01fbfc"]]},{"id":"674a7aed.3e4694","type":"ui_chart","z":0,"name":"","group":"","order":2,"width":12,"height":4,"label":"State Chart","chartType":"line","legend":"true","xformat":"auto","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#63038c","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1430,"y":1060,"wires":[[]]},{"id":"f6b4ab0d.04e7e8","type":"ui_text","z":0,"group":"","order":3,"width":1,"height":1,"name":"","label":"","format":"{{msg.payload.high}}","layout":"row-spread","x":1150,"y":740,"wires":[]},{"id":"84a1c22b.3a145","type":"ui_text","z":0,"group":"","order":4,"width":1,"height":1,"name":"","label":"","format":"{{msg.payload.med}}","layout":"row-spread","x":1150,"y":700,"wires":[]},{"id":"4c91be7d.bd4b2","type":"ui_text","z":0,"group":"","order":2,"width":1,"height":1,"name":"","label":"","format":"{{msg.payload.low}}","layout":"row-spread","x":1150,"y":660,"wires":[]},{"id":"bb0251b3.c3a45","type":"cloudant out","z":0,"name":"","cloudant":"","database":"wind-range","service":"node-red-attempt-cloudant-1591811325230-5226","payonly":true,"operation":"insert","x":1030,"y":600,"wires":[]},{"id":"57012b85.087954","type":"delay","z":0,"name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":600,"wires":[["bb0251b3.c3a45"]]},{"id":"23ee4fa0.b6992","type":"function","z":0,"name":"mapping","func":"msg.payload = {\"low\":msg.payload[0].low , \"med\" : msg.payload[0].med , \"high\":msg.payload[0].high}\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":700,"wires":[["252bae33.a23942"]]},{"id":"5a46f05d.f9158","type":"cloudant in","z":0,"name":"Retrive docouments","cloudant":"ae8dd01f.fb1fa","database":"mmm_test_1","service":"_ext_","search":"_all_","design":"","index":"","x":480,"y":1980,"wires":[["7e79411c.68b99"]]},{"id":"35f23099.7f75","type":"http in","z":0,"name":"Insert data","url":"/putdata","method":"get","swaggerDoc":"","x":187.99998474121094,"y":1875.8499908447266,"wires":[["9055098d.611ef8","54201374.c439bc"]]},{"id":"63dfa819.72de68","type":"http in","z":0,"name":"Retrieve data","url":"/getdata","method":"get","swaggerDoc":"","x":193.99998474121094,"y":1979.8499755859375,"wires":[["5a46f05d.f9158"]]},{"id":"9055098d.611ef8","type":"http response","z":0,"name":"Data inserted","x":746.0000305175781,"y":1877.4333190917969,"wires":[]},{"id":"7e79411c.68b99","type":"http response","z":0,"name":"List of documents","x":754.0000305175781,"y":1978.4333190917969,"wires":[]},{"id":"54201374.c439bc","type":"cloudant out","z":0,"name":"Insert test documents","cloudant":"ae8dd01f.fb1fa","database":"mmm_test_1","service":"_ext_","payonly":true,"operation":"insert","x":481.00006103515625,"y":1923.7999877929688,"wires":[]},{"id":"beb1252a.1213c8","type":"comment","z":0,"name":"Using CloudantDB in Node-RED","info":"This is a simple flow that tests storing and retrieving documents from a \nCloudant database. It is borrowed from this tutorial by Dave Krier:\nhttps://www.youtube.com/watch?v=FXm2Bk-tCIc\n\nIt uses \"node-red-node-cf-cloudant\" Cloudant nodes which are documented\nhere:\nhttp://flows.nodered.org/node/node-red-node-cf-cloudant\n\nYou can sign up for a free Cloudant database here:\nhttps://cloudant.com/\n\nAfter signing up you should create a database then click on the\n\"Permissions\" tab to create a user. Click the \"Generate API Key\" button\nand record the key and password values.\n\nConfigure the Cloudant nodes by entering the path to the Cloudant database \nin the Host field. The key and password should be entered in the \nUsername and Password fields. Enter the database name in the Database field.\n\nDeploy your Node-red flow and open another browser tab to execute\ncreate, read and bulk delete operations:\n\n(1) To insert documents use commands of this type:\nhttp://localhost:1880/putdata?name=graham&age=29\n\n(2) To retrieve documents:\nhttp://localhost:1880/getdata\n\n(3) To delete ALL documents:\nhttp://localhost:1880/deleteall\n\nTODO - find a more efficient way to delete all the documents.\n","x":255.99998474121094,"y":1817.499984741211,"wires":[]},{"id":"374227bc.6f86d8","type":"http in","z":0,"name":"Delete all documents","url":"/deleteall","method":"get","upload":false,"swaggerDoc":"","x":219.54998779296875,"y":2058.5499877929688,"wires":[["7e8eddef.7ca834"]]},{"id":"7e8eddef.7ca834","type":"cloudant in","z":0,"name":"Retrieve documents","cloudant":"ae8dd01f.fb1fa","database":"mmm_test_1","service":"_ext_","search":"_all_","design":"","index":"","x":474.8833312988281,"y":2057.994384765625,"wires":[["d786913c.bd189","768de6ac.ebb4a8"]]},{"id":"d786913c.bd189","type":"http response","z":0,"name":"List of documents to delete","x":779.4610900878906,"y":2057.5722045898438,"wires":[]},{"id":"f73a46bc.6d8368","type":"cloudant out","z":0,"name":"Remove all documents ","cloudant":"ae8dd01f.fb1fa","database":"mmm_test_1","service":"_ext_","payonly":false,"operation":"delete","x":781.0000305175781,"y":2184.5333251953125,"wires":[]},{"id":"768de6ac.ebb4a8","type":"split","z":0,"name":"split out individual documents","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":474.99993896484375,"y":2126.883331298828,"wires":[["34983582.0b65da"]]},{"id":"828a5606.f8e348","type":"debug","z":0,"name":"id and rev to delete","active":true,"console":"false","complete":"payload","x":780.0000305175781,"y":2123.2333374023438,"wires":[]},{"id":"34983582.0b65da","type":"function","z":0,"name":"Extract id and rev","func":"\nvar document = {_id: msg.payload._id, _rev: msg.payload._rev};\n\nmsg.payload = document;\n\nreturn msg;","outputs":1,"noerr":0,"x":453,"y":2188.449981689453,"wires":[["f73a46bc.6d8368","828a5606.f8e348"]]},{"id":"2c429735.751cc8","type":"split","z":0,"name":"split out individual documents","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":980,"y":540,"wires":[["e37481d3.8e236"]]},{"id":"268ed87d.825e78","type":"cloudant in","z":0,"name":"Retrieve documents","cloudant":"ae8dd01f.fb1fa","database":"wind-range","service":"node-red-attempt-cloudant-1591811325230-5226","search":"_all_","design":"","index":"","x":900,"y":540,"wires":[["2c429735.751cc8"]]},{"id":"e37481d3.8e236","type":"function","z":0,"name":"Extract id and rev","func":"\nvar document = {_id: msg.payload._id, _rev: msg.payload._rev};\n\nmsg.payload = document;\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":540,"wires":[["833b8c8e.00343"]]},{"id":"833b8c8e.00343","type":"cloudant out","z":0,"name":"Remove all documents ","cloudant":"ae8dd01f.fb1fa","database":"wind-range","service":"node-red-attempt-cloudant-1591811325230-5226","payonly":false,"operation":"delete","x":1260,"y":540,"wires":[]},{"id":"39a2a6b4.a1952a","type":"function","z":0,"name":"Dropdown dates","func":"low  = global.get(\"low\")\nmed  = global.get(\"med\")\nhigh = global.get(\"high\")\n\nconst unique = (value, index, self) => {\n  return self.indexOf(value) === index\n}\n\nvar t , i = 0, len ;\nvar date = [{\"5 days\":-1}];\nlen = msg.payload.length;\nvar start,end;\nwhile(i < len-2)\n{\n    start = msg.payload[i]._id;\n    while(i < len-2 && sameDate(start , msg.payload[i+1]._id))\n    {\n        i++;\n    }\n    end = msg.payload[i+1]._id;\n    end = new Date(end);\n    var str = end.getDate() +\"/\"+ (end.getMonth()+1) +\"/\"+end.getYear();\n    date.push({[str]:parseInt(end.getDate())});\n    i++;\n}\ndate = date.filter(unique)\nmsg.options = date;\nmsg.payload = \"5 days\";\n\nglobal.set(\"dddates\",date);\n\nreturn msg;\n\n\n\nfunction sameDate(d1,d2)\n{\n    d1 = new Date(d1);\n    d2 = new Date(d2);\n    var date1 = d1.getDate();\n    var date2 = d2.getDate();\n    if(date1 === date2)\n        return true;\n    else\n        return false;\n}","outputs":1,"noerr":0,"x":600,"y":1040,"wires":[["f8791085.c856e"]]},{"id":"f8791085.c856e","type":"ui_dropdown","z":0,"name":"","label":"Date","tooltip":"","place":"","group":"","order":2,"width":5,"height":1,"passthru":false,"multiple":false,"options":[],"payload":"","topic":"","x":770,"y":1060,"wires":[["f30719e.c81e7e8"]]},{"id":"f30719e.c81e7e8","type":"function","z":0,"name":"saving globally","func":"global.set(\"date\",parseInt(msg.payload))\nmsg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":1060,"wires":[["178327d2.dbaff8","f422b93.1617a48","2a8eee35.a09552"]]},{"id":"1b5e7bd9.136444","type":"ui_dropdown","z":0,"name":"","label":"Power Generation","tooltip":"","place":"Select option","group":"","order":1,"width":5,"height":1,"passthru":false,"multiple":false,"options":[{"label":"All","value":"-1","type":"str"},{"label":"Low","value":0,"type":"num"},{"label":"Medium","value":1,"type":"num"},{"label":"High","value":2,"type":"num"},{"label":"Very High ","value":3,"type":"num"}],"payload":"","topic":"","x":810,"y":1200,"wires":[["3428cbc1.c6d334"]]},{"id":"199e141c.c68abc","type":"function","z":0,"d":true,"name":"","func":"var series =[\"Wind Speed\"];\n\nvar labels = [\"Wind Speed\",\"Time\"];\n\nvar data = [];\n\n\nvar i, len, string;\n\nfor (i = 1, len = msg.payload.length, string = \"\"; i < len; i++) \n{\n    data.push({\"x\":msg.payload[i]._id, \"y\":Number(msg.payload[i].speed)});\n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":1480,"wires":[["262df04a.b50fe"]]},{"id":"262df04a.b50fe","type":"ui_chart","z":0,"d":true,"name":"Wind Speed vs Time","group":"","order":4,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":280,"y":1500,"wires":[[]]},{"id":"f2782f9b.a53","type":"function","z":0,"name":"Intervals","func":"var start , end , state,len ,l1 = 1;\nvar l=0,m=0,h=0,vh=0,tp = 0;\ni = 0;\nlen = msg.payload.length;\nvar intervals = [] , power = [];\nwhile(i < len - 1 ) \n{\n    l1 = 1;\n    power = []\n    start = msg.payload[i]._id;\n    end = msg.payload[i]._id;\n    state = msg.payload[i].state\n    stateCount(state);\n    power.push(msg.payload[i].power)\n    while(i < len - 1 && msg.payload[i].state === msg.payload[i + 1].state)\n    {\n        end = msg.payload[i+1]._id;\n        power.push(msg.payload[i+1].power)\n        i++;\n        l1++;\n        //return power;\n    }\n    intervals.push({\"start\":start, \"end\":end , \"state\" :state , \"len\" : l1 ,\"power\" : power});\n\n    i++;\n\n}\ncount = [l*3,m*3,h*3,vh*3];\nglobal.set(\"count\",count);\nglobal.set(\"intervals\",intervals)\n\n//msg.payload = intervals;\nmsg.payload = count;\nreturn msg;\n\nfunction stateCount(t)\n{\n    switch(t) \n    {\n        case 0 : l++;break;\n        case 1 : m++;break;\n        case 2 : h++;break;\n        case 3 : vh++;break;\n    }\n}","outputs":1,"noerr":0,"x":780,"y":840,"wires":[["4b7dbd97.e8df94"]]},{"id":"3428cbc1.c6d334","type":"function","z":0,"name":"saving globally","func":"global.set(\"tier\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":1200,"wires":[["f422b93.1617a48","178327d2.dbaff8","2a8eee35.a09552"]]},{"id":"f422b93.1617a48","type":"function","z":0,"name":"mapping 5","func":"\nvar intervals = global.get(\"intervals\");\nvar date = global.get(\"date\");\nvar choice = global.get(\"tier\");\n\nvar chosen = [],start,end,diff,l1,avg,state;\n\nfor(var i = 0;i < intervals.length ; i++)\n{\n    if(choice == -1 || intervals[i].state == choice)\n    {\n        if(date == -1 || sameDates(date,intervals[i].start))\n        {\n            state = stateassign(intervals[i].state);\n            start = new Date(intervals[i].start);\n            end = new Date(intervals[i].end);\n            diff = intervals[i].len * 3;\n            start = dateformat(start);\n            chosen.push([start , diff ,state ,intervals[i].power]);\n        }\n    }\n}\n\n\nmsg.payload = chosen;\n\nreturn msg;\n\nfunction stateassign(t)\n{\n    switch(t)\n    {\n        case 0 : return \"Low\";\n        case 1 : return \"Medium\";\n        case 2 : return \"High\";\n        case 3 : return \"Very High\";\n    }\n    return \"\";\n}\n\nfunction diff_hours(dt2, dt1) \n {\n\n  var diff =(dt2.getTime() - dt1.getTime()) / 1000;\n  diff /= (60 * 60);\n  return Math.abs(Math.round(diff));\n  \n }\n \n function dateformat(d)\n {\n     var yy = d.getFullYear();\n     var m = d.getMonth() + 1;\n     var da = d.getDate();\n     //var hr = d.getHours();\n     //var min = d.getMinutes();\n     \n    //var str = da+\"/\"+m+\"/\"+yy+\" \"+hr+\":\"+min;\n     \n    var date = d;\n    var hours = date.getHours() > 12 ? date.getHours() - 12 : date.getHours();\n    var am_pm = date.getHours() >= 12 ? \"PM\" : \"AM\";\n    hours = hours < 10 ? \"0\" + hours : hours;\n    var time =da+\"/\"+m+\"/\"+yy+\" \"+hours + am_pm;\n    return time;\n }\n \nfunction sameDates(d1,d2)\n{\n    d2 = new Date(d2);\n    if(d1 == d2.getDate())\n        return true;\n    else\n        return false;\n}","outputs":1,"noerr":0,"x":1250,"y":1200,"wires":[["f38de8ee.081718","8a325363.272ab"]]},{"id":"8a325363.272ab","type":"ui_template","z":0,"d":true,"group":"","name":"","order":11,"width":5,"height":5,"format":"<table>\n    <tr>\n        <th>Starting time</th>\n        <th>Duration</th>\n        <th>State</th>\n    </tr>\n    <tr ng-repeat=\"row in msg.payload\">\n        <td>{{row[0]}}</td>\n        <td>{{row[1]}} hrs</td>\n        <td>{{row[2]}}</td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1420,"y":1160,"wires":[[]]},{"id":"f38de8ee.081718","type":"function","z":0,"name":"Aggregating","func":"var hrs = 0;\nconst arrSum = arr => arr.reduce((a,b) => a + b, 0)\n//const arrMin = arr => Math.min(...arr);\nvar ar = [];\nfor(var i = 0; i < msg.payload.length ; i++)\n{\n     hrs = msg.payload[i][1] + hrs;\n     ar.push(...msg.payload[i][3]);\n}\n\nvar sum = arrSum(ar);\nsum = Math.round(sum * 100)/100;\nvar min = Math.min(...ar);\nmin = Math.round(min * 100)/100;\nvar max = Math.max(...ar);\nmax = Math.round(max * 100)/100;\n\ncul = [sum,hrs,min,max];\nmsg.payload = cul;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1250,"y":1260,"wires":[["362c3413.24100c","6f7dff9.a79fd","278bbc2f.791394","cc8cdd6a.9a272"]]},{"id":"cc8cdd6a.9a272","type":"ui_text","z":0,"group":"","order":3,"width":4,"height":1,"name":"","label":"Total Power","format":"<span > {{msg.payload[0]}} KWh</span>","layout":"row-spread","x":1430,"y":1240,"wires":[]},{"id":"362c3413.24100c","type":"ui_text","z":0,"group":"","order":5,"width":4,"height":1,"name":"","label":"Total Time","format":"{{msg.payload[1]}}hrs","layout":"row-spread","x":1430,"y":1280,"wires":[]},{"id":"6f7dff9.a79fd","type":"ui_text","z":0,"group":"","order":9,"width":4,"height":1,"name":"","label":"Minimum Power","format":"{{msg.payload[2]}} KWh","layout":"row-spread","x":1440,"y":1320,"wires":[]},{"id":"278bbc2f.791394","type":"ui_text","z":0,"group":"","order":7,"width":4,"height":1,"name":"","label":"Maximum Power","format":"{{msg.payload[3]}} KWh","layout":"row-spread","x":1450,"y":1360,"wires":[]},{"id":"537798e4.c45f68","type":"function","z":0,"name":"Mapping","func":"let m = msg.payload\nlet out = []\nfor(x=0;x<m.length;x++){\n    out.push(m[x].wind)\n}\nglobal.set(\"data\",msg.out)\nglobal.set(\"finaldata\",[])\nreturn msg;\n\n/*\nout.push(\n        {\n            \"weather\":m[x].weather,\n        })\n*/","outputs":1,"noerr":0,"x":600,"y":280,"wires":[["f2b07003.a52c3"]]},{"id":"b0d92188.99a53","type":"function","z":0,"name":"Pre Prediction","func":"ws = global.get(\"ws\")\t\nwd = global.get(\"wd\")\nwg = 0\n//msg.payload = [ws,wd,wg,\"These were the inputs\"]\n\nvar token=msg.payload.access_token\nvar instance_id=\"a46414eb-1c1d-413f-b53a-ba46c6275d6f\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"WindSpeed\"], \"values\": [[ws]]}\nreturn msg;\n//msg.payload={\"fields\": [\"WindSpeed\",\"Wind_Direction\",\"Gust\"], \"values\": [[ws,wd,wg]]}\n","outputs":1,"noerr":0,"x":1200,"y":360,"wires":[["eb19f8b8.f2a488"]]},{"id":"7ae5dc8.f97c524","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":360,"wires":[["b0d92188.99a53"]]},{"id":"eb19f8b8.f2a488","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/a46414eb-1c1d-413f-b53a-ba46c6275d6f/deployments/070748fe-b700-4783-b834-f7478ca53b93/online","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":420,"wires":[["c37b84c6.7cad58","f2b07003.a52c3"]]},{"id":"df5fe267.f103","type":"function","z":0,"name":"PreToken","func":"global.set(\"ws\",msg.payload.wind.speed)\nglobal.set(\"wd\",msg.payload.wind.deg)\nglobal.set(\"dt\",msg.payload.dt)\n\nvar apikey=\"6jTNRsOV30eh1ANNQApM80rLLLwBqPxqa_2IpblPWLl_\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":360,"wires":[["7ae5dc8.f97c524"]]},{"id":"f2b07003.a52c3","type":"array-iterate","z":0,"name":"","source_object":"msg","source_property":"","x":790,"y":280,"wires":[["df5fe267.f103"],[]]},{"id":"52ebb08e.e5565","type":"cloudant out","z":0,"name":"","cloudant":"","database":"wind-energy","service":"node-red-attempt-cloudant-1591811325230-5226","payonly":true,"operation":"insert","x":1290,"y":480,"wires":[]},{"id":"c37b84c6.7cad58","type":"function","z":0,"name":"Saving in Cloudant","func":"/*var finaldata = global.get(\"finaldata\")\nlet t = []\nt.push(finaldata)\nt.push(msg.payload.values[0][0])\nglobal.set(\"finaldata\",t)\nmsg.finaldata = t\n*/\n\nvar ws = global.get(\"ws\")\nvar wd = global.get(\"wd\")\nvar unixTimestamp = global.get(\"dt\");\nvar date = new Date(unixTimestamp*1000);\n\n//str = msg.headers.date\n//datearray = str.split(\" \")\n//datearray.push(datearray[4].split(\":\"))\n//var date = new Date(datearray[3],datearray[2],datearray[1],datearray[6][0],datearray[6][1],datearray[6][2])\n//var date = new Date(str)\n\n/*\nmsg.payload = {\n    _id   : date,\n    power : msg.payload.values[0][0],\n    speed : msg.data.list[0].wind.speed,\n    speed : msg.data.list[0].wind.speed,\n    deg   : msg.data.list[0].wind.deg,\n}*/\n\nmsg.payload = {\n    _id   : date,\n    power : msg.payload.values[0][0],\n    speed : ws,\n//    deg   : wd,\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":480,"wires":[["52ebb08e.e5565"]]},{"id":"2e259580.3dadfa","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":240,"wires":[]},{"id":"58f56f6b.fd1b7","type":"function","z":0,"name":"PreToken","func":"global.set(\"ws\",msg.payload.wind.speed)\nglobal.set(\"wd\",msg.payload.wind.deg)\nglobal.set(\"dt\",msg.payload.dt)\n\nvar apikey=\"PSads5SCIlj5ybSze4lhjOzsFXYfn6Ch-aJSpLAsPPhE\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1460,"wires":[["959c84d1.b168c8","a5ca17a6.8fe378"]]},{"id":"a5ca17a6.8fe378","type":"debug","z":0,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":1420,"wires":[]},{"id":"959c84d1.b168c8","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":1460,"wires":[["17612324.36061d"]]},{"id":"d8ac11d2.1c894","type":"debug","z":0,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":1500,"wires":[]},{"id":"5e6bc227.58774c","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/a46414eb-1c1d-413f-b53a-ba46c6275d6f/deployments/8cd29215-ea05-46e8-aa5f-a242d904c05b/online","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":1560,"wires":[[]]},{"id":"17612324.36061d","type":"function","z":0,"name":"Pre Prediction","func":"ws = global.get(\"ws\")\t\nwd = global.get(\"wd\")\nwg = 0\n//msg.payload = [ws,wd,wg,\"These were the inputs\"]\n\nvar token=msg.payload.access_token\nvar instance_id=\"a46414eb-1c1d-413f-b53a-ba46c6275d6f\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"WindSpeed\",\"Wind_Direction\",\"Gust\"], \"values\": [[ws,wd,wg]]}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1580,"wires":[["5e6bc227.58774c","d8ac11d2.1c894"]]},{"id":"5aa429a.3b63ed8","type":"cloudant in","z":0,"name":"Retrieve documents","cloudant":"ae8dd01f.fb1fa","database":"wind-energy","service":"node-red-attempt-cloudant-1591811325230-5226","search":"_all_","design":"","index":"","x":440,"y":120,"wires":[["24eb2de2.f2e142"]]},{"id":"d04ae385.32cbd","type":"cloudant out","z":0,"name":"Remove all documents ","cloudant":"ae8dd01f.fb1fa","database":"wind-energy","service":"node-red-attempt-cloudant-1591811325230-5226","payonly":false,"operation":"delete","x":780,"y":120,"wires":[]},{"id":"24eb2de2.f2e142","type":"split","z":0,"name":"split out individual documents","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":520,"y":120,"wires":[["5b82b35e.ea8c0c"]]},{"id":"5b82b35e.ea8c0c","type":"function","z":0,"name":"Extract id and rev","func":"\nvar document = {_id: msg.payload._id, _rev: msg.payload._rev};\n\nmsg.payload = document;\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":120,"wires":[["d04ae385.32cbd"]]},{"id":"a4c951b7.9d18","type":"openweathermap","z":0,"name":"","wtype":"forecast","lon":"34.91","lat":"39.06","city":"","country":"","language":"en","x":390,"y":280,"wires":[["2e259580.3dadfa","537798e4.c45f68"]]},{"id":"d6a19e5.359ee6","type":"openweathermap in","z":0,"d":true,"name":"","wtype":"forecast","lon":"34.91","lat":"39.06","city":"","country":"","language":"en","x":220,"y":360,"wires":[[]]},{"id":"5985cbe0.f428f4","type":"inject","z":0,"name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/1 0 * * *","once":false,"onceDelay":0.1,"x":210,"y":280,"wires":[["a4c951b7.9d18"]]},{"id":"3c319400.bbb2ec","type":"comment","z":0,"name":"unused","info":"","x":310,"y":1400,"wires":[]},{"id":"4b7dbd97.e8df94","type":"function","z":0,"name":"Stats","func":"\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":840,"wires":[["26524a32.021306"]]},{"id":"26524a32.021306","type":"ui_template","z":0,"group":"","name":"Tier Duration stats","order":1,"width":5,"height":5,"format":"<table>\n    <tr>\n        <th>Tier</th>\n        <th>Duration</th>\n    </tr>\n    <tr>\n        <td style=\"text-align:center\">Low</td>\n        <td style=\"text-align:center\">{{msg.payload[0]}} Hrs</td>\n    </tr>\n        <tr>\n        <td style=\"text-align:center\">Medium</td>\n        <td style=\"text-align:center\">{{msg.payload[1]}} Hrs</td>\n    </tr>\n        <tr>\n        <td style=\"text-align:center\">High</td>\n        <td style=\"text-align:center\">{{msg.payload[2]}} Hrs</td>\n    </tr>\n        <tr>\n        <td style=\"text-align:center\">Very High</td>\n        <td style=\"text-align:center\">{{msg.payload[3]}} Hrs</td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1130,"y":840,"wires":[[]]},{"id":"74505c8.1953ba4","type":"function","z":0,"name":"Aggregating","func":"var hrs = 0;\n\nconst arrSum = arr => arr.reduce((a,b) => a + b, 0)\n\nvar len = msg.payload.length , i = 0;\nvar power = [];\nwhile(i < len)\n{\n    power.push(msg.payload[i].power);\n    hrs++;\n}\n\nvar sum = arrSum(power);\nsum = Math.round(sum * 100)/100;\nvar min = Math.min(power);\nmin = Math.round(min * 100)/100;\nvar max = Math.max(power);\nmax = Math.round(max * 100)/100;\n\ncul = [sum,hrs,min,max];\nmsg.payload = cul;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":590,"y":800,"wires":[["6880b71d.a9a668"]]},{"id":"6880b71d.a9a668","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":800,"wires":[]},{"id":"dc64f33e.0676","type":"inject","z":0,"name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":140,"wires":[["5aa429a.3b63ed8"]]},{"id":"a7d51ec3.babf2","type":"inject","z":0,"name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":100,"wires":[["5aa429a.3b63ed8"]]},{"id":"b5511a14.6de148","type":"ui_chart","z":0,"name":"Power vs Time","group":"","order":3,"width":12,"height":4,"label":"","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1440,"y":1000,"wires":[[]]},{"id":"6857c4c8.01fbfc","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1420,"y":960,"wires":[]},{"id":"2a8eee35.a09552","type":"function","z":0,"name":"mapping 3","func":"","outputs":1,"noerr":0,"x":1250,"y":1020,"wires":[["6857c4c8.01fbfc"]]},{"id":"9d37f75f.62b5b8","type":"function","z":0,"name":"date","func":"var t , i = 0, len , ddata = [] , data = [] , d;\nlen = msg.payload.length;\nfor (i = 0 ; i < len - 1; i++) \n{\n    ddata = [];\n    d = msg.payload[i]._id\n    while(i < len -1 && sameDates(msg.payload[i]._id,msg.payload[i+1]._id))\n    {\n        ddata.push({\"x\":msg.payload[i]._id , \"y\":msg.payload[i].power});\n        i++;\n    }\n    data.push({\"_id\":d,\"powerdata\":[...ddata]});\n    \n}\nmsg.payload = data;\nreturn msg;\n\n\nfunction sameDates(d1,d2)\n{\n    d1 = new Date(d1);\n    d2 = new Date(d2);\n    if(d1.getDate() == d2.getDate())\n        return true;\n    else\n        return false;\n}\n","outputs":1,"noerr":0,"x":570,"y":880,"wires":[["c85e3f99.44a03"]]},{"id":"c85e3f99.44a03","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":880,"wires":[]},{"id":"287bc528.eb637a","type":"inject","z":"53129dea.7328f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":460,"wires":[["5cb05627.c8f438","1b940201.4e860e"]]},{"id":"beeefdc3.c00ac","type":"function","z":"53129dea.7328f4","name":"mapping 1","func":"var series =[\"Power\"];\n\nvar labels = [\"Time\",\"power\"];\n\nvar data = [];\n\nvar i, len, string;\n\nfor (i = 1, len = msg.payload.length, string = \"\"; i < len; i++) \n{\n    data.push({\"x\":msg.payload[i]._id, \"y\":Number(msg.payload[i].power)});\n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":744.8999404907227,"y":647.3999929428101,"wires":[["e3795ceb.f4e56"]]},{"id":"e3795ceb.f4e56","type":"ui_chart","z":"53129dea.7328f4","name":"Static Power vs Time","group":"dfbf0cc5.12543","order":1,"width":13,"height":4,"label":"Power vs Time Chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"Yet to recieve ot data is not availble in this context","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":974.8999404907227,"y":647.3999929428101,"wires":[[]]},{"id":"c8d8c12a.d5c52","type":"function","z":"53129dea.7328f4","name":"mapping 2","func":"low  = global.get(\"low\")\nmed  = global.get(\"med\")\nhigh = global.get(\"high\")\n\n//var data = [];\n\n\nvar t , i, len, string;\nvar s = [0,0,0,0];\n\nfor (i = 0, len = msg.payload.length, string = \"\"; i < len; i++) \n{\n    //data.push({\"x\":msg.payload[i]._id, \"y\":Number(msg.payload[i].speed)});\n    t = assignState(msg.payload[i].power);\n    if(t === 0 ) s[0]++;\n    if(t === 1 ) s[1]++;\n    if(t === 2 ) s[2]++;\n    if(t === 3 ) s[3]++;\n    msg.payload[i].state = t;\n}\n\ns = [s];\n\nmsg.payload = [{\"series\" : [\"Count\"],\"data\" : s, \"labels\" : [\"Low\",\"Medium\",\"High\",\"Very High\"]}];\n//msg.payload = data\nreturn msg;\n\n\nfunction assignState(t)\n{\n    if(t < 200) return 0;\n    if(t < 500) return 1;\n    if(t < 800) return 2;\n    if(t > 800) return 3;\n    return (-1);\n}\n\n","outputs":1,"noerr":0,"x":744.8999404907227,"y":687.3999929428101,"wires":[["d56e4913.91cfc8","15574ca9.62e133","5ca273d3.079a7c"]]},{"id":"9405397f.b55d78","type":"function","z":"53129dea.7328f4","name":"saving globally","func":"global.set(\"low\",msg.payload.low)\nglobal.set(\"med\",msg.payload.med)\nglobal.set(\"high\",msg.payload.high)\n\n//msg.topic = [ {\"Low\":0} ,{\"Medium\":1} ,{\"High\":2} ,{\"Very High\":3} ]\n//msg.payload = [msg.payload[0].low]\n/*\nif(msg.payload.low[0])\n{\n    msg.payload.low = msg.payload[0].low;\n    msg.payload.med = msg.payload[0].med;\n    msg.payload.high = msg.payload[0].high;\n\n}*/\nreturn msg;","outputs":1,"noerr":0,"x":954.8999404907227,"y":407.39999294281006,"wires":[["b6e5efc0.f0227","4f1eec29.bede44","19a8ac96.370b53"]]},{"id":"d56e4913.91cfc8","type":"ui_chart","z":"53129dea.7328f4","name":"","group":"3997fead.8ce6b2","order":1,"width":4,"height":4,"label":"Pie chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Yet to recieve ot data is not availble in this context","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#6ee2c0","#36a4d3","#5441e1","#180070","#610000","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":934.8999404907227,"y":687.3999929428101,"wires":[[]]},{"id":"15574ca9.62e133","type":"ui_chart","z":"53129dea.7328f4","name":"","group":"3997fead.8ce6b2","order":2,"width":4,"height":4,"label":"Bar chart","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#6ee2c0","#36a4d3","#5441e1","#180070","#610000","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":934.8999404907227,"y":727.3999929428101,"wires":[[]]},{"id":"c3a39602.29b848","type":"function","z":"53129dea.7328f4","name":"States ","func":"low  = global.get(\"low\")\nmed  = global.get(\"med\")\nhigh = global.get(\"high\")\n\nglobal.set(\"date\",-1)\nglobal.set(\"tier\",-1);\n\nvar t , i = 0, len, string;\nvar s = [0,0,0,0];\nlen = msg.payload.length;\nfor (i = 0 ; i < len; i++) \n{\n    t = assignState(msg.payload[i].power);\n    if(t === 0 ) s[0]++;\n    if(t === 1 ) s[1]++;\n    if(t === 2 ) s[2]++;\n    if(t === 3 ) s[3]++;\n    msg.payload[i].state = t;\n}\n\nmsg.statefull = msg.payload;\nglobal.set(\"odata\",msg.payload)\n\nreturn msg;\n\nfunction assignState(t)\n{\n    if(t < 200) return 0;\n    if(t < 500) return 1;\n    if(t < 800) return 2;\n    if(t > 800) return 3;\n    return (-1);\n}\n\n","outputs":1,"noerr":0,"x":724.8999404907227,"y":547.3999929428101,"wires":[["16fec516.e4065b","e825a1f4.dae0d","3937a310.7c945c"]]},{"id":"a62ad8db.ed6ce8","type":"ui_form","z":"53129dea.7328f4","name":"","label":"","group":"11399384.66627c","order":4,"width":5,"height":4,"options":[{"label":"Low ","value":"low","type":"number","required":true,"rows":null},{"label":"Medium","value":"med","type":"number","required":true,"rows":null},{"label":"High","value":"high","type":"number","required":true,"rows":null}],"formValue":{"low":"","med":"","high":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":724.8999404907227,"y":347.39999294281006,"wires":[["5fce0424.2027bc","2ee24d34.d586c2","9405397f.b55d78"]]},{"id":"11304cea.613163","type":"function","z":"53129dea.7328f4","name":"mapping 4","func":"d = global.get(\"date1\");\ntier = global.get(\"tier\");\nvar series =[\"Power\"];\nvar labels = [\"Time\"];\nvar data = [];\n\nintervals = global.get(\"intervals\");\n\nvar i, len = intervals.length;\nfor (i = 0 ; i < len; i++) \n{\n    if(d === -1 || sameDates(d,intervals[i].start))\n    {\n        if(tier == -1 || intervals[i].state == tier)\n            data.push({\"x\":intervals[i].start, \"y\":Number(intervals[i].state)});\n\n    }\n}\nif(data === [])\n{\n    msg = \"\";\n    return msg;\n}\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\n\nreturn msg;\n\nfunction sameDates(d1,d2)\n{\n    d2 = new Date(d2);\n    if(d1 == d2.getDate())\n        return true;\n    else\n        return false;\n}","outputs":1,"noerr":0,"x":1430,"y":780,"wires":[["423093eb.12880c","52d5d549.1101ac"]]},{"id":"423093eb.12880c","type":"ui_chart","z":"53129dea.7328f4","name":"Dynamic State chart","group":"cb215063.8c47b","order":2,"width":11,"height":4,"label":"State vs Time Chart","chartType":"line","legend":"true","xformat":"auto","interpolate":"step","nodata":"Yet to recieve ot data is not availble in this context","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#63038c","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1680,"y":780,"wires":[[]]},{"id":"19a8ac96.370b53","type":"ui_text","z":"53129dea.7328f4","group":"11399384.66627c","order":7,"width":1,"height":1,"name":"","label":"","format":"{{msg.payload.high}}","layout":"row-spread","x":1290,"y":440,"wires":[]},{"id":"4f1eec29.bede44","type":"ui_text","z":"53129dea.7328f4","group":"11399384.66627c","order":6,"width":1,"height":1,"name":"","label":"","format":"{{msg.payload.med}}","layout":"row-spread","x":1290,"y":400,"wires":[]},{"id":"b6e5efc0.f0227","type":"ui_text","z":"53129dea.7328f4","group":"11399384.66627c","order":5,"width":1,"height":1,"name":"","label":"","format":"{{msg.payload.low}}","layout":"row-spread","x":1290,"y":360,"wires":[]},{"id":"f8943602.e5fe38","type":"cloudant out","z":"53129dea.7328f4","name":"","cloudant":"","database":"wind-range","service":"node-red-attempt-cloudant-1591811325230-5226","payonly":true,"operation":"insert","x":1210,"y":300,"wires":[]},{"id":"5fce0424.2027bc","type":"delay","z":"53129dea.7328f4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":934.8999404907227,"y":307.39999294281006,"wires":[["f8943602.e5fe38"]]},{"id":"aaceb41b.7edc48","type":"function","z":"53129dea.7328f4","name":"mapping","func":"msg.payload = {\"low\":msg.payload[0].low , \"med\" : msg.payload[0].med , \"high\":msg.payload[0].high}\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":400,"wires":[["9405397f.b55d78"]]},{"id":"1e2e97d7.3e8be8","type":"split","z":"53129dea.7328f4","name":"split out individual documents","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":1134.8999404907227,"y":247.39999294281006,"wires":[["b161c103.a8a55"]]},{"id":"2ee24d34.d586c2","type":"cloudant in","z":"53129dea.7328f4","name":"Retrieve documents","cloudant":"8bfa9fd6.585bd","database":"wind-range","service":"node-red-attempt-cloudant-1591811325230-5226","search":"_all_","design":"","index":"","x":1054.8999404907227,"y":247.39999294281006,"wires":[["1e2e97d7.3e8be8"]]},{"id":"b161c103.a8a55","type":"function","z":"53129dea.7328f4","name":"Extract id and rev","func":"\nvar document = {_id: msg.payload._id, _rev: msg.payload._rev};\n\nmsg.payload = document;\n\nreturn msg;","outputs":1,"noerr":0,"x":1144.8999404907227,"y":247.39999294281006,"wires":[["bf357a41.ae3db8"]]},{"id":"bf357a41.ae3db8","type":"cloudant out","z":"53129dea.7328f4","name":"Remove all documents ","cloudant":"8bfa9fd6.585bd","database":"wind-range","service":"node-red-attempt-cloudant-1591811325230-5226","payonly":false,"operation":"delete","x":1414.8999404907227,"y":247.39999294281006,"wires":[]},{"id":"76b9b8f2.634fa8","type":"function","z":"53129dea.7328f4","name":"Dropdown dates","func":"low  = global.get(\"low\")\nmed  = global.get(\"med\")\nhigh = global.get(\"high\")\n\nconst unique = (value, index, self) => {\n  return self.indexOf(value) === index\n}\n\nvar t , i = 0, len ;\nvar date = [{\"5 days\":-1}];\nlen = msg.payload.length;\nvar start,end;\nwhile(i < len-1)\n{\n    start = msg.payload[i]._id;\n    while(i < len-2 && sameDate(start , msg.payload[i+1]._id))\n    {\n        i++;\n    }\n    end = msg.payload[i+1]._id;\n    end = new Date(end);\n    var str = end.getDate() +\"/\"+ (end.getMonth()+1) +\"/\"+end.getYear();\n    date.push({[str]:parseInt(end.getDate())});\n    i++;\n}\ndate = date.filter(unique)\nmsg.options = date;\nmsg.payload = -1;\n//var temp = msg;\nglobal.set(\"doptions\",date);\n\nreturn msg;\n\n\n\nfunction sameDate(d1,d2)\n{\n    d1 = new Date(d1);\n    d2 = new Date(d2);\n    var date1 = d1.getDate();\n    var date2 = d2.getDate();\n    if(date1 === date2)\n        return true;\n    else\n        return false;\n}","outputs":1,"noerr":0,"x":520,"y":720,"wires":[["fadaa31a.d70ce"]]},{"id":"8c8a768a.811748","type":"ui_dropdown","z":"53129dea.7328f4","name":"","label":"Date","tooltip":"","place":"","group":"6de1a4a1.c7decc","order":2,"width":6,"height":1,"passthru":true,"multiple":false,"options":[],"payload":"","topic":"","x":930,"y":780,"wires":[["3c0b798d.358a16","f6056ac7.cc3038"]]},{"id":"3c0b798d.358a16","type":"function","z":"53129dea.7328f4","name":"saving globally","func":"global.set(\"date1\",parseInt(msg.payload))\nmsg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":780,"wires":[["11304cea.613163","9726e97f.6c5438"]]},{"id":"a0087021.72466","type":"ui_dropdown","z":"53129dea.7328f4","name":"","label":"Power Generation","tooltip":"","place":"Select option","group":"6de1a4a1.c7decc","order":1,"width":6,"height":1,"passthru":false,"multiple":false,"options":[{"label":"All","value":"-1","type":"str"},{"label":"Low","value":0,"type":"num"},{"label":"Medium","value":1,"type":"num"},{"label":"High","value":2,"type":"num"},{"label":"Very High ","value":3,"type":"num"}],"payload":"","topic":"","x":950,"y":900,"wires":[["7a7d4199.9ce26"]]},{"id":"16fec516.e4065b","type":"function","z":"53129dea.7328f4","name":"state Intervals and save","func":"var start , end , state,len ,l1 = 1;\nvar l=0,m=0,h=0,vh=0,tp =0 ;\ni = 0;\nlen = msg.payload.length;\nvar intervals = [] , power = [];\nwhile(i < len - 1 ) \n{\n    l1 = 1;\n    power = []\n    start = msg.payload[i]._id;\n    end = msg.payload[i]._id;\n    state = msg.payload[i].state\n    stateCount(state);\n    power.push(msg.payload[i].power)\n    while(i < len - 1 && msg.payload[i].state === msg.payload[i + 1].state)\n    {\n        end = msg.payload[i+1]._id;\n        power.push(msg.payload[i+1].power)\n        i++;\n        l1++;\n        //return power;\n    }\n    intervals.push({\"start\":start, \"end\":end , \"state\" :state , \"len\" : l1 ,\"power\" : power});\n\n    i++;\n\n}\ncount = [l*3,m*3,h*3,vh*3];\nglobal.set(\"count\",count);\nglobal.set(\"intervals\",intervals)\n\n//msg.payload = intervals;\nmsg.payload = count;\nreturn msg;\n\nfunction stateCount(t)\n{\n    switch(t) \n    {\n        case 0 : l++;break;\n        case 1 : m++;break;\n        case 2 : h++;break;\n        case 3 : vh++;break;\n    }\n}","outputs":1,"noerr":0,"x":990,"y":540,"wires":[["b80bd9f4.54a8c8"]]},{"id":"7a7d4199.9ce26","type":"function","z":"53129dea.7328f4","name":"saving globally","func":"global.set(\"tier\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":900,"wires":[["c88c4348.5756f","11304cea.613163","9726e97f.6c5438"]]},{"id":"c88c4348.5756f","type":"function","z":"53129dea.7328f4","name":"mapping 5","func":"\nvar intervals = global.get(\"intervals\");\nvar date = global.get(\"date2\");\nvar choice = global.get(\"tier\");\n\nvar chosen = [],start,end,diff,l1,avg,state;\n\nfor(var i = 0;i < intervals.length ; i++)\n{\n    if(choice == -1 || intervals[i].state == choice)\n    {\n        if(date == -1 || sameDates(date,intervals[i].start))\n        {\n            state = stateassign(intervals[i].state);\n            start = new Date(intervals[i].start);\n            end = new Date(intervals[i].end);\n            diff = intervals[i].len * 3;\n            start = dateformat(start);\n            chosen.push([start , diff ,state ,intervals[i].power]);\n        }\n    }\n}\n\n\nmsg.payload = chosen;\n\nreturn msg;\n\nfunction stateassign(t)\n{\n    switch(t)\n    {\n        case 0 : return \"Low\";\n        case 1 : return \"Medium\";\n        case 2 : return \"High\";\n        case 3 : return \"Very High\";\n    }\n    return \"\";\n}\n\nfunction diff_hours(dt2, dt1) \n {\n\n  var diff =(dt2.getTime() - dt1.getTime()) / 1000;\n  diff /= (60 * 60);\n  return Math.abs(Math.round(diff));\n  \n }\n \n function dateformat(d)\n {\n     var yy = d.getFullYear();\n     var m = d.getMonth() + 1;\n     var da = d.getDate();\n     //var hr = d.getHours();\n     //var min = d.getMinutes();\n     \n    //var str = da+\"/\"+m+\"/\"+yy+\" \"+hr+\":\"+min;\n     \n    var date = d;\n    var hours = date.getHours() > 12 ? date.getHours() - 12 : date.getHours();\n    var am_pm = date.getHours() >= 12 ? \"PM\" : \"AM\";\n    hours = hours < 10 ? \"0\" + hours : hours;\n    var time =da+\"/\"+m+\"/\"+yy+\" \"+hours + am_pm;\n    return time;\n }\n \nfunction sameDates(d1,d2)\n{\n    d2 = new Date(d2);\n    if(d1 == d2.getDate())\n        return true;\n    else\n        return false;\n}","outputs":1,"noerr":0,"x":1430,"y":900,"wires":[["809734ae.c9d788","1f3e2b5c.7fa355","73c48ee0.28572","fcd5f558.56de88"]]},{"id":"1f3e2b5c.7fa355","type":"ui_template","z":"53129dea.7328f4","group":"dea5fca5.5fc45","name":"Intervals display","order":1,"width":6,"height":5,"format":"<table ng-if=\"msg.payload[0]\">\n    <tr>\n        <th>Starting time</th>\n        <th>Duration</th>\n        <th>State</th>\n    </tr>\n    <tr ng-repeat=\"row in msg.payload\">\n        <td>{{row[0]}}</td>\n        <td>{{row[1]}} hrs</td>\n        <td>{{row[2]}}</td>\n    </tr>\n</table>\n<div ng-if=\"!msg.payload[0]\">No interval for this preference</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1660,"y":900,"wires":[[]]},{"id":"809734ae.c9d788","type":"function","z":"53129dea.7328f4","name":"Aggregating","func":"var hrs = 0;\nconst arrSum = arr => arr.reduce((a,b) => a + b, 0)\n//const arrMin = arr => Math.min(...arr);\nvar ar = [];\nfor(var i = 0; i < msg.payload.length ; i++)\n{\n     hrs = msg.payload[i][1] + hrs;\n     ar.push(...msg.payload[i][3]);\n}\n\nvar sum = arrSum(ar);\nsum = Math.round(sum * 100)/100;\nvar min = Math.min(...ar);\nmin = Math.round(min * 100)/100;\nvar max = Math.max(...ar);\nmax = Math.round(max * 100)/100;\n\ncul = [sum,hrs,min,max];\nmsg.payload = cul;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1450,"y":980,"wires":[["2ff2f101.14d35e","32005066.38a05","700df2dc.8eac9c","2f47f162.adface"]]},{"id":"2f47f162.adface","type":"ui_text","z":"53129dea.7328f4","group":"6de1a4a1.c7decc","order":3,"width":3,"height":1,"name":"","label":"Total Power","format":"<span > {{msg.payload[0]}} KWh</span>","layout":"row-spread","x":1650,"y":940,"wires":[]},{"id":"2ff2f101.14d35e","type":"ui_text","z":"53129dea.7328f4","group":"6de1a4a1.c7decc","order":4,"width":3,"height":1,"name":"","label":"Total Time","format":"{{msg.payload[1]}} Hrs","layout":"row-spread","x":1650,"y":980,"wires":[]},{"id":"32005066.38a05","type":"ui_text","z":"53129dea.7328f4","group":"6de1a4a1.c7decc","order":6,"width":3,"height":1,"name":"","label":"Minimum Power","format":"{{msg.payload[2]}} KWh","layout":"row-spread","x":1660,"y":1020,"wires":[]},{"id":"700df2dc.8eac9c","type":"ui_text","z":"53129dea.7328f4","group":"6de1a4a1.c7decc","order":5,"width":3,"height":1,"name":"","label":"Maximum Power","format":"{{msg.payload[3]}} KWh","layout":"row-spread","x":1670,"y":1060,"wires":[]},{"id":"b80bd9f4.54a8c8","type":"ui_template","z":"53129dea.7328f4","group":"4eca48d.5f6d4b8","name":"Tier Duration stats","order":1,"width":5,"height":3,"format":"<table>\n    <tr>\n        <th>Tier</th>\n        <th>Duration</th>\n    </tr>\n    <tr>\n        <td style=\"text-align:center\">Low</td>\n        <td style=\"text-align:center\">{{msg.payload[0]}} Hrs</td>\n    </tr>\n        <tr>\n        <td style=\"text-align:center\">Medium</td>\n        <td style=\"text-align:center\">{{msg.payload[1]}} Hrs</td>\n    </tr>\n        <tr>\n        <td style=\"text-align:center\">High</td>\n        <td style=\"text-align:center\">{{msg.payload[2]}} Hrs</td>\n    </tr>\n        <tr>\n        <td style=\"text-align:center\">Very High</td>\n        <td style=\"text-align:center\">{{msg.payload[3]}} Hrs</td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1230,"y":540,"wires":[[]]},{"id":"16cb393.d48c6c7","type":"function","z":"53129dea.7328f4","name":"Aggregating","func":"var hrs = 1;\n\nconst arrSum = arr => arr.reduce((a,b) => a + b, 0)\n\nvar len = msg.payload.length , i = 0;\nvar power = [];\nwhile(i < len)\n{\n    power.push(msg.payload[i].power);\n    hrs++;\n    i++;\n}\n\nvar sum = arrSum(power);\nsum = Math.round(sum * 100)/100;\nvar min = Math.min(...power);\nmin = Math.round(min * 100)/100;\nvar max = Math.max(...power);\nmax = Math.round(max * 100)/100;\n\ncul = [sum,hrs,min,max];\nmsg.payload = cul;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":750,"y":1140,"wires":[["8fae638d.26663","30be8717.28b3a8","c2d9a9fe.404968","794bca23.135a74"]]},{"id":"29cbf322.2fbfec","type":"ui_chart","z":"53129dea.7328f4","name":"Dynamic Power vs Time","group":"cb215063.8c47b","order":1,"width":11,"height":4,"label":"Power vs Time Chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"Yet to recieve ot data is not availble in this context","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1690,"y":700,"wires":[[]]},{"id":"9726e97f.6c5438","type":"function","z":"53129dea.7328f4","name":"mapping 3","func":"d = global.get(\"date1\");\ntier = global.get(\"tier\");\nvar series =[\"Power\"];\nvar labels = [\"Time\"];\nvar data = [];\n\nodata = global.get(\"odata\");\n\nvar i, len = odata.length;\nfor (i = 0 ; i < len; i++) \n{\n    if(d === -1 || sameDates(d,odata[i]._id))\n    {\n        if(tier == -1 || odata[i].state == tier)\n            data.push({\"x\":odata[i]._id, \"y\":Number(odata[i].power)});\n\n    }\n}\nif(data === [])\n{\n    msg = \"\";\n    return msg;\n}\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\n\nreturn msg;\n\nfunction sameDates(d1,d2)\n{\n    d2 = new Date(d2);\n    if(d1 == d2.getDate())\n        return true;\n    else\n        return false;\n}\n\n","outputs":1,"noerr":0,"x":1430,"y":740,"wires":[["29cbf322.2fbfec","600ccc2c.2631b4","b33ed17a.37571"]]},{"id":"3937a310.7c945c","type":"function","z":"53129dea.7328f4","d":true,"name":"date intervals and save","func":"var t , i = 0, len , ddata = [] , data = [] , d;\nlen = msg.payload.length;\nfor (i = 0 ; i < len - 1; i++) \n{\n    ddata = [];\n    d = msg.payload[i]._id\n    while(i < len -1 && sameDates(msg.payload[i]._id,msg.payload[i+1]._id))\n    {\n        ddata.push({\"x\":msg.payload[i]._id , \"y\":msg.payload[i].power});\n        i++;\n    }\n    data.push({\"_id\":d,\"powerdata\":[...ddata]});\n    \n}\nglobal.set(\"dateintervals\",data);\nmsg.payload = data;\nreturn msg;\n\n\nfunction sameDates(d1,d2)\n{\n    d1 = new Date(d1);\n    d2 = new Date(d2);\n    if(d1.getDate() == d2.getDate())\n        return true;\n    else\n        return false;\n}\n","outputs":1,"noerr":0,"x":990,"y":580,"wires":[[]]},{"id":"2085ef1e.095ee","type":"inject","z":"53129dea.7328f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":800,"y":240,"wires":[["2ee24d34.d586c2"]]},{"id":"cee419ae.ddceb8","type":"function","z":"800b62e6.b3034","name":"Mapping","func":"//Initialising for today's forecast\nglobal.set(\"total\",0)\nglobal.set(\"min\",1000000)\nglobal.set(\"max\",0)\nglobal.set(\"count\",0)\n\nlet m = msg.payload\nlet out = []\nfor(x=0;x<m.length;x++){\n    out.push(m[x].wind)\n}\nglobal.set(\"data\",msg.out)\nglobal.set(\"finaldata\",[])\nreturn msg;\n\n/*\nout.push(\n        {\n            \"weather\":m[x].weather,\n        })\n*/","outputs":1,"noerr":0,"x":560,"y":420,"wires":[["b4e3c23f.f9311"]]},{"id":"3052c5bd.36354a","type":"function","z":"800b62e6.b3034","name":"Pre Prediction","func":"ws = global.get(\"ws\")\t\nwd = global.get(\"wd\")\nwg = 0\n//msg.payload = [ws,wd,wg,\"These were the inputs\"]\n\nvar token=msg.payload.access_token\nvar instance_id=\"e7312823-543f-4e76-b657-42927fee3e90\"\n//var instance_id=\"a46414eb-1c1d-413f-b53a-ba46c6275d6f\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"WindSpeed\"], \"values\": [[ws]]}\nreturn msg;\n//msg.payload={\"fields\": [\"WindSpeed\"], \"values\": [[ws]]}\n","outputs":1,"noerr":0,"x":1160,"y":500,"wires":[["64dbc6a4.b88338","b70c00e4.ec99a"]]},{"id":"687b7f1.5ba1a8","type":"http request","z":"800b62e6.b3034","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":500,"wires":[["3052c5bd.36354a","acad0213.e3cc7"]]},{"id":"64dbc6a4.b88338","type":"http request","z":"800b62e6.b3034","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/e7312823-543f-4e76-b657-42927fee3e90/deployments/e74bdd3d-7e1a-47a0-94c4-e8dd13bbb376/online","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":560,"wires":[["6d12c374.d7972c","b4e3c23f.f9311","12696cd1.029fa3"]]},{"id":"cfef5b5b.964718","type":"function","z":"800b62e6.b3034","name":"PreToken","func":"global.set(\"ws\",msg.payload.wind.speed)\nglobal.set(\"wd\",msg.payload.wind.deg)\nglobal.set(\"dt\",msg.payload.dt)\n\n//var apikey=\"6jTNRsOV30eh1ANNQApM80rLLLwBqPxqa_2IpblPWLl_\";\nvar apikey=\"uN7laep2usMXGnAxovs6OkXEst-qh_XBC_9IzHog7iYt\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":500,"wires":[["687b7f1.5ba1a8"]]},{"id":"b4e3c23f.f9311","type":"array-iterate","z":"800b62e6.b3034","name":"","source_object":"msg","source_property":"","x":750,"y":420,"wires":[["cfef5b5b.964718"],[]]},{"id":"63d33e32.5b62b","type":"cloudant out","z":"800b62e6.b3034","name":"","cloudant":"","database":"wind-energy","service":"node-red-attempt-cloudant-1591811325230-5226","payonly":true,"operation":"insert","x":1275.1000595092773,"y":552.6000070571899,"wires":[]},{"id":"6d12c374.d7972c","type":"function","z":"800b62e6.b3034","name":"Saving in Cloudant","func":"/*var finaldata = global.get(\"finaldata\")\nlet t = []\nt.push(finaldata)\nt.push(msg.payload.values[0][0])\nglobal.set(\"finaldata\",t)\nmsg.finaldata = t\n*/\n\nvar ws = global.get(\"ws\")\nvar wd = global.get(\"wd\")\nvar unixTimestamp = global.get(\"dt\");\nvar date = new Date(unixTimestamp*1000);\n\n//str = msg.headers.date\n//datearray = str.split(\" \")\n//datearray.push(datearray[4].split(\":\"))\n//var date = new Date(datearray[3],datearray[2],datearray[1],datearray[6][0],datearray[6][1],datearray[6][2])\n//var date = new Date(str)\n\n/*\nmsg.payload = {\n    _id   : date,\n    power : msg.payload.values[0][0],\n    speed : msg.data.list[0].wind.speed,\n    speed : msg.data.list[0].wind.speed,\n    deg   : msg.data.list[0].wind.deg,\n}*/\n\nmsg.payload = {\n    _id   : date,\n    power : msg.payload.values[0][0],\n    speed : ws,\n//    deg   : wd,\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1055.1000595092773,"y":552.6000070571899,"wires":[["63d33e32.5b62b"]]},{"id":"ec9963c4.c49a9","type":"debug","z":"800b62e6.b3034","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":380,"wires":[]},{"id":"dea152be.76c49","type":"cloudant in","z":"800b62e6.b3034","name":"Retrieve documents","cloudant":"8bfa9fd6.585bd","database":"wind-energy","service":"node-red-attempt-cloudant-1591811325230-5226","search":"_all_","design":"","index":"","x":365.10005950927734,"y":252.60000705718994,"wires":[["e5d03548.a9a448"]]},{"id":"9f36fd5a.7e731","type":"cloudant out","z":"800b62e6.b3034","name":"Remove all documents ","cloudant":"8bfa9fd6.585bd","database":"wind-energy","service":"node-red-attempt-cloudant-1591811325230-5226","payonly":false,"operation":"delete","x":760,"y":260,"wires":[]},{"id":"e5d03548.a9a448","type":"split","z":"800b62e6.b3034","name":"split out individual documents","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":480,"y":260,"wires":[["346bca9d.e613b6"]]},{"id":"346bca9d.e613b6","type":"function","z":"800b62e6.b3034","name":"Extract id and rev","func":"\nvar document = {_id: msg.payload._id, _rev: msg.payload._rev};\n\nmsg.payload = document;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":260,"wires":[["9f36fd5a.7e731"]]},{"id":"90e2aa83.219858","type":"openweathermap","z":"800b62e6.b3034","name":"","wtype":"forecast","lon":"34.91","lat":"39.06","city":"","country":"","language":"en","x":350,"y":420,"wires":[["ec9963c4.c49a9","cee419ae.ddceb8"]]},{"id":"f32cfaaf.5864a8","type":"inject","z":"800b62e6.b3034","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":150,"y":420,"wires":[["90e2aa83.219858"]]},{"id":"59a43675.7b0ac8","type":"inject","z":"800b62e6.b3034","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"55 23 * * *","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["dea152be.76c49"]]},{"id":"970c227b.726bc","type":"comment","z":"800b62e6.b3034","name":"Clearing database ","info":"Everyday at specified time , database must be cleared beffore the new values come in here\n","x":350,"y":200,"wires":[]},{"id":"aad404c9.4e1b58","type":"comment","z":"800b62e6.b3034","name":"New Prediction","info":"New 5 days forecast is recieved here and then it is predicted using the model deployed in IBM Machine Learning Service","x":340,"y":360,"wires":[]},{"id":"c2d9a9fe.404968","type":"ui_text","z":"53129dea.7328f4","group":"4eca48d.5f6d4b8","order":5,"width":5,"height":1,"name":"","label":"Minimum Power","format":"{{msg.payload[2]}} KWh","layout":"row-spread","x":940,"y":1160,"wires":[]},{"id":"794bca23.135a74","type":"ui_text","z":"53129dea.7328f4","group":"4eca48d.5f6d4b8","order":4,"width":5,"height":1,"name":"","label":"Maximum Power","format":"{{msg.payload[3]}} KWh","layout":"row-spread","x":950,"y":1200,"wires":[]},{"id":"30be8717.28b3a8","type":"ui_text","z":"53129dea.7328f4","group":"4eca48d.5f6d4b8","order":3,"width":5,"height":1,"name":"","label":"Total Time","format":"{{msg.payload[1]}} Hrs","layout":"row-spread","x":930,"y":1120,"wires":[]},{"id":"8fae638d.26663","type":"ui_text","z":"53129dea.7328f4","group":"4eca48d.5f6d4b8","order":2,"width":5,"height":1,"name":"","label":"Total Power","format":"<span > {{msg.payload[0]}} KWh</span>","layout":"row-spread","x":930,"y":1080,"wires":[]},{"id":"9dea4846.57fc98","type":"ui_chart","z":"53129dea.7328f4","name":"Static State Chart","group":"dfbf0cc5.12543","order":2,"width":13,"height":4,"label":"State Chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"step","nodata":"Yet to recieve ot data is not availble in this context","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1230,"y":500,"wires":[[]]},{"id":"e825a1f4.dae0d","type":"function","z":"53129dea.7328f4","name":"mapping 4","func":"\nvar series =[\"States\"];\nvar labels = [\"Time\"];\nvar data = [];\n\nvar i, len = msg.payload.length;\nfor (i = 1 ; i < len; i++) \n{\n    data.push({\"x\":msg.payload[i]._id, \"y\":Number(msg.payload[i].state)});\n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":500,"wires":[["9dea4846.57fc98"]]},{"id":"600ccc2c.2631b4","type":"function","z":"53129dea.7328f4","name":"Summarising","func":"low  = global.get(\"low\")\nmed  = global.get(\"med\")\nhigh = global.get(\"high\")\n\nvar data = msg.payload[0].data[0];\n\nvar t , i, len, string;\nvar s = [0,0,0,0];\n\nfor (i = 0, len = msg.payload[0].data[0].length; i < len; i++) \n{\n    //data.push({\"x\":data[i]._id, \"y\":Number(data[i].speed)});\n    t = assignState(msg.payload[0].data[0][i][\"y\"]);\n    if(t === 0 ) s[0]++;\n    if(t === 1 ) s[1]++;\n    if(t === 2 ) s[2]++;\n    if(t === 3 ) s[3]++;\n    data[i].state = t;\n}\n\ns = [s];\n\ndata = [{\"series\" : [\"Count\"],\"data\" : s, \"labels\" : [\"Low\",\"Medium\",\"High\",\"Very High\"]}];\n//data = data\nmsg.payload = data;\nreturn msg;\n\n\nfunction assignState(t)\n{\n    if(t < low) return 0;\n    if(t < med) return 1;\n    if(t < high) return 2;\n    if(t > high) return 3;\n    return (-1);\n}\n\n","outputs":1,"noerr":0,"x":1650,"y":660,"wires":[["e6f9d8dd.bae838","5369efab.e6064","3cc1c9a7.7d7806"]]},{"id":"e6f9d8dd.bae838","type":"debug","z":"53129dea.7328f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1810,"y":580,"wires":[]},{"id":"5369efab.e6064","type":"ui_chart","z":"53129dea.7328f4","name":"","group":"8863651.2072698","order":1,"width":4,"height":4,"label":"Pie chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Yet to recieve ot data is not availble in this context","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#6ee2c0","#36a4d3","#5441e1","#180070","#610000","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1860,"y":620,"wires":[[]]},{"id":"5ca273d3.079a7c","type":"debug","z":"53129dea.7328f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":600,"wires":[]},{"id":"b33ed17a.37571","type":"debug","z":"53129dea.7328f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1650,"y":620,"wires":[]},{"id":"3cc1c9a7.7d7806","type":"ui_chart","z":"53129dea.7328f4","name":"","group":"8863651.2072698","order":3,"width":4,"height":4,"label":"Bar chart","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Yet to recieve ot data is not availble in this context","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#6ee2c0","#36a4d3","#5441e1","#180070","#610000","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1860,"y":660,"wires":[[]]},{"id":"757bfbf5.93cdb4","type":"inject","z":"800b62e6.b3034","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"55 23 * * *","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["dea152be.76c49"]]},{"id":"ad6f870c.d1c548","type":"inject","z":"800b62e6.b3034","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"55 23 * * *","once":false,"onceDelay":0.1,"x":150,"y":280,"wires":[["dea152be.76c49"]]},{"id":"2119fe24.0ae6e2","type":"inject","z":"800b62e6.b3034","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"55 23 * * *","once":false,"onceDelay":0.1,"x":150,"y":320,"wires":[["dea152be.76c49"]]},{"id":"6e3b5dc5.2c8a54","type":"inject","z":"800b62e6.b3034","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"55 23 * * *","once":false,"onceDelay":0.1,"x":150,"y":360,"wires":[["dea152be.76c49"]]},{"id":"5cb05627.c8f438","type":"cloudantplus in","z":"53129dea.7328f4","name":"","cloudant":"","database":"wind-range","service":"node-red-attempt-cloudant-1591811325230-5226","search":"_all_","design":"","index":"","x":530,"y":400,"wires":[["aaceb41b.7edc48"]]},{"id":"625604a2.57d61c","type":"inject","z":"800b62e6.b3034","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["dea152be.76c49"]]},{"id":"a8bb269.d1734d8","type":"openweathermap","z":"f5a23a4d.81b778","name":"","wtype":"current","lon":"34.91","lat":"39.06","city":"","country":"","language":"en","x":330,"y":180,"wires":[["4c0bc4b7.44464c","ad570915.0c25e8"]]},{"id":"7637343e.5f35fc","type":"inject","z":"f5a23a4d.81b778","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"*/10 0-23 * * *","once":false,"onceDelay":"0.0","x":110,"y":180,"wires":[["a8bb269.d1734d8"]]},{"id":"6174d23c.2f5f7c","type":"debug","z":"f5a23a4d.81b778","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":200,"wires":[]},{"id":"4c0bc4b7.44464c","type":"function","z":"f5a23a4d.81b778","name":"PreToken","func":"global.set(\"ws1\",msg.payload.windspeed)\n\nvar apikey=\"uN7laep2usMXGnAxovs6OkXEst-qh_XBC_9IzHog7iYt\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":180,"wires":[["d293ca94.644f78"]]},{"id":"d48333f4.23e47","type":"http request","z":"f5a23a4d.81b778","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/e7312823-543f-4e76-b657-42927fee3e90/deployments/e74bdd3d-7e1a-47a0-94c4-e8dd13bbb376/online","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":240,"wires":[["5d9cdbb8.5e8854","b0362ba3.c5bed8"]]},{"id":"d293ca94.644f78","type":"http request","z":"f5a23a4d.81b778","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":180,"wires":[["d91f97be.45bc28","7a977f4b.7a415"]]},{"id":"d91f97be.45bc28","type":"function","z":"f5a23a4d.81b778","name":"Pre Prediction","func":"ws = global.get(\"ws\")\t\n\n//msg.payload = [ws,wd,wg,\"These were the inputs\"]\n\nvar token=msg.payload.access_token\nvar instance_id=\"e7312823-543f-4e76-b657-42927fee3e90\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"WindSpeed\"], \"values\": [[ws]]}\nreturn msg;\n//msg.payload={\"fields\": [\"WindSpeed\",\"Wind_Direction\",\"Gust\"], \"values\": [[ws,wd,wg]]}\n","outputs":1,"noerr":0,"x":940,"y":180,"wires":[["d48333f4.23e47"]]},{"id":"77af40f8.ce81","type":"function","z":"f5a23a4d.81b778","name":"mapping","func":"msg.payload = msg.payload.power\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":240,"wires":[["3d2c1d27.fc0e22","6174d23c.2f5f7c","625b9a52.4f69e4"]]},{"id":"3d2c1d27.fc0e22","type":"ui_chart","z":"f5a23a4d.81b778","name":"Dynamic Power vs Time","group":"1db3c0e6.8d2cdf","order":1,"width":16,"height":6,"label":"Power vs Time Chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"yet to recieve ot data is not availble in this context","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1310,"y":340,"wires":[[]]},{"id":"625b9a52.4f69e4","type":"function","z":"f5a23a4d.81b778","name":"Stats","func":"var min,max,total;\n\nmax   = global.get(\"max\");\nmin   = global.get(\"min\")\ntotal = global.get(\"total\")\n\n    \nif(msg.payload > max)\n    max = msg.payload;\nmax = Math.round(max * 100)/100;\n\nif(msg.payload < min)\n    min = msg.payload;\nmin = Math.round(min * 100)/100;\n\ntotal = total + msg.payload;\ntotal = Math.round(total * 100)/100;\n\n\n\nglobal.set(\"total\",total)\nglobal.set(\"min\",min)\nglobal.set(\"max\",max)\n\n\nmsg.payload = [total,min,max]\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":440,"wires":[["dbbe1109.b7b5a","1ad83f7b.91d1f1","6d8069a9.5dfbf8","af44c033.46826"]]},{"id":"dbbe1109.b7b5a","type":"debug","z":"f5a23a4d.81b778","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1390,"y":400,"wires":[]},{"id":"6d8069a9.5dfbf8","type":"ui_text","z":"f5a23a4d.81b778","group":"36e6129a.33d61e","order":1,"width":5,"height":1,"name":"","label":"Minimum Power","format":"{{msg.payload[1]}} KWh","layout":"row-spread","x":1400,"y":480,"wires":[]},{"id":"af44c033.46826","type":"ui_text","z":"f5a23a4d.81b778","group":"36e6129a.33d61e","order":3,"width":5,"height":1,"name":"","label":"Maximum Power","format":"{{msg.payload[2]}} KWh","layout":"row-spread","x":1410,"y":520,"wires":[]},{"id":"1ad83f7b.91d1f1","type":"ui_text","z":"f5a23a4d.81b778","group":"36e6129a.33d61e","order":5,"width":5,"height":1,"name":"","label":"Total Power","format":"<span > {{msg.payload[0]}} KWh</span>","layout":"row-spread","x":1390,"y":440,"wires":[]},{"id":"1644d409.95f2fc","type":"ui_template","z":"800b62e6.b3034","group":"","name":"Clock Toolbar","order":2,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"global","x":380,"y":40,"wires":[[]]},{"id":"9444f732.1bef18","type":"ui_dropdown","z":"53129dea.7328f4","name":"","label":"Date","tooltip":"","place":"","group":"11399384.66627c","order":2,"width":6,"height":1,"passthru":true,"multiple":false,"options":[],"payload":"","topic":"","x":930,"y":840,"wires":[["b9c8d055.fc4b5","9fbadd74.fa579"]]},{"id":"884e7a15.13e198","type":"ui_dropdown","z":"53129dea.7328f4","name":"","label":"Power Generation","tooltip":"","place":"Select option","group":"11399384.66627c","order":1,"width":6,"height":1,"passthru":false,"multiple":false,"options":[{"label":"All","value":"-1","type":"str"},{"label":"Low","value":0,"type":"num"},{"label":"Medium","value":1,"type":"num"},{"label":"High","value":2,"type":"num"},{"label":"Very High ","value":3,"type":"num"}],"payload":"","topic":"","x":950,"y":940,"wires":[["7a7d4199.9ce26"]]},{"id":"73c48ee0.28572","type":"function","z":"53129dea.7328f4","name":"notification templater","func":"var emailto = global.get(\"emailto\")\n\nvar notify = []; \n\n//Extracting based on date  \nfor(var i = 0 ; i < msg.payload.length ; i++)\n{\n   // msg.payload = sameDates(msg.payload[i][0])\n    //return msg;\n    if(sameDates(msg.payload[i][0]))\n    {\n        notify.push(msg.payload[i])\n\n    }\n}\n\n\nvar msgstr = \"\";\nmsgstr += \"<html><body><p>Today's Forecast</p>\"\nmsgstr += \"<table border=\\\"1\\\">\"\nmsgstr += \" <tr>\"\nmsgstr += \"     <th style=\\\"color : darkblue\\\">Time</th>\"\nmsgstr += \"     <th style=\\\"color : darkblue\\\">Duration</th>\"\nmsgstr += \"     <th style=\\\"color : darkblue\\\">State</th>\"\nmsgstr += \" </tr>\"\n\nfor(var j = 0;j < notify.length ; j++)\n{\nmsgstr += \" <tr>\"\n    msgstr += \"     <td>\"+notify[j][0]+\"</td>\"\n    msgstr += \"     <td>\"+notify[j][1]+\"</td>\"\n    msgstr += \"     <td>\"+notify[j][2]+\"</td>\"\nmsgstr += \" </tr>\"\n}\n\nmsgstr += \"</table>\"\nmsgstr += \"</br></br></br><p>For more check https://node-red-attempt.mybluemix.net/ui/#!/1?socketid=_-pcUiXRXX-JATcxAAAS</p>\"\nmsgstr  +=\"</body></html>\"\n\nmsg.payload = msgstr;\nmsg.to = emailto;\nmsg.topic = \"Wind energy forecast\"\nglobal.set(\"notify\",msg)\nreturn msg;\n\n\n\n\n\nfunction sameDates(d)\n{\n\n    var currentDate = new Date();\n    var cd = currentDate.getDate();\n\n    d = parseInt(d.substring(0,2));\n\n    if(cd == d)\n        return true;\n    else\n        return false;\n}","outputs":1,"noerr":0,"x":1680,"y":860,"wires":[["233889b2.40c8b6","107a789d.b59f47"]]},{"id":"233889b2.40c8b6","type":"debug","z":"53129dea.7328f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1770,"y":820,"wires":[]},{"id":"fcd5f558.56de88","type":"debug","z":"53129dea.7328f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1590,"y":820,"wires":[]},{"id":"7a977f4b.7a415","type":"debug","z":"f5a23a4d.81b778","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":120,"wires":[]},{"id":"5d9cdbb8.5e8854","type":"debug","z":"f5a23a4d.81b778","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":300,"wires":[]},{"id":"ad570915.0c25e8","type":"debug","z":"f5a23a4d.81b778","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":120,"wires":[]},{"id":"d734dc50.27b86","type":"debug","z":"53129dea.7328f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":460,"wires":[]},{"id":"12696cd1.029fa3","type":"debug","z":"800b62e6.b3034","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1040,"y":620,"wires":[]},{"id":"b70c00e4.ec99a","type":"debug","z":"800b62e6.b3034","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1260,"y":440,"wires":[]},{"id":"acad0213.e3cc7","type":"debug","z":"800b62e6.b3034","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1160,"y":380,"wires":[]},{"id":"1b940201.4e860e","type":"cloudant in","z":"53129dea.7328f4","name":"","cloudant":"9cf0acc3.7cf5f","database":"wind-energy","service":"node-red-attempt-cloudant-1591811325230-5226","search":"_all_","design":"","index":"","x":530,"y":480,"wires":[["16cb393.d48c6c7","c8d8c12a.d5c52","76b9b8f2.634fa8","beeefdc3.c00ac","c3a39602.29b848","d734dc50.27b86"]]},{"id":"bff58811.d9b1a8","type":"e-mail","z":"53129dea.7328f4","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":1670,"y":1300,"wires":[]},{"id":"b43d3421.059b18","type":"e-mail","z":"53129dea.7328f4","d":true,"server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"saipratyushaganti@gmail.com","dname":"","x":2070,"y":940,"wires":[]},{"id":"60bb1ed7.86933","type":"e-mail","z":"53129dea.7328f4","d":true,"server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"durgesh.majeti.007@gmail.com","dname":"","x":2050,"y":900,"wires":[]},{"id":"45270323.fd600c","type":"inject","z":"f5a23a4d.81b778","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":1030,"y":500,"wires":[["8fed4155.52afb"]]},{"id":"8fed4155.52afb","type":"function","z":"f5a23a4d.81b778","name":"","func":"global.set(\"max\",0);\nglobal.set(\"min\",1000000)\nglobal.set(\"total\",0)\n\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":500,"wires":[[]]},{"id":"9637ceba.659b4","type":"inject","z":"53129dea.7328f4","name":"","topic":"","payload":"","payloadType":"str","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":420,"wires":[["5cb05627.c8f438","1b940201.4e860e"]]},{"id":"21575471.fa574c","type":"function","z":"53129dea.7328f4","name":"","func":"global.set(\"emailto\",msg.payload)\n\nmsg.payload = global.get(\"emailto\")\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":1120,"wires":[["ee2f0de8.108db"]]},{"id":"3c870918.9309b6","type":"ui_text_input","z":"53129dea.7328f4","name":"","label":"Email","tooltip":"","group":"273ee087.68273","order":2,"width":5,"height":1,"passthru":false,"mode":"email","delay":"0","topic":"","x":1470,"y":1120,"wires":[["21575471.fa574c"]]},{"id":"ee2f0de8.108db","type":"ui_text","z":"53129dea.7328f4","group":"273ee087.68273","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1970,"y":1120,"wires":[]},{"id":"3209bdc2.1196f2","type":"ui_button","z":"53129dea.7328f4","name":"","group":"273ee087.68273","order":4,"width":0,"height":0,"passthru":false,"label":"Send","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1330,"y":1220,"wires":[["f696a57d.c9cba8"]]},{"id":"25255e7c.7566f2","type":"ui_template","z":"53129dea.7328f4","group":"11399384.66627c","name":"heading","order":3,"width":0,"height":0,"format":"<span style=\"color:#3BB9FF;font-size:20px\">Tiers Setting</span>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1280,"y":1040,"wires":[[]]},{"id":"8cd03506.9cbab8","type":"ui_template","z":"53129dea.7328f4","group":"11399384.66627c","name":"heading","order":8,"width":0,"height":0,"format":"<div><span style=\"color:#C0C0C0\">*using the tier values , power generation is classified into differnet states</span></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1120,"y":1040,"wires":[[]]},{"id":"4999c3e3.46848c","type":"inject","z":"53129dea.7328f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"05 00 * * *","once":false,"onceDelay":0.1,"x":1310,"y":1300,"wires":[["f696a57d.c9cba8"]]},{"id":"563a101a.515c5","type":"ui_template","z":"800b62e6.b3034","group":"4eca48d.5f6d4b8","name":"Timer","order":6,"width":5,"height":2,"format":"<div ></br><p id=\"timeRemaining\">loading</p></div>\n\n<script>\nvar endTime = new Date(3000, 10, 31,23,30).getTime() / 1000;\nfunction setClock() {\n    var elapsed = new Date().getTime() / 1000;\n    var totalSec =  endTime - elapsed;\n    var d = parseInt( totalSec / 86400 );\n    var h = parseInt( totalSec / 3600 ) % 24;\n    var m = parseInt( totalSec / 60 ) % 60;\n    var s = parseInt(totalSec % 60, 10);\n    var result = \"<span style=\\\"color:#686868\\\">*Update in \"+h + \"hr \" + m + \"min \" + s+\"sec</span>\";\n    document.getElementById('timeRemaining').innerHTML = result;\n    setTimeout(setClock, 1000);\n}\nsetClock();\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":490,"y":100,"wires":[[]]},{"id":"f5a36c44.f67c","type":"ui_template","z":"800b62e6.b3034","group":"6de1a4a1.c7decc","name":"DTimer","order":7,"width":6,"height":2,"format":"<div ></br><p id=\"timeRemaining\">loading</p></div>\n\n<script>\nvar endTime = new Date(3000, 10, 31,23,30).getTime() / 1000;\nfunction setClock() {\n    var elapsed = new Date().getTime() / 1000;\n    var totalSec =  endTime - elapsed;\n    var d = parseInt( totalSec / 86400 );\n    var h = parseInt( totalSec / 3600 ) % 24;\n    var m = parseInt( totalSec / 60 ) % 60;\n    var s = parseInt(totalSec % 60, 10);\n    var result = \"<span style=\\\"color:#686868\\\">*Update in  \"+h + \"hr \" + m + \"min \" + s+\"sec </span>\";\n    document.getElementById('timeRemaining').innerHTML = result;\n    setTimeout(setClock, 1000);\n}\nsetClock();\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":620,"y":100,"wires":[[]]},{"id":"635c6f82.2727e","type":"ui_template","z":"800b62e6.b3034","group":"36e6129a.33d61e","name":"LTimer","order":9,"width":"6","height":"2","format":"<div ></br><p id=\"timeRemaining\">loading</p></div>\n\n<script>\nvar endTime = new Date(3000, 10, 31,00,9,00).getTime() / 1000;\nfunction setClock() {\n    var elapsed = new Date().getTime() / 1000;\n    var totalSec =  endTime - elapsed;\n    var d = parseInt( totalSec / 86400 );\n    var h = parseInt( totalSec / 3600 ) % 24;\n    var m = parseInt( totalSec / 60 ) % 60 + 1;\n    var s = parseInt(totalSec % 60, 10) + 1;\n    var result = \"<span style=\\\"color:#686868\\\">Update in \"+ m%10 + \"min \" +s+\"sec</span>\";\n    document.getElementById('timeRemaining').innerHTML = result;\n    setTimeout(setClock, 1000);\n}\nsetClock();\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":750,"y":100,"wires":[[]]},{"id":"41dd7dfa.16c624","type":"inject","z":"f5a23a4d.81b778","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":1010,"y":340,"wires":[["3d2c1d27.fc0e22","8fed4155.52afb"]]},{"id":"83268fc5.7f1e6","type":"cloudant out","z":"f5a23a4d.81b778","name":"","cloudant":"ae8dd01f.fb1fa","database":"power-history","service":"node-red-attempt-cloudant-1591811325230-5226","payonly":true,"operation":"insert","x":840,"y":300,"wires":[]},{"id":"ba05f396.9785a","type":"cloudant in","z":0,"name":"","cloudant":"ae8dd01f.fb1fa","database":"power-history","service":"node-red-attempt-cloudant-1591811325230-5226","search":"_all_","design":"","index":"","x":280,"y":180,"wires":[["84eeb96.49dc648","c7db79f3.3709b8"]]},{"id":"c8d3c046.f02e7","type":"inject","z":0,"name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["ba05f396.9785a"]]},{"id":"84eeb96.49dc648","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":220,"wires":[]},{"id":"1d9f2470.2c482c","type":"ui_chart","z":0,"name":"Dynamic Power vs Time","group":"7cd4df07.f53cd","order":1,"width":21,"height":8,"label":"Power(KWh) vs Time Chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"yet to recieve ot data is not availble in this context","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000000000000000000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":140,"wires":[[]]},{"id":"c7db79f3.3709b8","type":"function","z":0,"name":"mapping 1","func":"var series =[\"Power\"];\n\nvar labels = [\"Time\"];\n\nvar data = [];\n\nvar i, len;\n\nfor (i = 1, len = msg.payload.length; i < len; i++) \n{\n    data.push({\"x\":msg.payload[i]._id, \"y\":Number(msg.payload[i].power)});\n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":160,"wires":[["1d9f2470.2c482c","761ef4bf.c930ec"]]},{"id":"761ef4bf.c930ec","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":200,"wires":[]},{"id":"b0362ba3.c5bed8","type":"function","z":"f5a23a4d.81b778","name":"Saving in Cloudant","func":"\nvar ws1 = global.get('ws1')\nmsg.payload = {\n    _id   : msg.time,\n    power : msg.payload.values[0][0],\n    speed : ws1,\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":240,"wires":[["77af40f8.ce81","83268fc5.7f1e6","8301f1f5.8c5de"]]},{"id":"107a789d.b59f47","type":"function","z":"53129dea.7328f4","name":"","func":"\nmsg.payload = global.get(\"emailto\")\nreturn msg;","outputs":1,"noerr":0,"x":1910,"y":1020,"wires":[["ee2f0de8.108db"]]},{"id":"8301f1f5.8c5de","type":"debug","z":"f5a23a4d.81b778","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":280,"wires":[]},{"id":"fadaa31a.d70ce","type":"debug","z":"53129dea.7328f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":720,"wires":[]},{"id":"b9c8d055.fc4b5","type":"debug","z":"53129dea.7328f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1080,"y":860,"wires":[]},{"id":"f6056ac7.cc3038","type":"debug","z":"53129dea.7328f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1120,"y":740,"wires":[]},{"id":"52d5d549.1101ac","type":"debug","z":"53129dea.7328f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":740,"wires":[]},{"id":"f696a57d.c9cba8","type":"function","z":"53129dea.7328f4","name":"","func":"msg = global.get(\"notify\")\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":1300,"wires":[["bff58811.d9b1a8"]]},{"id":"9fbadd74.fa579","type":"function","z":"53129dea.7328f4","name":"Saving globally","func":"global.set(\"date2\",parseInt(msg.payload))\nmsg.payload = parseInt(msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":1200,"y":820,"wires":[["c88c4348.5756f"]]},{"id":"c1d8ebff.0f1ac8","type":"debug","z":"53129dea.7328f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1240,"y":960,"wires":[]},{"id":"9624b3ab.f8592","type":"ui_template","z":"53129dea.7328f4","group":"3997fead.8ce6b2","name":"5d summary message","order":3,"width":0,"height":0,"format":"<div><span style=\"color:#C0C0C0\">*units in 3hr interval</span></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":260,"y":840,"wires":[[]]},{"id":"60aea35b.26443c","type":"ui_template","z":"53129dea.7328f4","group":"8863651.2072698","name":"dash summary msg","order":4,"width":0,"height":0,"format":"<div><span style=\"color:#C0C0C0\">*units in 3hr interval</span></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":270,"y":800,"wires":[[]]},{"id":"5e35cf.ea48ba3","type":"ui_template","z":"53129dea.7328f4","group":"dfbf0cc5.12543","name":"tier 5","order":3,"width":0,"height":0,"format":"<div fxLayout=\"row\" fxFlex>\n    <span style=\"color : rgb(110,226,192);\" >0 - Low &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </span>\n    <span style=\"color : rgb(54,164,211)\" >1 - Medium &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>\n    <span style=\"color : rgb(84,65,225)\" >2 - High    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>\n    <span style=\"color : rgb(24,0,112)\" >3 - Very High &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":190,"y":880,"wires":[[]]},{"id":"acba6fe6.4bd6d","type":"ui_template","z":"53129dea.7328f4","group":"cb215063.8c47b","name":"tier dash","order":3,"width":0,"height":0,"format":"<div fxLayout=\"row\" fxFlex>\n    <span style=\"color : rgb(110,226,192);\" >0 - Low &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </span>\n    <span style=\"color : rgb(54,164,211)\" >1 - Medium &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>\n    <span style=\"color : rgb(84,65,225)\" >2 - High    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>\n    <span style=\"color : rgb(24,0,112)\" >3 - Very High &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":200,"y":920,"wires":[[]]},{"id":"6b725c07.b70a64","type":"function","z":"53129dea.7328f4","name":"","func":"msg.payload = -1;\nmsg.options = global.get(\"doptions\")\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":780,"wires":[["8c8a768a.811748","5baf916d.d3852"]]},{"id":"9b67ceef.55a5e","type":"inject","z":"53129dea.7328f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":true,"onceDelay":0.1,"x":550,"y":780,"wires":[["6b725c07.b70a64"]]},{"id":"5baf916d.d3852","type":"debug","z":"53129dea.7328f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":720,"wires":[]},{"id":"5cc0ded0.570af","type":"inject","z":"53129dea.7328f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":550,"y":820,"wires":[["371a8d02.5b3762"]]},{"id":"371a8d02.5b3762","type":"function","z":"53129dea.7328f4","name":"","func":"msg.payload = -1;\nmsg.options = global.get(\"doptions\")\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":820,"wires":[["9444f732.1bef18"]]},{"id":"25499820.9e1278","type":"inject","z":"31f97850.c0aff8","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["582a4239.a3baac"]]},{"id":"582a4239.a3baac","type":"cloudant in","z":"31f97850.c0aff8","name":"","cloudant":"ae8dd01f.fb1fa","database":"power-history","service":"node-red-attempt-cloudant-1591811325230-5226","search":"_all_","design":"","index":"","x":300,"y":140,"wires":[["3e4a1087.159df","b31f05ab.4ba948"]]},{"id":"3e4a1087.159df","type":"debug","z":"31f97850.c0aff8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":300,"wires":[]},{"id":"b31f05ab.4ba948","type":"function","z":"31f97850.c0aff8","name":"mapping 1","func":"var series =[\"Power\"];\n\nvar labels = [\"Time\"];\n\nvar data = [];\n\nvar i, len;\n\nfor (i = 1, len = msg.payload.length; i < len; i++) \n{\n    data.push({\"x\":msg.payload[i]._id, \"y\":Number(msg.payload[i].power)});\n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":415.10005950927734,"y":92.60000705718994,"wires":[["4c4e0982.ea6648","c3056878.e53268"]]},{"id":"4c4e0982.ea6648","type":"ui_chart","z":"31f97850.c0aff8","name":"Dynamic Power vs Time","group":"7cd4df07.f53cd","order":1,"width":21,"height":8,"label":"Power(KWh) vs Time Chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"yet to recieve ot data is not availble in this context","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000000000000000000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":535.1000595092773,"y":192.60000705718994,"wires":[[]]},{"id":"c3056878.e53268","type":"debug","z":"31f97850.c0aff8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":100,"wires":[]}]